


//SITE WIDE STYLES
.section-hr {
  width: 150px;
  margin: auto;
  border-top: 3px solid;
}


#pageNav {
  .btn{
    background-color: white;
  }
  .btn:hover{
    background-color: black;
    color: white;
  }
}

#mainNavbar {
  font-weight: 400;

  .familybtn {
    text-decoration: none;
    color: white;
  }
  .familybtn:hover {
    background-color: black;
  }

  .navbar-brand h3 {
    font-weight: 500;
  }

  .navbar-brand h3:hover {
    background-color: black;
  }

  .nav-item {
    font-size: 1.4rem;
  }
  .nav-link:hover {
    transition: border 0.2s;
    border-bottom: 1px solid white;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    // margin-top: 0; // remove the gap so it doesn't close
  }

  .navbar-nav {
    li {
      .dropdown-menu {
        background-color: #727374;
        opacity: 0.9;
      }
      .dropdown-item:hover {
        background-color: black;
        color: white;
      }
    };
  }
}

//HOME PAGE

#core {
  min-height: 300px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

#educationLevels {
  a {
    text-decoration: none;
    color: black;
  }
  h4 {
    background-color: white;
  }
  a:hover {
    h4 {
      background-color: black;
      color: white;
    }
  }
}



//ABOUT PAGE
#aboutShowcase {
  background: url("/images/tabernacleWide.jpg") bottom center / cover no-repeat;
  min-height: 400px;
  position: relative;
  #aboutHeader {
    z-index: 2;
  }
  #aboutOverlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

#faculty {
  .about-link {
    border: 1px solid black;
    border-radius: 500px;
    padding: 2px 2px 2px 2px;
    background-color: black;
    text-decoration: none;
    color: white;
  }

  a {
    text-decoration: none;
    h5 {

      color: black;
    }
  }
  a:hover {
    h5 {
      background-color: black;
      color: white;
    }
    img {
      border: 5px solid black;
    }
  }
}

#vision {
  .center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 550px;
    width: 550px;
  }
}



// CAMPUS OUTREACH

#outreach {
  a {
    text-decoration: none;
    color: black;
    h3 {
      background-color: white;
    }
  }
  a:hover {
    h3 {
      background-color: black;
      color: white;
    }
  }
}


// TIGER LIFE

#tigerLife {
  a {
    text-decoration: none;
    color: black;
  }
  h3 {
    background-color: white;
  }
  a:hover {
    h3 {
      background-color: black;
      color: white;
    }
  }
}

//SCHOOL PORTALS
#portals {
  a {
    text-decoration: none;
    color: black;
  }
  h3 {
    background-color: white;
  }
  a:hover {
    h3 {
      background-color: black;
      color: white;
    }
  }
}


//Tech Agreement Form
#techAgreement {
  #sig-canvas {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
  }
}







//GENERAL PURPOSE
.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 300px;
  width: 300px;
}

//Uniform Guidelines

#dressCode {
  table {
    th {
      background-color: rgb(224, 224, 224);
    }
  }
}


//FOOTER

#futureAction {
  a {
    color: white;
  }
  a:hover {
    background-color: black;
  }
}