// TO START SASS COMPILER FOR CHANGES USE:
// sass --watch scss/main.scss:public/css/app.css


///////////CUSTOM CLASSES & IDS I AM USING TO STYLE ACROSS WHOLE WEBSITE
.showHead {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.section-hr {
  width: 150px;
  margin: auto;
  border-top: 3px solid;
}

.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 300px;
  width: 300px;
}

#pageNav {
  .btn {
    background-color: white;
  }
  .btn:hover {
    background-color: black;
    color: white;
  }
}

#mainNavbar {
  font-weight: 400;

  .familybtn {
    text-decoration: none;
    color: white;
  }
  .familybtn:hover {
    background-color: black;
  }

  .navbar-brand h3 {
    font-weight: 500;
  }

  .navbar-brand h3:hover {
    background-color: black;
  }

  .nav-item {
    font-size: 1.4rem;
  }
  .nav-link:hover {
    transition: border 0.2s;
    border-bottom: 1px solid white;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    // margin-top: 0; // remove the gap so it doesn't close
  }

  .navbar-nav {
    li {
      .dropdown-menu {
        background-color: white;
        opacity: 0.9;
      }
      .dropdown-item:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

//FOOTERs
#futureAction {
  a {
    color: white;
  }
  a:hover {
    background-color: black;
  }
}


//////// THE HOME PAGE
#core {
  min-height: 300px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

#educationLevels {
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: black;
    h4 {
      background-color: white;
    }
  }
}


#now-hiring {
   a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: white;
    h2 {
      background-color: black;
    }
  }
}

#summer-daycare {
  background-color: #f3b700;
  color: black;


  a {
    color: black;
    font-size: 2.5rem;
    text-decoration: none;
  }
  a:hover {
    color: #0000EE;
    text-decoration: underline;
  }
}

/////////// THE ABOUT PAGE
#aboutShowcase {
  background: url("/images/tabernacleWide.jpg") bottom center / cover no-repeat;
  min-height: 350px;
  position: relative;
  #aboutHeader {
    z-index: 2;
  }
  #aboutOverlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

#faculty {
  .about-link {
    border: 1px solid black;
    border-radius: 500px;
    padding: 2px 2px 2px 2px;
    background-color: black;
    text-decoration: none;
    color: white;
  }

  a {
    text-decoration: none;
    h5 {
      color: black;
    }
  }
  a:hover {
    h5 {
      background-color: black;
      color: white;
    }
    img {
      border: 5px solid black;
    }
  }
}

#vision {
  .center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 550px;
    width: 550px;
  }
}

/////////// ADMISSIONS PAGE
#admissionsShowcase {
  background: url("/images/admissions.jpeg") bottom center / cover no-repeat;
  min-height: 350px;
  position: relative;
  #admissionHeader {
    z-index: 2;
  }
  #admissionOverlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

////////////// THE ACADEMICS PAGE
#academicShowcase {
  background: url("/images/academics.jpeg") bottom center / cover no-repeat;
  min-height: 350px;
  position: relative;
  #academicHeader {
    z-index: 2;
  }
  #academicOverlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

/////////// THE CAMPUS PAGE
#campusShowcase {
  background: url("/images/campus.jpeg") bottom center / cover no-repeat;
  min-height: 350px;
  position: relative;
  #campusHeader {
    z-index: 2;
  }
  #campusOverlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

#outreach {
  a {
    text-decoration: none;
    color: black;
    h3 {
      background-color: white;
    }
  }
  a:hover {
    h3 {
      background-color: black;
      color: white;
    }
  }
}

////////////// THE FAMILY PAGE
#familyShowcase {
  background: url("/images/family.jpeg") bottom center / cover no-repeat;
  min-height: 350px;
  position: relative;
  #familyHeader {
    z-index: 2;
  }
  #familyOverlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

#tigerLife {
  a {
    text-decoration: none;
    color: black;
  }
  h3 {
    background-color: white;
  }
  a:hover {
    h3 {
      background-color: black;
      color: white;
    }
  }
}

#forms {
  a {
    text-decoration: none;
    i {
      color: black;
    }
  }
  a:hover {
    button {
      background-color: black;
      color: white;
    }
  }
}

#schoolInfo {
  a {
    text-decoration: none;
    i {
      color: black;
    }
  }
  a:hover {
    button {
      background-color: black;
      color: white;
    }
  }
}

#portals {
  a {
    text-decoration: none;
    color: black;
  }
  h3 {
    background-color: white;
  }
  a:hover {
    h3 {
      background-color: black;
      color: white;
    }
  }
}

//JUNK CSS LOL
//Tech Agreement Form
#techAgreement {
  #sig-canvas {
    border: 2px dotted #cccccc;
    border-radius: 15px;
    cursor: crosshair;
  }
}

//TEMPORARY STYLES

#open-house {
  h5 {
    font-size: larger;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  hr {
    height: 3px;
  }
}
