//SITE WIDE STYLES
.section-hr {
  width: 150px;
  margin: auto;
  border-top: 3px solid;
}

#mainNavbar {
  font-weight: 400;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   z-index: 3;
  .navbar-brand h3 {
    font-weight: 100;
  }
  .nav-item {
    font-size: 1.4rem;
  }
  .nav-link:hover {
    transition: border 0.2s;
    border-bottom: 1px solid white;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }
}

//HOME PAGE

#core {
  min-height: 300px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

//ABOUT PAGE
#aboutShowcase {
  background: url("/images/tabernacleWide.jpg") bottom center / cover no-repeat;
  min-height: 400px;
  position: relative;
  #aboutHeader {
    z-index: 2;
  }
  #aboutOverlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

#faculty {
  .about-link {
    color: red;
    text-decoration: none;
  }
}

#vision {
  .center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 550px;
    width: 550px;
  }
}



//TS FAMILY PAGE

#familyShowcase {
    /* Main styles */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
  .text {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
  }
  .text:nth-child(5n+1) {
    stroke: #F2385A;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
  }
  .text:nth-child(5n+2) {
    stroke: #F5A503;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
  }
  .text:nth-child(5n+3) {
    stroke: #E9F1DF;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
  }
  .text:nth-child(5n+4) {
    stroke: #56D9CD;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
  }
  .text:nth-child(5n+5) {
    stroke: #3AA1BF;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
  }

  @-webkit-keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }
  @keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }
  /* Other styles */
  
    height: 100%;
    background: black;
    background-size: 0.2em 100%;
    font: 5em/1 Open Sans, Impact;
    text-transform: uppercase;
    margin: 0;
  
}



//Tech Agreement Form
#techAgreement {
  #sig-canvas {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
  }
}







//GENERAL PURPOSE
.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 300px;
  width: 300px;
}

//Uniform Guidelines

#dressCode {
  table {
    th {
      background-color: rgb(224, 224, 224);
    }
  }
}
