//SITE WIDE STYLES
.section-hr {
  width: 150px;
  margin: auto;
  border-top: 3px solid;
}

#mainNavbar {
  font-weight: 400;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   z-index: 3;
  .navbar-brand h3 {
    font-weight: 100;
  }
  .nav-item {
    font-size: 1.4rem;
  }
  .nav-link:hover {
    transition: border 0.2s;
    border-bottom: 1px solid white;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }
}

//HOME PAGE

#core {
  min-height: 300px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

//ABOUT PAGE
#aboutShowcase {
  background: url("/images/tabernacleWide.jpg") bottom center / cover no-repeat;
  min-height: 400px;
  position: relative;
  #aboutHeader {
    z-index: 2;
  }
  #aboutOverlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

#faculty {
  .btn {
    background-color: #f4ca16;
    border: 4px solid black;
  }
}

#vision {
  .center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 550px;
    width: 550px;
  }
}

//GENERAL PURPOSE
.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 300px;
  width: 300px;
}
