<section id="nextSteps" class="py-5 bg-info text-white">
    <div class="container">
        <h2 class="text-center display-4">Next Steps</h2>
        <hr class="section-hr">
        <p class="text-center mt-4">We hope you will consider enrolling and encourage you to seek more information about the process.</p>
        <div class="row my-5">
            <div class="col-4 d-flex justify-content-center">
                <button class="btn btn-lg btn-warning rounded">Schedule A Tour</button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button class="btn btn-lg btn-warning">Apply Online</button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button class="btn btn-lg btn-warning">Tuition & Fees</button>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <p><i>Tabernacle School admits students of any race, color, national and ethnic origin to all the rights, privileges, programs, and activities generally accorded or made available to students. Tabernacle does not discriminate on the basis of race, color, national and ethnic origin in administration of their educational policies, admissions policies, scholarship and loan programs and athletic and other school administered programs.</i></p>
            </div>
        </div>
    </div>
</section>


<section id="footer" class="bg-light">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    Tabernacle school
                    <br>
                    4380 Concord Blvd
                    <br>
                    Concord, CA 94521
                </p>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    <b>Phone:</b> (925) 685-9169
                    <br>
                    <b>Email:</b> <a href="mailto:info@tbs.org">info@tbs.org</a>

                </p>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    <b>Hours:</b> 6:30AM-6:30PM
                    <br>
                    <b>Days:</b> Monday - Friday
                </p>
            </div>
        </div>
    </div>
</section>

<section id="webDeveloper" class="bg-dark py-1">
    <div class="container text-center text-white mt-3">
        <p>Website by <a href="">Matthew Pereira</a></p>
    </div>
</section>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>