<section id="nextSteps" class="py-5 bg-info text-white">
    <div class="container">
        <h2 class="text-center display-4">Future Action</h2>
        <hr class="section-hr">
        <p class="text-center mt-4 lead">We hope you will consider enrolling and encourage you to seek more information about the process.</p>
        <div class="row my-5">
            <div class="col-4 d-flex justify-content-center">
                <a href="/admissions" class="btn btn-lg btn-outline-light border border-3 border-light"><strong>Schedule A Tour</strong></a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a href="/admissions" class="btn btn-lg btn-outline-light border border-3 border-light"><strong>Apply Online</strong></a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a href="/admissions#charges" class="btn btn-lg btn-outline-light border border-3 border-light"><strong>Tuition & Fees</strong></a>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <p class="text-center"><i>Tabernacle School admits students of any race, color, national and ethnic origin to all the rights, privileges, programs, and activities generally accorded or made available to students. Tabernacle does not discriminate on the basis of race, color, national and ethnic origin in administration of their educational policies, admissions policies, scholarship and loan programs and athletic and other school administered programs.</i></p>
            </div>
        </div>
    </div>
</section>

<ul class="nav justify-content-around bg-dark d-none d-md-flex">
    <!-- <li class="nav-item">
      <a class="nav-link text-white" aria-current="page" href="#">News</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link text-white" href="/admissions">Apply Now</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/contact">Contact Us</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link text-white" href="#">Donate</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link text-white" href="/employment">Employment</a>
      </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="https://www.facebook.com/Tabernacle-School-145610978797440/"><i class="fab fa-facebook-square"></i></a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link text-white" href="#"><i class="fab fa-twitter-square"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#"><i class="fab fa-instagram"></i></a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link text-white" href="https://www.yelp.com/biz/tabernacle-school-concord"><i class="fab fa-yelp"></i></a>
    </li>
  </ul>


<section id="footer" class="bg-light pt-5 pb-4">
    <div class="container">
        <div class="row align-items-center text-center justify-content-around">
            <div class="col-md-4">
                <p>
                    Tabernacle school
                    <br>
                    4380 Concord Blvd
                    <br>
                    Concord, CA 94521
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    (925) 685-9169
                    <br>
                    <a href="mailto:info@tbs.org">info@tbs.org</a>

                </p>
            </div>
            <div class="col-md-4">
                <p>
                    Monday - Friday
                    <br>
                    6:30AM - 6:30PM
                </p>
            </div>
        </div>
    </div>
</section>

<section id="webDeveloper" class="bg-secondary py-1">
    <div class="container text-center text-white mt-3">
        <p>Website by <a href="" class="link-light">Matt Pereira</a></p>
    </div>
</section>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>