<ul class="nav justify-content-end bg-info d-none d-md-flex">
    <li class="nav-item">
      <a class="nav-link text-white" aria-current="page" href="#">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Apply Now</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Donate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">Employment</a>
      </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="https://www.facebook.com/Tabernacle-School-145610978797440/"><i class="fab fa-facebook-square"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#"><i class="fab fa-twitter-square"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#"><i class="fab fa-instagram"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="https://www.yelp.com/biz/tabernacle-school-concord"><i class="fab fa-yelp"></i></a>
    </li>
  </ul>

<nav class="nav navbar navbar-expand-lg navbar-dark bg-primary py-4 sticky-top" id="mainNavbar">
    <a href="/" class="navbar-brand">
        <h3 class="mb-0 ms-3"><i class="fas fa-school"></i> <b>Tabernacle School</b></h3>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapseMainNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseMainNavbar">
        <ul class="navbar-nav ms-auto me-5">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a href="/about" class="nav-link" id="mainNavbarDropdown" aria-expanded="false">
                    About
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="mainNavbarDropdown">
                    <li><a class="dropdown-item" href="/about">History</a></li>
                    <li><a class="dropdown-item" href="/about">Faculty</a></li>
                    <li><a class="dropdown-item" href="/about">Mission</a></li>
                    <li><a class="dropdown-item" href="/about">Vision</a></li>
                    <li><a class="dropdown-item" href="/about">Values</a></li>
                    <li><a class="dropdown-item" href="/about">Programs</a></li>
                  </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="/admissions" class="nav-link" id="mainNavbarDropdown" aria-expanded="false">
                    Admissions
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="mainNavbarDropdown">
                    <li><a class="dropdown-item" href="/admissions">Visit Us!</a></li>
                    <li><a class="dropdown-item" href="/admissions">Tuition & Fees</a></li>
                    <li><a class="dropdown-item" href="/admissions">Enrollment Process</a></li>
                  </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="/academics" class="nav-link" id="mainNavbarDropdown" aria-expanded="false">
                    Academics
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="mainNavbarDropdown">
                    <li><a class="dropdown-item" href="/academics">Common Core</a></li>
                    <li><a class="dropdown-item" href="/academics">ESLR</a></li>
                    <li><a class="dropdown-item" href="/academics">Preschool</a></li>
                    <li><a class="dropdown-item" href="/academics">Elementary</a></li>
                    <li><a class="dropdown-item" href="/academics">Junior High</a></li>
                    <li><a class="dropdown-item" href="/academics">Distance Learning</a></li>
                  </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="/campus" class="nav-link" id="mainNavbarDropdown" aria-expanded="false">
                    Campus
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="mainNavbarDropdown">
                    <li><a class="dropdown-item" href="/campus">Calendar</a></li>
                    <li><a class="dropdown-item" href="/campus">Daycare</a></li>
                    <li><a class="dropdown-item" href="/campus">Athletics</a></li>
                    <li><a class="dropdown-item" href="/campus">Safety</a></li>
                    <li><a class="dropdown-item" href="/campus">Outreach</a></li>
                </ul>
            </li>
            <a href="/family"class="btn btn-warning btn-lg ms-3">TS Family</a>
        </ul>
    </div>
</nav>