
<nav id="mainNavbar" class="nav navbar navbar-expand-lg navbar-dark bg-primary sticky-top py-3">
    <a href="/" class="navbar-brand">
        <h3 class="mb-0 ms-4 border border-white border-4 p-2 rounded"><strong>TABERNACLE SCHOOL</strong></h3>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapseMainNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseMainNavbar">
        <ul class="navbar-nav ms-auto me-5 align-items-center">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a href="about" class="nav-link" id="mainNavbarDropdown" aria-expanded="false">
                    About
                </a>
                <ul class="dropdown-menu" aria-labelledby="mainNavbarDropdown">
                    <li><a class="dropdown-item" href="/about#history">History</a></li>
                    <li><a class="dropdown-item" href="/about#faculty">Faculty</a></li>
                    <li><a class="dropdown-item" href="/about#values">Values</a></li>
                    <li><a class="dropdown-item" href="/about#vision">Vision</a></li>
                    <li><a class="dropdown-item" href="/about#programs">Programs</a></li>
                  </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="/admissions" class="nav-link" id="mainNavbarDropdown" aria-expanded="false">
                    Admissions
                </a>
                <ul class="dropdown-menu" aria-labelledby="mainNavbarDropdown">
                    <li><a class="dropdown-item" href="/admissions#visit">Visit Us!</a></li>
                    <li><a class="dropdown-item" href="/admissions#charges">Tuition & Fees</a></li>
                    <li><a class="dropdown-item" href="/admissions#process">Enrollment Process</a></li>
                  </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="/academics" class="nav-link" id="mainNavbarDropdown" aria-expanded="false">
                    Academics
                </a>
                <ul class="dropdown-menu" aria-labelledby="mainNavbarDropdown">
                    <li><a class="dropdown-item" href="/academics#preschool">Preschool</a></li>
                    <li><a class="dropdown-item" href="/academics#elementary">Elementary</a></li>
                    <li><a class="dropdown-item" href="/academics#juniorHigh">Junior High</a></li>
                    <li><a class="dropdown-item" href="/academics#distanceLearning">Distance Learning</a></li>
                    <li><a class="dropdown-item" href="/academics#commonCore">Common Core</a></li>
                    <li><a class="dropdown-item" href="/academics#eslr">ESLR</a></li>
                  </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="/campus" class="nav-link" id="mainNavbarDropdown" aria-expanded="false">
                    Campus
                </a>
                <ul class="dropdown-menu" aria-labelledby="mainNavbarDropdown">
                    <li><a class="dropdown-item" href="/campus#calendar">Calendar</a></li>
                    <li><a class="dropdown-item" href="/campus#athletics">Athletics</a></li>
                    <li><a class="dropdown-item" href="/campus#daycare">Daycare</a></li>
                    <li><a class="dropdown-item" href="/campus#safety">Safety</a></li>
                    <li><a class="dropdown-item" href="/campus#outreach">Outreach</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="https://tabernacleschool.wpcomstaging.com/contact/" class="nav-link" id="minNavbarDropdown">Contact</a>
            </li>
            <a href="/family/tsFamily" class="border border-white border-3 p-2 rounded familybtn mx-4"><strong>TS FAMILY</strong></a>
        </ul>
    </div>
</nav>