<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Alexis Jue</h1>
    <h3 class="display-6 text-center text-primary">First Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/alexisJue/alexisMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I am very excited to be teaching 1st grade at Tabernacle. I was born and raised in Concord, CA. For grades K-8 I attended public school in Mt. Diablo Unified School District and graduated from Clayton Valley High School. I continued my education in Southern California at Azusa Pacific University where I earned my Bachelors  Degree in Liberal with an emphasis in Special Education. During my student teaching I had the opportunity to student teach in both private and public schools and I’m thankful I have the privilege to be at a school where I can enrich children’s academics, but most importantly teach them how to love the Lord. 
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-5">
            <img src="/images/faculty/alexisJue/alexis3.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/alexisJue/alexis2.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/alexisJue/alexis1.jpg" class="img-fluid my-1" alt="">

        </div>
        <div class="col-md-7">
            <img src="/images/faculty/alexisJue/alexis5.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/alexisJue/alexis4.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/alexisJue/alexis7.jpg" class="img-fluid my-1" alt="">   
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 