<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Alexander Buckley</h1>
    <h3 class="display-6 text-center text-primary">Physical Education Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/alexanderBuckley/alexMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    Hello, my name is Alex Buckley and I have been working at Tabernacle for the past 9 years. I was born and raised in Concord and went to Tabernacle as a student, starting in first grade and finishing in 8th grade in 2008, and then attended De La Salle High School (Go Spartans!), where I played football for 4 years and baseball for 2. I also have a brother and sister who both attended Tabernacle from kindergarten to 8th grade, and De La Salle/Carondelet, where they both graduated as well. After graduating in 2012, I continued my education at DVC for 1 year and then moved down to San Diego to continue my education down there. About two years ago, after completing my education online, I earned my degree in Business Administration from Grand Canyon University. I currently teach PE and oversee all operations for the after school/summer daycare program. Along with teaching these students in this area of their education, I enjoy being able to coach some of the school sports including boys’ soccer and volleyball. 
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/alexanderBuckley/alex1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/alexanderBuckley/alex3.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/alexanderBuckley/alex2.jpg" class="img-fluid mb-1" alt="">
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 