<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Amie Robison</h1>
    <h3 class="display-6 text-center text-primary">Physical Education Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/amieRobison/amieMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    Hello! My name is Amie Robison and I’m so excited to be here! I’ve been married to my husband, Mark, for 14 years and have three fantastic kids, Kaitlyn(12), Lily(7) and Isaac(5)! All three of them attend Tabernacle! I graduated from Sonoma State University in 2000 where I earned my Psychology degree. I have experience teaching and working with differently abled children as well as troubled youth. My background includes working in law enforcement.
                </p>
                <p class="lead">
                    I love all sports! Softball was my sport of choice and in 1987 my little league softball team represented the West and went to the Little League World Series in Kalamazoo, MI. We came in 2nd place to Florida! I continued to play softball at the college level. If I have spare time you can find me gardening in my yard with my chickens running around!
                </p>
                <p class="lead">
                    One of my favorite Bible verses: Isaiah 30:21~ Whether you turn to the right or to the left, your ears will hear a voice behind you, saying, “This is the way; walk in it.”
                </p>
            </div>
        </div>
</section>

<!-- <section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/charinaMoore/charina1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/charinaMoore/charina2.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/charinaMoore/charina3.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty//charinaMoore/charina5.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/charinaMoore/charina4.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/charinaMoore/charina6.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/charinaMoore/charina8.jpg" class="img-fluid my-1" alt="">   
        </div>
    </div>
</div>
</section> -->



<%- include('../partials/footer.ejs') %> 