<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Ashley Lecair</h1>
    <h3 class="display-6 text-center text-primary">Second Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/ashleyLecair/ashleyMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I have lived in the bay area for the majority of my life and am even a Tabernacle graduate, myself.  Although this is my third year teaching at Tabernacle, this is my fifth year teaching second grade and my seventh year in education. I love children and the Lord, and I feel immeasurably blessed to have the two things I am most passionate about be my career. One of my favorite verses is Job 8:7, “Your beginnings will seem humble, so prosperous will be your future.” Be grateful for each day with each blessing it brings! God is good! 
                </p>
            </div>
        </div>
</section>

<!-- <section class="">
    <div class="row g-2">
        <div class="col-md-5">
            <img src="/images/faculty/alexisJue/alexis3.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/alexisJue/alexis2.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/alexisJue/alexis1.jpg" class="img-fluid my-1" alt="">

        </div>
        <div class="col-md-7">
            <img src="/images/faculty/alexisJue/alexis5.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/alexisJue/alexis4.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/alexisJue/alexis7.jpg" class="img-fluid my-1" alt="">   
        </div>
    </div>
</div>
</section> -->



<%- include('../partials/footer.ejs') %> 