<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Betty Mason</h1>
    <h3 class="display-6 text-center text-primary">Kindergarten Teacher & Jr. Kindergarten Director</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/bettyMason/bettyMain.jpg" class="img-fluid border border-5 border-white center-cropped" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I have been at Tabernacle for 17 years teaching Junior Kindergarten for 1 year, Transitional Kindergarten for 3 years, and Kindergarten for 13 years. I also have the privilege of being the Director of Junior Kindergarten. I have been married for 33 years and have 7 children and 8 grandchildren.  Five of my children have attended Tabernacle.  We love this school.  I graduated from California Polytechnic State University, San Luis Obispo with a Bachelor of Science Degree.  I also have post-graduate classes in Early Childhood Education.
                </p>
                <p class="lead">
                    I love this age group of 4-5 year olds.  If you want to see a little bit of heaven, just look in their precious eyes!
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/bettyMason/betty2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/bettyMason/betty1.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/bettyMason/betty3.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/bettyMason/betty5.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/bettyMason/betty6.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/bettyMason/betty7.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/bettyMason/betty4.jpg" class="img-fluid my-1" alt="">

        </div>
    </div>
</div>
</section>


<%- include('../partials/footer.ejs') %> 