<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Cathy Colomb</h1>
    <h3 class="display-6 text-center text-primary">Academic Support Director</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/cathyColomb/cathyMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    My name is Cathy Colomb.  I have been teaching in Christian Education for 33 years, 21 of which have been at Tabernacle.   At Tabernacle I have taught 5th grade, library, resource and, my favorite, computer classes.  This year I am excited to be back in resource working one on one with students.  I look forward to seeing what the Lord has in store for this year. I attended Cal State Hayward to earn my BS in Computer Science with a math minor.  I am married and we have two daughters, a son-in-law, a son and a daughter-in-law.  I am blessed to be a Grams to 7 year old Ryder James, 4 year old Cataleya Rose, 2 year old Rosalie Amber and our newest little blessing 3 mos. old Nicholas Lee Jr..   My time outside of work is spent enjoying my hobbies: quilting, sewing, bag making, riding my bike, photography and spending time with my family.  It is a blessing to be at Tabernacle where I can teach what I love to the students, while teaching them to rely on Christ for everything.  Philippians 4:13 "I CAN do all things through Christ who gives me strength.""
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/cathyColomb/cathy1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/cathyColomb/cathy5.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/cathyColomb/cathy7.jpg" class="img-fluid my-1" alt=""> 
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/cathyColomb/cathy2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/cathyColomb/cathy6.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/cathyColomb/cathy3.jpg" class="img-fluid my-1" alt=""> 
        </div>
    </div>
</div>
</section>


<%- include('../partials/footer.ejs') %> 