<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Charina Moore</h1>
    <h3 class="display-6 text-center text-primary">Transitional Kindergarten Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/charinaMoore/charina10.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">I have been at Tabernacle for 15 years teaching (11 years in Junior Kindergarten and 4 years in Transitional Kindergarten).  I have been a part of the Tabernacle family since I was 6 years old.  I continued my education at Berean Christian High School from 1999-2003.  I have my BA in Interdisciplinary Studies (Liberal Studies/Early Childhood Education) from San Diego Christian College.  I am a proud auntie of a handsome little boy and love doing anything crafty (card making, mixed media, painting, etc), and boxing.  A fun fact: I have been boxing now for 5 years.  I originally started boxing for fitness because I didn’t want to get hit in the face. Now I am a registered boxer with USA boxing and have had one amateur bout and am hoping to have more.</p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/charinaMoore/charina1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/charinaMoore/charina2.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/charinaMoore/charina3.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty//charinaMoore/charina5.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/charinaMoore/charina4.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/charinaMoore/charina6.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/charinaMoore/charina8.jpg" class="img-fluid my-1" alt="">   
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 