<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Haley Max</h1>
    <h3 class="display-6 text-center text-primary">Third Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/haleyMax/haleyMain.jpeg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    Hi everyone! My name is Haley Max and I am so excited for this year in third grade! Little bit about me and my school history, I’ve been involved with Tabernacle since I was in first grade. I attended all the way through 8th grade and even attended Tabernacle’s high school program. I’ve also taken part in the leadership program, coaching sports, tutoring, and substitute teaching here at the school.
                </p>
                <p class="lead">
                    Some of my hobbies include portrait and landscape photography, puzzles, painting, and reading. I truly believe that God has put this on my heart, and I’m excited to watch as God works in the hearts of your student this year as well. Can’t wait to meet you all! 
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/haleyMax/haley1.jpeg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/haleyMax/haley3.jpeg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/haleyMax/haley5.jpeg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/haleyMax/haley2.jpg" class="img-fluid my-1" alt=""> 
            <img src="/images/faculty/haleyMax/haley4.jpeg" class="img-fluid my-1" alt="">
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 