<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Heather Cochnauer</h1>
    <h3 class="display-6 text-center text-primary">Second Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/heatherCochnauer/heatherMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I was born and lived in Honolulu, Hawaii for the first few years of my life. Moved with my family to San Diego and in 1994 moved to Clayton, California. I was a proud Eagle and graduated from Clayton Valley High School. I continued on to college and graduated from Azusa Pacific University. Our God is a great provider! I started teaching at Tabernacle in 2006 and I have loved every moment of it!
                </p>
                <p class="lead">
                    In 2009, I married my amazing husband. He’s currently a Captain at Rodeo Hercules Fire Department. In 2013, we had our beautiful daughter Lilly, she brings us so much joy. We are so excited that she is a Tabernacle Tiger!  We are beyond grateful for God’s blessings though everything. Psalm 34:1-“I will praise the Lord at all times. I will constantly speak his praises.”
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-7">
            <img src="/images/faculty/heatherCochnauer/heather1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/heatherCochnauer/heather2.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/heatherCochnauer/heather3.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/heatherCochnauer/heather4.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-5">
            <img src="/images/faculty/heatherCochnauer/heather6.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/heatherCochnauer/heather5.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/heatherCochnauer/heather7.jpg" class="img-fluid my-1" alt="">   
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 