<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Joey Prior</h1>
    <h3 class="display-6 text-center text-primary">6th Grade Math & 8th Grade History Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/joeyPrior/joeyMain.jpg" class="img-fluid border border-5 border-white center-cropped" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    Hello My name is Joseph Prior. This is my third year teaching at Tabernacle. I have been working with the students here at Tabernacle for the last twelve school years. Both of my parents are teachers here and have helped me become the teacher I am today. I am so excited to be a part of the Tabernacle team and family. I am a graduate of Tabernacle and hope to share my passion for learning with each of the students here. My life verse is Jeremiah 29:11 “For I know the plans I have for you declares the Lord. Plans to prosper you and give hope and a future.”
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-12">
            <img src="/images/faculty/joeyPrior/joey1.jpeg" class="img-fluid mb-1" alt="">
        </div>
        <!-- <div class="col-md-5">
            <img src="/images/faculty/andyPrior/andy4.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/andyPrior/andy2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/andyPrior/andy5.jpg" class="img-fluid mb-1" alt="">
        </div> -->
    </div>
</div>
</section>


<%- include('../partials/footer.ejs') %> 