<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Kimberlyn Schmitz</h1>
    <h3 class="display-6 text-center text-primary">Computer Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/kimberlynSchmitz/kimberlynMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I am excited to return to Tabernacle for my tenth year. I have enjoyed being a part of the Tabernacle family for seven years as a 5th grade teacher, one year in 3rd grade, and now back again for my second year in the Computer Lab! Together, we will be working on our computer skills and how to be a citizen of the ever-growing digital world all while remembering our citizenship in the family of God and Tabernacle’s mission to “Teach in ALL areas of life, the Truth, as centered in the Lord Jesus of the Bible.”
                </p>
                <p class="lead">
                    I am native California girl and was born and raised here in Concord. In college I moved to Virginia where I graduated from Liberty University with my B.S. in Elementary and Middle School Education. Six years ago I married my amazing “Hubby,” Steven. We have grown our family and had Everett, who is now thrilled to be in preschool and Nora who is already one. Together we love traveling, eating delicious foods, and working on home projects.
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/kimberlynSchmitz/kimberlyn1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/kimberlynSchmitz/kimberlyn3.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/kimberlynSchmitz/kimberlyn5.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/kimberlynSchmitz/kimberlyn2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/kimberlynSchmitz/kimberlyn4.jpg" class="img-fluid my-1" alt="">
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 