<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Nori Swanson</h1>
    <h3 class="display-6 text-center text-primary">Third Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/noriSwanson.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    Hello! My name is Nori Swanson. I was born and raised in Orange County, CA, and went on to receive my BS from Cal Poly-San Luis Obispo as a scholarship athlete. I moved to the Bay Area in 1994, and landed in Walnut Creek about 13 years ago with my husband, Dave. We live in Walnut Creek with our 3 daughters, twins in middle and 1 in high school. I love being outdoors! I am passionate about running, hiking, soccer, traveling, and reading but my favorite way to spend time is camping with family. I am so excited that God has guided me to the Tabernacle family! Go Tigers!
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/noriSwanson/nori1.jpg" class="img-fluid mb-2" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/noriSwanson/nori2.jpg" class="img-fluid mb-2" alt="">
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 