<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Pamela Lucido</h1>
    <h3 class="display-6 text-center text-primary">Third Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/pamelaLucdio/pamelaMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I home schooled my children for 10 years. I then transitioned to the traditional classroom, where God led me to Tabernacle.  My first year, I was a substitute teacher for Kindergarten through 8th grade. I am beginning my twelfth year teaching 3rd grade at Tabernacle.
                </p>
                <p class="lead">
                    I received my B.A. at SFSU and my Masters in Teaching through CSU Fresno.  I feel blessed to teach in a school setting where God and Scripture are the center of all learning. I hope to make this year an enjoyable learning experience for my students while encouraging them to rely on God for all things.
                </p>
                <p class="lead">
                    My husband and I celebrated our 27th wedding anniversary this year.   We have four children, all working full time while attending college.  My hobbies include cooking, baking, and walking long distances.
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/pamelaLucdio/pamela1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/pamelaLucdio/pamela6.jpg" class="img-fluid my-1" alt="">   
            <img src="/images/faculty/pamelaLucdio/pamela2.png" class="img-fluid my-1" alt=""> 
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/pamelaLucdio/pamela3.jpeg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/pamelaLucdio/pamela5.jpg" class="img-fluid my-1" alt="">  
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 