<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Rebeca Shreve</h1>
    <h3 class="display-6 text-center text-primary">Administrator</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/rebecaShreve/rebecaMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I have been part of the Tabernacle family for more than twenty years and have filled many roles throughout the years.  The last thirteen years have been in the role of administrative assistant taking on various tasks in the business office along with keeping up with school HR, accreditations, and other day to day items.  Along the way I have been a daycare worker, office staff, teacher and administrator.  I love the variation in my tasks and the newness that each school year brings.  Tabernacle’s family atmosphere and long tradition of celebrating students’ God given gifts originally attracted me to this school and it is one of the reasons I stay.
                </p>
                <p class="lead">
                    In my free time I love to travel with my family, cook, and play outdoors.  It is a blessing to be able to live and play in this beautiful part of the country.   Our son recently joined the Tabernacle family as a student and look forward to seeing him grow in his faith and education.  We were blessed to welcome our baby girl in January of 2021 and can not wait until she becomes a Tabernacle Tiny Tiger!
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-12">
            <img src="/images/faculty/rebecaShreve/rebeca1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/rebecaShreve/rebeca2.jpg" class="img-fluid mb-1" alt="">

        </div>
        <!-- <div class="col-md-6">
            <img src="/images/faculty/theresaKukla/theresa2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/theresaKukla/theresa5.png" class="img-fluid my-1" alt="">
        </div> -->
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 