<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Stephanie Kent</h1>
    <h3 class="display-6 text-center text-primary">Fourth Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/stephanieKent/stephanieMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    My name is Stephanie Kent and I’m thrilled to be a part of the Tabernacle team.  God certainly answered some prayers in directing me to Tabernacle. I began as the librarian for kindergarten through the fifth grades as well as the sixth grade Mathematics teacher.  I am beginning my eleventh year as a fourth grade teacher at Tabernacle.
                </p>
                <p class="lead">
                    I was raised in Walnut Creek.   I received a Bachelor’s degree from University of California, Riverside.  I am married and have three young men, two in college and one in high school.  After being a stay-at-home mom for ten years I decided to go back to school to get my teaching credential from California State University-Hayward/East Bay. 
                </p>
                <p class="lead">
                    Family time is a favorite of mine, as well as: being outside, water activities, reading, camping, and learning. My family and I live in the Concord area. I love being a part of the Tabernacle community. 
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/stephanieKent/stephanie1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/stephanieKent/stephanie5.jpg" class="img-fluid my-1" alt="">

        </div>
        <div class="col-md-6">
            <img src="/images/faculty/stephanieKent/stephanie4.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/stephanieKent/stephanie2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/stephanieKent/stephanie3.jpg" class="img-fluid my-1" alt="">  

        </div>
    </div>
</div>
</section>


<%- include('../partials/footer.ejs') %> 