<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Theresa Kukla</h1>
    <h3 class="display-6 text-center text-primary">Vice Principal</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/theresaKukla/theresaMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I have been at Tabernacle for 23 years. I have taught most grades, however, my favorite grades are middle school. My passion is history, especially American History. I look forward to taking the 8th graders to Washington DC each year to bring history and our government alive for them.  I am also a firm believer in encouraging leadership at this age level.  It has been a joy to watch our students in the leadership elective, grow to be responsible, moral leaders.
                </p>
                <p class="lead">
                    I am a big Disney fan. I enjoy biking, reading, scrapbooking and stamping. My favorite verse is Philippians 4:8-9.
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/theresaKukla/theresa1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/theresaKukla/theresa3.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/theresaKukla/theresa4.jpg" class="img-fluid my-1" alt="">  
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/theresaKukla/theresa2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/theresaKukla/theresa5.png" class="img-fluid my-1" alt="">
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 