<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Tirzah Burke</h1>
    <h3 class="display-6 text-center text-primary">Middle School English Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/tirzahBurke/tirzahMain.jpg" class="img-fluid border border-5 border-white center-cropped" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I am so excited to be returning to Tabernacle for my fourth year teaching middle school English. In 2016 I completed an undergraduate degree in English at Saint Mary’s College of California and in 2018 I completed a Master of Philosophy in Medieval Literature at Cambridge University. I have been deeply involved in working with young people for many years. Most recently, I spent 5 years teaching and mentoring the middle school students of my church youth group. It is inspiring to see the joy and enthusiasm of young people when they decide to pursue Christ.
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/tirzahBurke/tirzah1.png" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/tirzahBurke/tirzah4.jpeg" class="img-fluid mb-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/tirzahBurke/tirzah2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/tirzahBurke/tirzah3.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/tirzahBurke/tirzah5.jpg" class="img-fluid mb-1" alt="">
        </div>
    </div>
</div>
</section>


<%- include('../partials/footer.ejs') %> 