<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 



    <section id="aboutShowcase" class="d-flex justify-content-center align-items-center">
        <div id="aboutOverlay" class=""></div>
        <div id="aboutHeader">
            <h1 class="display-1 text-white" id="header">ABOUT TABERNACLE</h1>
        </div>
    </section>

    <ul id="pageNav" class="nav nav-pills bg-info d-flex align-items-center justify-content-center d-none d-md-flex py-2">
        <li class="nav-item mx-5">
          <a class="btn rounded-pill" aria-current="page" href="#history">History</a>
        </li>
        <li class="nav-item mx-5">
            <a class="btn rounded-pill" href="#faculty">Faculty</a>
        </li>
        <li class="nav-item mx-5">
          <a class="btn rounded-pill" href="#vision">Vision</a>
        </li>
        <li class="nav-item mx-5">
          <a class="btn rounded-pill" href="#values">Values</a>
        </li>
        <li class="nav-item mx-5">
            <a class="btn rounded-pill" href="#programs">Programs</a>
        </li>
    </ul>

    <section id="aboutIntro">
          <div class="container py-5">
              <p class="lead text-center">Tabernacle School is an evangelical Christian school focused on providing excellence in its spiritual, academic, and extracurricular education to its students. We help students acquire the skills and attitudes necessary to be Faithful Followers of Jesus Christ, Life-long Learners, Citizens of Character, and Academic Achievers.</p>
          </div>
    </section>

    <section id="history" class="bg-secondary text-white">
        <div class="container  py-4">
            <h2 class="display-3 text-center">History</h2>
            <hr class="section-hr">
                <h5 class="">Founding</h5>
                <p>1n 1989 our Founder, Margaret Bridges, felt God’s calling to establish Christian Schools in parts of the world that were previously unreachable. Tabernacle School has partnered with several schools overseas to help spread the good news of Jesus, and we continue to identify opportunities to impact our world.</p>
                <h5 class="">Restructuring</h5>
                <p>The school and church separated operations in 1996 and have continued to share our use of the Tabernacle Church property. At the beginning of the 2009 school year Mrs. Bridges retired from daily school services. We are grateful for the impact she has made as the Founder of Tabernacle School and we continue to honor her vision and her love for children. A management team was formed to oversee the day-to-day operations of the school, while our school board continues to be responsible for the vision, mission and finances of the school.</p>
                <h5 class="">Present Day</h5>
                <p>Tabernacle School has flourished under our current leadership team. We are continuing to look for ways to improve our campus through the use of technology and the integration of teaching methods based on our philosophy of multiple intelligences. Each year we strive for excellence in education while fostering a loving family atmosphere where children grow and thrive.</p>
        </div>
    </section>

    <section id="faculty" class="py-5 bg-light">
        <div class="container">
            <h2 class="display-3 text-center">Faculty</h2>
            <hr class="section-hr mb-4">
            <div class="row">
                <div class="">
                    <div id="showcaseCarouselIndicators" class="carousel slide bg-dark p-3" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#showcaseCarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#showcaseCarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#showcaseCarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>

                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="row">
                                  <div class="col-md-4">
                                    <img src="images/facultySlide4.jpg" class="img-fluid" alt="...">
                                  </div>
                                  <div class="col-md-4">
                                    <img src="images/facultySlide2.jpg" class="img-fluid" alt="...">
                                  </div>
                                  <div class="col-md-4">
                                    <img src="images/facultySlide3.jpg" class="img-fluid" alt="...">
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                  <img src="images/facultySlide1.jpg" class="img-fluid" alt="...">
                                </div>
                                <div class="col-md-4">
                                  <img src="images/facultySlide5.jpg" class="img-fluid" alt="...">
                                </div>
                                <div class="col-md-4">
                                  <img src="images/facultySlide6.jpg" class="img-fluid" alt="...">
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                  <img src="images/facultySlide7.jpg" class="img-fluid" alt="...">
                                </div>
                                <div class="col-md-4">
                                  <img src="images/facultySlide8.jpg" class="img-fluid" alt="...">
                                </div>
                                <div class="col-md-4">
                                  <img src="images/facultySlide9.jpg" class="img-fluid" alt="...">
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="accordion accordion-flush my-5 border rounded" id="facultyAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="kindergartenHeading">
                    <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseKindergarten" aria-expanded="false" aria-controls="collapseKindergarten">
                      Transitional Kindergarten & Kindergarten
                    </button>
                  </h2>
                  <div id="collapseKindergarten" class="accordion-collapse collapse" aria-labelledby="kindergartenHeading" data-bs-parent="#facultyAccordion">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-3 text-center">
                              <h5 class="text-center">Charina Moore</h5>
                              <div class="d-flex justify-content-center">
                                  <img src="images/faculty/charinaMoore.jpg" class="img-fluid rounded-circle" alt="">
                              </div>
                              <a href="mailto:CharinaM@tbs.org" class="email-link">CharinaM@tbs.org</a>
                              <br>
                              <a href="facultyProfiles/charinaMoore" class="about-link">About Me</a>
                            </div>
                            <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Sylvia Borde</h5>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/sylviaBorde.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Sylviab@tbs.org" class="email-link">Sylviab@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/sylviaBorde" class="about-link">About Me</a>
                            </div>
                            <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Betty Mason</h5>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/bettyMason.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Elizabethm@tbs.org" class="email-link">Elizabethm@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/bettyMason" class="about-link">About Me</a>
                            </div>
                            <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Cecilia Prior</h5>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/ceciliaPrior.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Ceciliap@tbs.org" class="email-link">Ceciliap@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/ceciliaPrior" class="about-link">About Me</a>
                            </div>
                            <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Lina Foltz</h5>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/linaFoltz.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Linaf@tbs.org" class="email-link">Linaf@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/linaFoltz" class="about-link">About Me</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="firstHeading">
                    <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFirst" aria-expanded="false" aria-controls="collapseFirst">
                      1st Grade
                    </button>
                  </h2>
                  <div id="collapseFirst" class="accordion-collapse collapse" aria-labelledby="firstHeading" data-bs-parent="#facultyAccordion">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Alexis Jue</h5>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/alexisJue.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Alexisj@tbs.org" class="email-link">Alexisj@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/alexisJue" class="about-link">About Me</a>
                            </div>
                            <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Emily Scouten</h5>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/emilyScouten.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Emilys@tbs.org" class="email-link">Emilys@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/emilyScouten" class="about-link">About Me</a>
                            </div>
                            <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Terra Jean McFadden</h5>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/terraJean.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Terrajeanm@tbs.org" class="email-link">Terrajeanm@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/terraJean" class="about-link">About Me</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="2ndHeading">
                      <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSecond" aria-expanded="false" aria-controls="collapseSecond">
                        2nd Grade
                      </button>
                    </h2>
                    <div id="collapseSecond" class="accordion-collapse collapse" aria-labelledby="2ndHeading" data-bs-parent="#facultyAccordion">
                      <div class="accordion-body">
                          <div class="row">
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Tracy Herrera</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/tracyHerrera.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Tracyh@tbs.org" class="email-link">Tracyh@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/tracyHerrera" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Ashley Lecair</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/ashleyLecair.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Ashleyl@tbs.org" class="email-link">Ashleyl@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/ashleyLecair" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Heather Cochnauer</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/heatherCochnauer.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Heatherc@tbs.org" class="email-link">Heatherc@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/heatherCochnauer" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Rachelle Longtin</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/rachelleLongtin.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Rachellel@tbs.org" class="email-link">Rachellel@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/rachelleLongtin" class="about-link">About Me</a>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="3rdHeading">
                      <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3rd" aria-expanded="false" aria-controls="collapse3rd">
                        3rd Grade
                      </button>
                    </h2>
                    <div id="collapse3rd" class="accordion-collapse collapse" aria-labelledby="3rdHeading" data-bs-parent="#facultyAccordion">
                      <div class="accordion-body">
                          <div class="row">
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Pamela Lucido</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/pamelaLucido.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Paml@tbs.org" class="email-link">Paml@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/pamelaLucido" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Nori Swanson</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/noriSwanson.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Noris@tbs.org" class="email-link">Noris@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/noriSwanson" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Haley Max</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/haleyMax.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Haleym@tbs.org" class="email-link">Haleym@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/haleyMax" class="about-link">About Me</a>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="4thHeading">
                      <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4th" aria-expanded="false" aria-controls="collapse4th">
                        4th Grade
                      </button>
                    </h2>
                    <div id="collapse4th" class="accordion-collapse collapse" aria-labelledby="4thHeading" data-bs-parent="#facultyAccordion">
                      <div class="accordion-body">
                          <div class="row">
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Stephanie Kent</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/stephanieKent.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Stephaniek@tbs.org" class="email-link">Stephaniek@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/stephanieKent" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Jason Stone</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/jasonStone.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Jasons@tbs.org" class="email-link">Jasons@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/jasonStone" class="about-link">About Me</a>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="5thHeading">
                      <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5th" aria-expanded="false" aria-controls="collapse5th">
                        5th Grade
                      </button>
                    </h2>
                    <div id="collapse5th" class="accordion-collapse collapse" aria-labelledby="5thHeading" data-bs-parent="#facultyAccordion">
                      <div class="accordion-body">
                          <div class="row">
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Brenda Chapman</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/brendaChapman.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Brendac@tbs.org" class="email-link">Brendac@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/brendaChapman" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Aurelius Morgan</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/aureliusMorgan.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Aureliusm@tbs.org" class="email-link">Aureliusm@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/aureliusMorgan" class="about-link">About Me</a>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="jrHighHeading">
                      <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJRHigh" aria-expanded="false" aria-controls="collapseJRHigh">
                        Junior High
                      </button>
                    </h2>
                    <div id="collapseJRHigh" class="accordion-collapse collapse" aria-labelledby="jrHighHeading" data-bs-parent="#facultyAccordion">
                      <div class="accordion-body">
                          <div class="row">
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Steve Souza</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/steveSouza.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Steves@tbs.org" class="email-link">Steves@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/steveSouza" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Andy Prior</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/andyPrior.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Andyp@tbs.org" class="email-link">Andyp@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/andyPrior" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Todd Keough</h5>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/toddKeough.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Toddk@tbs.org" class="email-link">Toddk@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/toddKeough" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Tirzah Burke</h5>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/tirzahBurke.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Tirzahb@tbs.org" class="email-link">Tirzahb@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/tirzahBurke" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Joey Prior</h5>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/joeyPrior.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Joeyp@tbs.org" class="email-link">Joeyp@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/joeyPrior" class="about-link">About Me</a>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="peHeading">
                      <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePE" aria-expanded="false" aria-controls="collapsePE">
                        Physical Education
                      </button>
                    </h2>
                    <div id="collapsePE" class="accordion-collapse collapse" aria-labelledby="peHeading" data-bs-parent="#facultyAccordion">
                      <div class="accordion-body">
                          <div class="row">
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Daran Fraser</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/daranFraser.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:DaranF@tbs.org" class="email-link">DaranF@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/daranFraser" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Alexander Buckley</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/alexanderBuckley.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Alexb@tbs.org" class="email-link">Alexb@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/alexanderBuckley" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Cory Brady</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/coryBrady.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Coryb@tbs.org" class="email-link">Coryb@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/coryBrady" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Amie Robison</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/amieRobison.png" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Amier@tbs.org" class="email-link">Amier@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/amieRobison" class="about-link">About Me</a>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="electivesHeading">
                      <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseElectives" aria-expanded="false" aria-controls="collapseElectives">
                        Electives
                      </button>
                    </h2>
                    <div id="collapseElectives" class="accordion-collapse collapse" aria-labelledby="electivesHeading" data-bs-parent="#facultyAccordion">
                      <div class="accordion-body">
                          <div class="row">
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Judy Burmeister</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/judyBurmeister.jpeg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Judyb@tbs.org" class="email-link">Judyb@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/judyBurmeister" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Rebecca Kelly</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/rebeccaKelly.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Rebeccak@tbs.org" class="email-link">Rebeccak@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/rebeccaKelly" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Kimberlyn Schmitz</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/kimberlynSchmitz.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Kimberlyns@tbs.org" class="email-link">Kimberlyns@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/kimberlynSchmitz" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Kristen McDermott</h5>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/kristenMcDermott.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Kristenm@tbs.org" class="email-link">Kristenm@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/kristenMcDermott" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Margaret Trice</h5>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/margaretTrice.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Margarett@tbs.org" class="email-link">Margarett@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/margaretTrice" class="about-link">About Me</a>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="adminHeading">
                      <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdmin" aria-expanded="false" aria-controls="collapseAdmin">
                        Administration
                      </button>
                    </h2>
                    <div id="collapseAdmin" class="accordion-collapse collapse" aria-labelledby="adminHeading" data-bs-parent="#facultyAccordion">
                      <div class="accordion-body">
                          <div class="row">
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Vern Taylor</h5>
                                  <span class="text-muted">Principal</span>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/vernTaylor.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Vernt@tbs.org" class="email-link">Vernt@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/vernTaylor" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Theresa Kukla</h5>
                                  <span class="text-muted">Vice Principal</span>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/theresaKukla.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Theresak@tbs.org" class="email-link">Theresak@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/theresaKukla" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Dave Pereira</h5>
                                  <span class="text-muted">Director of Finance & Technology</span>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/davePereira.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Davep@tbs.org" class="email-link">Davep@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/davePereira" class="about-link">About Me</a>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Rebeca Shreve</h5>
                                  <span class="text-muted">Administrator</span>
                                  <div class="d-flex justify-content-center">
                                      <img src="images/faculty/rebecaShreve.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                  </div>
                                  <a href="mailto:Rebeccas@tbs.org" class="email-link">Rebeccas@tbs.org</a>
                                  <br>
                                  <a href="facultyProfiles/rebecaShreve" class="about-link">About Me</a>
                              </div>
                              <hr>
                              <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Patti Chan</h5>
                                <span class="text-muted">Finance Manager</span>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/pattiChan.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Pattic@tbs.org" class="email-link">Pattic@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/pattiChan" class="about-link">About Me</a>
                            </div>
                            <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Lisa Mazzoncini</h5>
                                <span class="text-muted">Registrar & Office Manager</span>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/lisaMazzoncini.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Lisam@tbs.org" class="email-link">Lisam@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/lisaMazzoncini" class="about-link">About Me</a>
                            </div>
                            <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Laurie Pease</h5>
                                <span class="text-muted">Student Services Coordinator</span>
                                <div class="d-flex justify-content-center">
                                    <img src="images/faculty/lauriePease.jpg" class="img-fluid d-flex rounded-circle" alt="">
                                </div>
                                <a href="mailto:Lauriep@tbs.org" class="email-link">Lauriep@tbs.org</a>
                                <br>
                                <a href="facultyProfiles/lauriePease" class="about-link">About Me</a>
                            </div>
                            <div class="col-md-3 text-center mb-3">
                              <h5 class="text-center">Cathy Colomb</h5>
                              <span class="text-muted">Academic Support Director</span>
                              <div class="d-flex justify-content-center">
                                  <img src="images/faculty/cathyColomb.jpg" class="img-fluid d-flex rounded-circle" alt="">
                              </div>
                              <a href="mailto:Cathyc@tbs.org" class="email-link">Cathyc@tbs.org</a>
                              <br>
                              <a href="facultyProfiles/cathyColomb" class="about-link">About Me</a>
                          </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="boardHeading">
                      <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBoard" aria-expanded="false" aria-controls="collapseBoard">
                        Board of Directors
                      </button>
                    </h2>
                    <div id="collapseBoard" class="accordion-collapse collapse" aria-labelledby="boardHeading" data-bs-parent="#facultyAccordion">
                      <div class="accordion-body">
                          <div class="row">
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Bruce McIntosh</h5>
                                  <span class="text-muted">Chairman</span>
                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Bob Maiellaro</h5>
                                  <span class="text-muted">Vice Chairman</span>

                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Mary Lou McCauley</h5>
                                  <span class="text-muted">Secretary</span>

                              </div>
                              <div class="col-md-3 text-center mb-3">
                                  <h5 class="text-center">Tom Bridges</h5>
                                  <span class="text-muted">Chaplin</span>

                              </div>
                              <hr>
                              <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Kristina Reynolds</h5>
                                <span class="text-muted">Board Member</span>

                            </div>
                            <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Charles Fikejs</h5>
                                <span class="text-muted">Board Member</span>

                            </div>
                            <div class="col-md-3 text-center mb-3">
                                <h5 class="text-center">Peter Schadek</h5>
                                <span class="text-muted">Board Member</span>

                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  

              </div>
        </div>
    </section>

    <section id="vision" class="py-5 bg-danger">
        <h2 class="display-3 text-center text-white">Vision</h2>
        <hr class="section-hr mb-5">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide bg-white p-5 border border-dark border-5" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <h5 class="text-center">Partnership</h5>
                            <p>We love children and want to see them grow up and become all that they can be. We will work hard to provide the kind of education and learning environment that will help them to blossom as unique individuals created in the image of God. We partner with parents in developing well-prepared children with the character and vision to meet their world with confidence.</p>
                            <h5 class="text-center">Acceptance</h5>
                            <p>Being accepted for who you are is the most basic human need there is and often the most painfully neglected. In our competitive, success-oriented world, doing is often valued more than being. Children must be allowed to grow without being compared to others. They must know and feel they are important, loved, and valued no matter what they look like, how they behave, or what they are able to achieve. Acceptance must come with no strings attached- just like the acceptance that is found in the love of Christ.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/vision1.jpg" class="img-fluid center-cropped  rounded-pill" alt="">
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row d-flex align-items-center mt-4">
                        <div class="col-md-6">
                            <img src="images/vision2.jpg" class="img-fluid center-cropped rounded-pill" alt="">
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-center">Challenge</h5>
                            <p>Dreams are powerful things. The history of the world is the story of men and women captivated by visions of new horizons, new frontiers, and new beginnings. Our nation owes its birth to many such dreamers. In this passive age of comforts and entertainment, children can be severely limited, even robbed, of the time to just dream, to look beyond the “already” and wonder at the “maybe.” Dreams are the stuff from which goals are made, goals that for entire lives and nations.</p>
                            <h5 class="text-center">Confidence</h5>
                            <p>Children are born with an incredible, insatiable desire to meet life head on and conquer it. But then fears begin to take their hold on the child’s heart. Caution takes over. Withdrawal replaces activity. Life ceases to be a marvel and instead becomes a kind of fearful journey on an uncertain road. Children need healthy doses of good old-fashioned faith and optimism. They need to be encouraged to experience life with openness and anticipation. Knowing that God is in control and with us in every situation of life is the one true source of confidence in our uncertain world.</p>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <h5 class="text-center">Discipline</h5>
                            <p>A disciplined life doesn’t really limit; it liberates the child to reach their potential. Like a river that has overrun its banks, the life without boundaries loses its strength. And where there are no boundaries, a child loses their sense of security- knowing that there is someone who will help him or her avoid hazards and maintain control until he or she is mature enough to control is on their own. After all, that is the goal of discipline: self-discipline, that beautiful quality of life based on strength of character.</p>
                            <h5 class="text-center">Freedom</h5>
                            <p>Childhood and youth are incredibly short but important spans of time. They are years of intense growth in every area. And since our culture has one of the earliest periods of adolescence in the world, our children need every moment of childhood they can get. Children need the freedom to be children and of relating to adults who can see life through their eyes, who can grasp and share the amazement of every new discovery, the pride and joy of accomplishment, and the fun of simple pay. We need to give our kids their childhood and enjoy it with them.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/vision3.jpg" class="img-fluid center-cropped rounded-pill" alt="">
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <img src="images/vision4.jpg" class="img-fluid center-cropped rounded-pill" alt="">
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-center">Strength</h5>
                            <p>We want our children to be strong, to be able to endure hard things and surmount obstacles and to stand alone if need be. Strength is achieved through adversity. It is facing problems and working through them by the grace God provides that a child can learn strength. Even young children need a certain amount of the right kind of struggles in their lives to exercise the muscles of independence and grow in Christ.</p>
                            <h5 class="text-center">Wisdom</h5>
                            <p>Life is a journey that is determined by a series of choices. Children begin making their own choices almost from the moment of self-awareness. Children need wisdom to make right decisions. They need to hear wisdom from the adults in their lives and from the lessons of history. But the greatest reservoir of wisdom the world has ever known is found in the Bible. To learn its wisdom is to provide them the “light” that will never fail them or lead them astray.</p>
                        </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>

    <section id="values" class="bg-secondary text-white py-5">
        <h2 class="display-3 text-center">Values</h2>
        <hr class="section-hr mb-5">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <h5 class="text-center">Truth Centered</h5>
                    <p>Committed to education which will mold students’ hearts and minds to effectively impact their lives forever.</p>
                    <h5 class="text-center">Excellence Based</h5>
                    <p>Vitally engaged in producing life-long learners through teaching and modeling self-discipline. We identify each student’s unique God-given intelligence, through awards assemblies and instruction. We begin to outline the future and build their skills by introducing them to professions that match their abilities.</p>
                    <h5 class="text-center">Relationally Engaged</h5>
                    <p>Dedicated to loving and nurturing students. Tabernacle School has a foundational character program which teacher morals and ethics. Every child knows that they will be a servant leader.</p>
                </div>
                <div class="col-md-6">
                    <img src="images/value1.jpg" class="img-fluid rounded" alt="">
                </div>
            </div>
            <div class="row d-flex align-items-center mt-4">
                <div class="col-md-6">
                    <img src="images/value2.jpg" class="img-fluid rounded" alt="">
                </div>
                <div class="col-md-6">
                    <h5 class="text-center">Evangelically Focused</h5>
                    <p>Passionate about knowing Jesus and making Him known. Inclusive in our outreach. We have families from every religion; we have those who are not connected with anyone. Through our interview process, we explain that JESUS is the central figure of our school. He is a Person, not a religion. We explain very honestly that their children will be taught to believe in Jesus and to love Him. We do not present ourselves as religious Christians, rather, we are followers of JESUS.</p>
                    <h5 class="text-center">Globally Challenged</h5>
                    <p>Extending  our ministry to children across the world with the message of Jesus. Connecting with orphans, children in prison, countries who want to have Christ-centered schools. Tabernacle School connects with the highest point in the government of a country to appeal for justice for children.</p>
                </div>
            </div>
        </div>
        
    </section>

    <section id="programs" class="my-5">
        <div id="liveProgram">
        <h2 class="display-3 text-center">Live Program</h2>
        <hr class="section-hr mb-4">
        <div class="container">
            <h3 class="display-6 text-center">Learning Important Values Everday</h3>
            <p class="lead">Teaching character is an important part of our philosophy at Tabernacle School.  We emphasize five different character traits in our classrooms:  responsible, respectful, compassionate, cooperative, and courageous.  Teachers recognize students for showing these character traits in the classroom and at quarterly assemblies.  If a student shows exceptional character in one of these areas a teacher will send them to the office for “Caught Being Good”.  There they get a sticker that they proudly display for the rest of the day.  Their name is added to our character bulletin board in the lunchroom and a letter is sent home detailing why they were sent to the office.  Below are some examples of how each character trait is displayed in our students. </p>
            <div class="accordion accordion-flush my-5 border rounded" id="liveProgram">
                <div class="accordion-item">
                  <h2 class="accordion-header d-grid gap-2 my-2" id="responsibilityHeading">
                    <button class="btn collapsed bg-danger text-white rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapseResponsibility" aria-expanded="false" aria-controls="collapseResponsibility">
                      <span class="h3">Responsibility</span>
                    </button>
                  </h2>
                  <div id="collapseResponsibility" class="accordion-collapse collapse" aria-labelledby="responsibilityHeading" data-bs-parent="#liveProgram">
                    <div class="accordion-body">
                        <div id="responsibility" class="">
                            <div class="row align-items-center">
                                <div class="text-center col-md-2 ">
                                    <h6>Luke 16:10</h6>
                                    <h6>1 Corinthians 13:6-7</h6>
                                    <h6>James 3:13-14 </h6>
                                    <h6>Ephesians 6:2</h6>
                                </div>
                                <div class="col-md-5">
                                    <img src="images/live1.jpg" class="img-fluid rounded" alt="">
                                </div>
                                <div class="col-md-5">
                                    <p>
                                        <b>Expressing Love –></b> Towards God and your neighbor
                                        <br>
                                        <b>Industrious –></b> Getting your work done
                                        <br>
                                        <b>Truthful –></b> Honest, and conscientious
                                        <br>
                                        <b>Productive –></b> Tangible results from your work
                                        <br>
                                        <b> Reliable –></b> Dependable and trustworthy
                                        <br>
                                        <b>Self-Disciplined –></b> Keeping the rules and doing right
                                        <br>
                                        <b>Determined –></b> Exerting personal effort to complete tasks
                                        <br>
                                        <b>Persistent –></b> Nothing stops you from doing the right thing
                                        <br>
                                        <b>Ambitious –></b> Having initiative and willingness to do the work to be successful
                                        <br>
                                        <b>Wise –></b> Showing good judgment and making good choices
                                        <br>
                                        <b>Servant hood –></b> Serving others throughout your lifetime
                                        <br>
                                        <b>Resistance –></b> Resisting evil and doing wrong
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header d-grid gap-2 my-2" id="respectfulHeading">
                    <button class="btn collapsed bg-success text-white rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRespectful" aria-expanded="false" aria-controls="collapseRespectful">
                        <span class="h3">Respectfulness</span>
                    </button>
                  </h2>
                  <div id="collapseRespectful" class="accordion-collapse collapse" aria-labelledby="respectfulHeading" data-bs-parent="#liveProgram">
                    <div class="accordion-body">
                        <div id="respectfulness" class="my-3">
                            <div class="row align-items-center">
                                <div class="text-center col-md-2 ">
                                    <h6>Ephesians 4:2</h6>
                                    <h6>Ephesians 6:1-3</h6>
                                    <h6>I Corinthians 13:4-5</h6>
                                    <h6>Matthew 22:37</h6>
                                </div>
                                <div class="col-md-5">
                                    <img src="images/live2.jpg" class="img-fluid rounded" alt="">
                                </div>
                                <div class="col-md-5">
                                    <p>
                                        <b>Thinking Like Jesus –></b> Put Him first in your thoughts
                                        <br>
                                        <b>Polite –></b> Well mannered and honoring in your attitude
                                        <br>
                                        <b>Obedient –></b> Submitting to your authority
                                        <br>
                                        <b>Leadership –></b> Being an example for other students
                                        <br>
                                        <b>Accepting –></b> Treat others as you would want to be treated
                                        <br>
                                        <b>Quiet –></b> Knowing when not to talk and make noise
                                        <br>
                                        <b>Rule Keeping –></b> Great attitude towards the rules knowing they are meant for good
                                        <br>
                                        <b>Encouraging –></b> Working to build the life of someone else
                                        <br>
                                        <b>Admission –></b> Owning up to wrong, and accepting the logical consequences
                                        <br>
                                        <b>Honoring –></b> Respectful towards your parents and teachers
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header d-grid gap-2 my-2" id="compassionHeading">
                    <button class="btn collapsed bg-primary text-white rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCompassion" aria-expanded="false" aria-controls="collapseCompassion">
                        <span class="h3">Compassion</span>
                    </button>
                  </h2>
                  <div id="collapseCompassion" class="accordion-collapse collapse" aria-labelledby="compassionHeading" data-bs-parent="#liveProgram">
                    <div class="accordion-body">
                        <div class="row align-items-center">
                            <div class="text-center col-md-2 ">
                                <h6>Luke 15:20</h6>
                                <h6>Hebrews 5:2</h6>
                                <h6>Matthew 10:42</h6>
                                <h6>Matthew 11:28-30</h6>
                            </div>
                            <div class="col-md-5">
                                <img src="images/live3.jpg" class="img-fluid rounded" alt="">
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <b>Caring –></b> Kind and considerate
                                    <br>
                                    <b>Gentle –></b> Gracious and loving
                                    <br>
                                    <b>Empathy –></b> Being aware and sensitive to the experience of another and communicating your compassion for them.
                                    <br>
                                    <b>Understanding –></b> Sympathetic
                                    <br>
                                    <b>Discrete –></b> Prudent silence and not gossiping
                                    <br>
                                    <b>Attentive –></b> Mindful and observant
                                    <br>
                                    <b>Friendly –></b> Warm and accepting
                                    <br>
                                    <b>Forgiving –></b> Allowing room for faults. Showing mercy
                                    <br>
                                    <b>Passionate –></b> Expressing feelings for those in need.
                                    <br>
                                    <b>Selfless –></b> Sacrifice to help others
                                </p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header d-grid gap-2 my-2" id="cooperationHeading">
                      <button class="btn collapsed bg-warning text-white rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCooperation" aria-expanded="false" aria-controls="collapseCooperation">
                          <span class="h3">Cooperation</span>
                      </button>
                    </h2>
                    <div id="collapseCooperation" class="accordion-collapse collapse" aria-labelledby="cooperationHeading" data-bs-parent="#liveProgram">
                      <div class="accordion-body">
                        <div class="row align-items-center">
                            <div class="text-center col-md-2 ">
                                <h6>I Samuel 15:22</h6>
                                <h6>Hebrews 5:8</h6>
                                <h6>Luke 16:10</h6>
                                <h6>Proverbs 2:1-5</h6>
                            </div>
                            <div class="col-md-5">
                                <img src="images/live4.jpg" class="img-fluid rounded" alt="">
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <b>Obedient –></b> Follow instructions carefully
                                    <br>
                                    <b>Attentive –></b> Paying attention
                                    <br>
                                    <b>Flexible –></b> Agreeable and adaptable
                                    <br>
                                    <b>Peaceful –></b>Calm and untroubled
                                    <br>
                                    <b>Fair –></b> Impartial, objective, and reasonable
                                    <br>
                                    <b>Joyful –></b> Happy and contended in all circumstances
                                    <br>
                                    <b>Thankful –></b> gratitude and appreciation
                                    <br>
                                    <b>Positive –></b> Accepting and affirming to everyone
                                    <br>
                                    <b>Faithful –></b> Loyal and steadfast
                                    <br>
                                    <b>Patient –></b> Bearing difficult things calmly without complaining
                                </p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header d-grid gap-2 my-2" id="courageousHeading">
                      <button class="btn collapsed bg-info text-white rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCourageous" aria-expanded="false" aria-controls="collapseCourageous">
                          <span class="h3">Courageous</span>
                      </button>
                    </h2>
                    <div id="collapseCourageous" class="accordion-collapse collapse" aria-labelledby="courageousHeading" data-bs-parent="#liveProgram">
                      <div class="accordion-body">
                        <div class="row align-items-center">
                            <div class="text-center col-md-2 ">
                                <h6>Daniel 6:16-23</h6>
                                <h6>I Corinthians 13</h6>
                                <h6>Matthew 16:24-26</h6>
                                <h6>Hebrews 11:6</h6>
                            </div>
                            <div class="col-md-5">
                                <img src="images/live5.jpg" class="img-fluid rounded" alt="">
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <b>Determined –></b> To know Jesus and make Him known
                                    <br>
                                    <b>Loving –></b> Providing for those in need, and protecting those who are disenfranchised
                                    <br>
                                    <b>Receptive –></b> Very teachable
                                    <br>
                                    <b>Disciplined –></b> Doing right thing
                                    <br>
                                    <b>Thinking Skills –></b> Understand logical consequences for every choice made
                                    <br>
                                    <b>Vigilant –></b> Watchful about personal behavior
                                    <br>
                                    <b>Thoughtful –></b> Able to discern appropriate friendships
                                    <br>
                                    <b>Brave –></b> Willing to stand alone for his/her convictions
                                    <br>
                                    <b>Decisive –></b> Able to make good choices quickly
                                    <br>
                                    <b>Trustworthy –></b> Very dependable
                                    <br>
                                    <b>Controlled –></b> Able to keep his/her spirit under control
                                    <br>
                                    <b>Reliable –></b> Follows through on commitments
                                    <br>
                                    <b>Focused –></b> Willingly follows Jesus and obeys Him
                                </p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        </div>



    <section id="giftProgram" class="py-5 bg-success">
        <h2 class="display-2 text-center text-white">Gift Program</h2>
        <hr class="section-hr mb-4">
        <div class="container">
            <h3 class="display-6 text-center text-white">Multiple Intelligences</h3>
            <p class="lead my-3 text-white">Every child is a gifted child. At Tabernacle we respect the unique giftedness of all children and work to help them discover and develop their gifts.Because children are gifted in different ways, we offer a broad range of programs designed to help them develop their own unique strengths.  We respect and work to develop the following universally recognized areas of giftedness.</p>
            
            <div id="giftCarouselIndicators" class="carousel slide bg-white border border-5 border-dark border-rounded" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                  <button type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                  <button type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                  <button type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
                  <button type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
                </div>
                <div class="carousel-inner py-5">
                  <div class="carousel-item active">
                    <div class="row align-items-center">
                        <div class="col-md-4 offset-md-2">
                            <h5>Linguistic</h5>
                            <p><em>Having the ability to use words effectively.</em> A student with this gift will show great skill with written and/or spoken language.  Political leaders, legal experts and writers have developed this ability to a high degree.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="images/gift1.jpg" class="img-fluid center-cropped rounded-circle" alt="">
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row align-items-center">
                        <div class="col-md-4 offset-md-2">
                            <h5>Logical-Mathematical</h5>
                            <p><em>Having the ability to reason well.</em> A child with this ability is interested in patterns and relationships among things and loves puzzles and brainteasers.  Computer and financial specialists are especially gifted logically and mathematically.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="images/gift2.jpg" class="img-fluid center-cropped rounded-circle" alt="">
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">

                    <div class="row align-items-center">
                        <div class="col-md-4 offset-md-2">
                            <h5>Musical</h5>
                            <p><em>Having a keen ear and sense of rhythm. </em> Musically gifted children frequently sing, hum or whistle because they possess an innate sensitivity toward the musical elements of melody, tone, and rhythm.  Many professional musicians first demonstrated musical potential at a very early age.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="images/gift3.jpg" class="img-fluid center-cropped rounded-circle" alt="">
                        </div>
                    </div>

                  </div>
                  <div class="carousel-item">

                    <div class="row align-items-center">
                        <div class="col-md-4 offset-md-2">
                            <h5>Spatial</h5>
                            <p><em>Having the ability to perceive and transform things visually.</em> Children who are spatially oriented think in three dimensional terms.  They not only “see” things clearly i the mind’s eye, but they can manipulate them in their imaginations.  These children are mechanics artists, designers, surgeons, mechanics and scientific theorists.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="images/gift4.jpg" class="img-fluid center-cropped rounded-circle" alt="">
                        </div>
                    </div>

                  </div>
                  <div class="carousel-item">

                    <div class="row align-items-center">
                        <div class="col-md-4 offset-md-2">
                            <h5>Bodily-Kinestetic</h5>
                            <p><em>Having grace or agility, using one’s body in a highly-skilled way.</em> Kinesthetically gifted children are gifted with fine-motor skills used for sewing, crafts, typing, drawing and fixing machinery.  Future athletes, dancers, swimmers, and sometimes inventors or actor are among this group.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="images/gift5.jpg" class="img-fluid center-cropped rounded-circle" alt="">
                        </div>
                    </div>

                  </div>
                  <div class="carousel-item">

                    <div class="row align-items-center">
                        <div class="col-md-4 offset-md-2">
                            <h5>Interpersonal</h5>
                            <p><em>Being gifted at understanding others.</em> Children gifted with interpersonal skills have the ability to empathize and understand other people.  They have the uncanny sense of saying or doing the right thing at just the right time.  People in service professions such as teachers, therapists, and counselors exhibit this gift.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="images/gift6.jpeg" class="img-fluid center-cropped rounded-circle" alt="">
                        </div>
                    </div>

                  </div>
                  <div class="carousel-item">

                    <div class="row align-items-center">
                        <div class="col-md-4 offset-md-2">
                            <h5>Intrapersonal</h5>
                            <p><em>Having deep insight into oneself. </em> Children who recognize their own strengths and weaknesses are gifted with intrapersonal skills.  When these skills become highly developed, one is able to detect and to symbolize complex and highly differentiated sets of feelings.  Poets are good representatives of this group.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="images/gift7.jpg" class="img-fluid center-cropped rounded-circle" alt="">
                        </div>
                    </div>

                  </div>
                  <div class="carousel-item">

                    <div class="row align-items-center">
                        <div class="col-md-4 offset-md-2">
                            <h5>Leadership</h5>
                            <p><em>Having the ability to take people where they would not go alone, love them and serve them.</em> We believe this gift is God-given.  The school’s staff readily embraces those students who have this intelligence.  The students are encouraged and taught how to serve others.  Teachers, pastors, presidents, and politicians exhibit this gift.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="images/gift8.jpg" class="img-fluid center-cropped rounded-circle" alt="">
                        </div>
                    </div>

                  </div>
                  <div class="carousel-item">

                    <div class="row align-items-center">
                        <div class="col-md-4 offset-md-2">
                            <h5>Creationist</h5>
                            <p><em>Having the faith to comprehend and love God’s creation a s a gift to mankind to prove His Existence.</em> The creationist intelligence is connected to the cosmos and the belief in the truthful narrative of the creation of God. The student will absorb the truth of everything taught about the cosmos.  Future farmers, scientists, and geologist often display the characteristics of this gift.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="images/gift9.jpg" class="img-fluid center-cropped rounded-circle" alt="">
                        </div>
                    </div>

                  </div>
                  <div class="carousel-item">

                    <div class="row align-items-center">
                        <div class="col-md-4 offset-md-2">
                            <h5>Moral Intelligence</h5>
                            <p><em>Having a desire to live ethically.</em> Children who have a heart attitude and desire to conscientiously seek truth and justice are gifted with moral skills.  They are able to delay self-gratification and make good decisions.  Moral intelligence is the foundation upon which the gifts must be nurtured and developed.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="images/gift10.jpg" class="img-fluid center-cropped rounded-circle" alt="">
                        </div>
                    </div>

                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#giftCarouselIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
    </section>


<%- include('partials/footer.ejs') %> 