<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 



<section id="academicShowcase" class="d-flex py-5 text-white align-items-center justify-content-center">
  <div id="academicOverlay"></div>
  <div id="academicHeader">
      <h1 class="display-1 showHead">ACADEMICS</h1>
  </div>
</section>

    <ul id="pageNav" class="nav nav-pills bg-info d-flex justify-content-center py-2 d-none d-md-flex">
        <li class="nav-item mx-4">
          <a class="btn rounded-pill" href="#preschool">Preschool</a>
        </li>
        <li class="nav-item mx-4">
            <a class="btn rounded-pill" href="#elementary">Elementary</a>
        </li>
        <li class="nav-item mx-4">
            <a class="btn rounded-pill" href="#juniorHigh">Junior High</a>
        </li>
        <li class="nav-item mx-4">
            <a class="btn rounded-pill" href="#distanceLearning">Distance Learning</a>
        </li>
        <li class="nav-item mx-4">
          <a class="btn rounded-pill" aria-current="page" href="#commonCore">Common Core</a>
        </li>
        <li class="nav-item mx-4">
          <a class="btn rounded-pill" href="#eslr">ESLR</a>
        </li>
    </ul>


    <section id="preschool" class="py-5">
      <div class="container">
          <h2 class="text-center display-4">Preschool</h2>
          <hr class="section-hr mb-5">
          <div class="row">
            <div class="col-md-6">
              <img src="images/academics/preschool4.jpg" class="img-fluid mb-4" alt="">
              
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Accordion Item #2
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Accordion Item #3
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p>
                Tabernacle’s Tiny Tigers is a licensed preschool facility and open to children from every background.   We are a family-centered school, partnering with parents to ensure the success of every child.  Clear and consistent communication between home and school is essential.  Our school has been serving families in the community for 44 years. We offer a variety of childcare options to meet your individual family needs.  We have half day and full day options available.  Daycare is available from 6:30am to 6:30pm. Parents and children who attend Tabernacle will tell you that this school feels like family.  Many of our teachers and staff are former students who return to invest back into the school community.  Lasting friendships are formed here. We invite you to start your experience at Tabernacle by joining the Tiny Tigers and watch your child excel.
              </p>
              <p>
                Our classrooms and dedicated teachers offer students the opportunity to learn and discover more about themselves, their world and each other in a warm and safe environment.  Each one of our teachers is trained in early childhood education and has a passion to see children excel. We provide a quality preschool program that combines play-based and academic curriculum to help our students prepare for kindergarten.  We carefully plan activities that are developmentally appropriate and encourage exploration, fine-motor improvement, an interest in science and mathematics, and early literacy. Establishing routines and procedures is an important part of our program.  These practices provide a safety and security that allows children the freedom to thrive.  We encourage healthy lifestyle choices with our snack and lunch program.
              </p>
            </div>
          </div>
      </div>
  </section>

  <section id="elementary" class="bg-light py-5">
      <div class="container">
          <h2 class="text-center display-4">Elementary</h2>
          <hr class="section-hr mb-5">
          <div class="row align-items-center">
            <div class="col-md-6">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores natus quod obcaecati. Amet harum impedit, veniam nostrum ut in eligendi, architecto quasi eius enim provident cumque. Odio aspernatur, at consequuntur expedita aliquid, qui laboriosam perspiciatis neque praesentium dicta ipsa illo a consectetur soluta beatae, deserunt iure numquam dolore eaque libero consequatur deleniti optio exercitationem! Quis quidem blanditiis dolore voluptatem atque, est alias asperiores odit vel repellendus ratione! Molestiae quia dignissimos, placeat veritatis error recusandae cumque. Deserunt distinctio sapiente, ipsam, impedit sint qui omnis vitae nostrum voluptas aliquid quia autem culpa perferendis iure quae! Unde, ut. Quibusdam alias nihil qui aut!</p>
            </div>
            <div class="col-md-6">
              <img src="images/academics/elementary1.jpg" class="img-fluid" alt="">
            </div>
          </div>

      </div>
  </section>

  <section id="juniorHigh" class="py-5">
      <div class="container">
          <h2 class="text-center display-4">Junior High</h2>
          <hr class="section-hr mb-5">
          <div class="row align-items-center">
            <div class="col-md-6 d-flex justify-content-center">
              <img src="images/academics/juniorHigh1.jpeg" class="img-fluid w-75" alt="">
            </div>
            <div class="col-md-6 align-middle">
              <p>
                We are thrilled to welcome you to Tabernacle Middle School, where we help our students navigate the early teen years and prepare to excel in high school and beyond. Throughout the middle school years, our students are challenged academically and grow in confidence as they explore their interests. We consider it an honor to partner with you in providing support and guidance for your children as they grow academically, spiritually, and athletically. We offer a strong list of academic and elective courses that meet our standard of excellence and help our students gain a solid academic footing in preparation for high school. Because of our high standards, our students regularly perform beyond grade level in national standard testing.
              </p>
              <p>
                Our middle school students have the opportunity to attend hands-on learning experiences as they go to a four-day outdoor education science camp in sixth grade. Students in the eighth grade take a week-long trip to Washington D.C. to visit the places they have learned about in our country’s history. Middle school students at Tabernacle have access to state-of-the-art computer and science labs, award winning school sports teams, and an enriching extended care program before and after school. Biblical truth is a part of everything we teach through daily Bible classes, weekly chapels, and classroom Biblical integration. We have our own chapel band lead us in worship during chapel time on Fridays and have guest speakers join our staff presenting God’s Word in the Bible.</p>
            </div>
          </div>
      </div>
  </section>

  <section id="distanceLearning" class="bg-light py-5 text-center">
      <div class="container">
          <h2 class="text-center display-4">Distance Learning</h2>
          <hr class="section-hr mb-5">
            <p class="lead text-center">In case of a resurgence in Coronavirus cases and potential school closure, Tabernacle has implemented a Distance Learning Program using Google Classroom. Middle School students will access their curriculum using Ignitia.</p>
          <div class="row py-5 justify-content-around align-items-center">
              <div class="col-md-4 bg-white ounded p-5 mb-4">
                  <h3 class="text-center mb-4">Google Classroom</h3>
                  <img src="images/academics/googleClassroom.png" class="mx-auto d-block w-50" alt="">
                  <p class="mt-3">Each student has been assigned to a Google classroom. To continue the parent orientation and learn more about your child’s teacher and what they will be doing this year, please sign in to their Google Classroom.</p>
                  <div class="d-grid">
                    <a href="https://classroom.google.com/u/0/h" class="btn btn-dark">Login</a>
                  </div>
                </div>
                <div class="col-md-4 bg-white p-5 rounded mb-4">
                  <img src="images/academics/ignitia.png" class="mx-auto d-block w-75" alt="">
                  <p class="mt-3">Ignitia is a Web-based learning environment featuring a media-rich, online curriculum for grades 6th- 8th . This Web-based curriculum can be accessed through any Internet connection and browser.</p>
                  <div class="d-grid">
                    <a href="https://tabernacleca.ignitiaschools.com/owsoo/login/auth" class="btn btn-dark">Login</a>
                  </div>
                </div>
            </div>
          </div>

      </div>
  </section>

    <section id="commonCore" class="my-5">
        <div class="container">
            <h2 class="text-center display-4 mb-3">COMMON CORE STANDARDS</h2>
            <hr class="section-hr mb-5">
            <div class="row">
                <div class="col-md-6">
                  <h4 class="text-center">Tabernacle School Standards</h4>
                    <p>As a school well known for maintaining academic excellence, Tabernacle School reviews all educational standards, both state and national. More importantly, we are committed to providing a Christian education to those we serve by forming and awakening faith in Jesus Christ in our students.</p>
                    <p>Many of the Common Core standards already have been in place at Tabernacle School. The Common Core calls for an increased emphasis on deeper understanding of underlying concepts in both the English Language Arts and Mathematics standards. Tabernacle School has long challenged students not just to memorize facts, but to go deeper, think critically, and demonstrate a higher level of understanding of content areas. Other Common Core Standards address only the minimum requirements and may be one or more grade levels below what we recognize as good teaching. We do not limit ourselves to the level of the standards but go beyond, based on our philosophy of learning and sound educational practices. In other words, Tabernacle School’s curriculum exceeds many Common Core Standards in age­ appropriate instruction and academic rigor. </p>
                </div>
                <div class="col-md-6">
                    <div class="accordion accordion-flush border rounded" id="commonCoreAccordion">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="schoolStandards">
                            <button class="accordion-button collapsed bg-info text-dark rounded text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSchoolStandards" aria-expanded="false" aria-controls="collapseSchoolStandards">
                              What Is Common Core?
                            </button>
                          </h2>
                          <div id="collapseSchoolStandards" class="accordion-collapse collapse" aria-labelledby="schoolStandards" data-bs-parent="#commonCoreAccordion">
                            <div class="accordion-body">
                              <p>Common Core Standards are a broad set of national standards established to shape and govern the general educational standards and assessments in public school.  Currently, there are a handful of states who have opted to not align with the national standards.</p>
                              </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="privateSchool">
                            <button class="accordion-button collapsed bg-info text-dark rounded text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrivateSchool" aria-expanded="false" aria-controls="collapsePrivateSchool">
                              Private Schools & Common Core
                            </button>
                          </h2>
                          <div id="collapsePrivateSchool" class="accordion-collapse collapse" aria-labelledby="privateSchool" data-bs-parent="#commonCoreAccordion">
                            <div class="accordion-body">
                              <p>While public schools in California are mandated by our state leadership to adopt Common Core Standards, private schools are in a unique position to choose their alignment with the standards for their curriculum and institutions as a whole. In addition to new standards, Common Core also brings a new standardized test for students. However, private school students are not required to take these state tests.</p>
                              </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed bg-info text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEnglish" aria-expanded="false" aria-controls="collapseEnglish">
                              English
                            </button>
                          </h2>
                          <div id="collapseEnglish" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#commonCoreAccordion">
                            <div class="accordion-body">In English (which the state refers to as English Language Arts), the Common Core State Standards refer to specific standards of reading, writing, speaking, and listening whose mastery allows students to leave high school “ready in literacy.”   Tabernacle School never set out to align ourselves to secular standards, but we find that the Common Core standards are already embedded in our courses. Perhaps, it is because educators all agree that good teaching is teaching that drives students to think well, think critically, and think intelligently. This is what we strive to do. </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed bg-info text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMathematics" aria-expanded="false" aria-controls="collapseMathematics">
                              Mathematics
                            </button>
                          </h2>
                          <div id="collapseMathematics" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#commonCoreAccordion">
                            <div class="accordion-body">The stated purpose of the Common Core State Standards Initiative is to detail and standardize what K-12 students from each state should know upon leaving each grade level.  They are intended to achieve greater focus and coherence in the mathematics curriculum across the grade levels, leading to greater depth of application and understanding for individual students. Many would simply call this “good teaching,” and the Mathematics Department at Tabernacle is committed to a level of excellence that universally meets or exceeds the aforementioned standards.</div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="eslr" class="bg-light py-5">
        <div class="container">
            <h2 class="display-4 text-center">ESLR</h2>
            <hr class="section-hr mb-3">
            <h5 class="text-center display-6 mb-4">Expected School Wide Learning Results</h5>


            <div class="mb-5 bg-white rounded">
              <h5 class="p-2 text-center bg-primary text-white">Faithful Follower of Jesus</h5>
              <p class="p-4">After accepting the Lord Jesus Christ as personal Savior, demonstrates an on-going, deepening love relationship with the Lord as evidenced by a Christ-centered life displaying the personal attributes of Jesus. Develops a Biblical world view which results in a proper perspective of God as Heavenly Father and produces a growing trust in Him as Provider, Sustainer, and Controller of life. Shows evidence of a conscience sensitive to God’s commandments by knowing and applying God’s Word to all aspects of life.</p>
            </div>
            <div class="mb-5 bg-white rounded">
              <h5 class="p-2 text-center bg-primary text-white">Lifelong Learner</h5>
              <p class="p-4">Is accountable for exerting personal effort towards his/her educational responsibility to be self-controlled and productive in the classroom and his/her commitment to live-long learning. Recognizes and develops his/her unique gifts by setting short-term and life-long personal goals which honor God, the Creator or gifts. Demonstrates leadership skills which are evidenced by living ethically and morally pure before both God and man while cultivating mental discipline and discernment as an involved citizen of the society.</p>
            </div>
            <div class="mb-5 bg-white rounded">
              <h5 class="p-2 text-center bg-primary text-white">Citizen of Character</h5>
              <p class="p-4">Demonstrates respectful and responsive behavior towards others, with the right heart attitude. Exhibits responsible conduct in word and action, employing resourcefulness in accomplishing educational and life objectives. Works receptively with a diversity of people in a variety of frameworks with a resolute approach to learning.</p>
            </div>
            <div class="mb-5 bg-white rounded">
              <h5 class="p-2 text-center bg-primary text-white">Academic Achiever</h5>
              <p class="p-4">Reads with good comprehension and writes with clear expression, meaningful vocabulary, and organization of thought.Applies critical thinking and problem solving skills to all types of learning and life situations. Communicates effectively with others by listening attentively and speaking clearly with confidence.Exercises a variety of methods, strategies and tools, including technology, to conduct research, evaluate information, and make responsible decisions in light of Biblical truths.</p>
            </div>
          </div>
      </div>
    </section>



<%- include('partials/footer.ejs') %> 