<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 

    <section id="admissionsShowcase" class="d-flex py-5 text-white align-items-center justify-content-center">
        <div id="admissionOverlay"></div>
        <div id="admissionHeader">
            <h1 class="display-1 showHead">ADMISSIONS</h1>
        </div>
    </section>

    <ul id="pageNav"class="nav nav-pills bg-info d-flex justify-content-center py-2 d-none d-md-flex">
        <li class="nav-item mx-5">
          <a class="btn rounded-pill" aria-current="page" href="#visit">Schedule Visit</a>
        </li>
        <li class="nav-item mx-5">
          <a class="btn rounded-pill" href="#charges">Tuition & Fees</a>
        </li>
        <!-- <li class="nav-item mx-5">
          <a class="btn rounded-pill" href="#process">Enrollment Process</a>
        </li> -->
    </ul>




    <section id="charges" class="py-5">
        <h2 class="text-center display-3">Tuition & Fees</h2>
        <hr class="section-hr mb-5">
        <div class="container">
            <div class="my-5">
                <h3 class="text-center">2022-2023</h4>
                <table class="table table-bordered border-dark bg-white">
                    <thead class="bg-primary text-white">
                        <tr class="text-center">
                            <th scope="">Child #</th>
                            <th scope="">Annual Payment Plan</th>
                            <th scope="">PIF Tuition Discount</th>
                            <th scope="">Monthly Installments</th>
                        </tr>
                    </thead>
                    <tr class="">
                        <th colspan="4" class="text-center bg-light">
                            Junior Kindergarten & Transitional Kindergarten
                        </th>
                    </tr>
                    <tr class="text-center">
                        <td>1st Child</td>
                        <td>$7500</td>
                        <td>$7350</td>
                        <td>$750</td>
                    </tr>
                    <tr class="text-center">
                        <td>2nd Child</td>
                        <td>$6950</td>
                        <td>$6800</td>
                        <td>$695</td>
                    </tr>
                    <tr class="text-center">
                        <td>3rd Child</td>
                        <td>$6950</td>
                        <td>$6800</td>
                        <td>$695</td>
                    </tr>
                    <tr class="text-center bg-light">
                        <th colspan="4">
                            Kindergarten - Fifth Grade
                        </th>
                    </tr>
                    <tr class="text-center">
                        <td>1st Child</td>
                        <td>$7150</td>
                        <td>$7000</td>
                        <td>$715</td>
                    </tr>
                    <tr class="text-center">
                        <td>2nd Child</td>
                        <td>$6600</td>
                        <td>$6450</td>
                        <td>$660</td>
                    </tr>
                    <tr class="text-center">
                        <td>3rd Child</td>
                        <td>$6600</td>
                        <td>$6450</td>
                        <td>$660</td>
                    </tr>
                    <tr class="text-center bg-light">
                        <th colspan="4">
                            Sixth - Eighth Grade
                        </th>
                    </tr>
                    <tr class="text-center">
                        <td>1st Child</td>
                        <td>$7550</td>
                        <td>$7400</td>
                        <td>$755</td>
                    </tr>
                    <tr class="text-center">
                        <td>2nd Child</td>
                        <td>$7000</td>
                        <td>$6850</td>
                        <td>$700</td>
                    </tr>
                    <tr class="text-center">
                        <td>3rd Child</td>
                        <td>$7000</td>
                        <td>$6850</td>
                        <td>$700</td>
                    </tr>
                </table>
                <p class="text-center">Tuition payments begin 8/1/2022 and end 5/1/2023</p>
                <p class="text-center">Please note: Once a student is accepted, classroom placement is secured upon payment of registration and consumalbe fee and first month's tuition. Registration is non-refundable. Consumable fee is non-refundable after June 1st or at time of enrollment for new students. First month's tuition is non-refundable.</p>
            </div>

            <div class="row my-5">
                <div class="col-md-6">
                        <h4 class="text-center bg-primary text-white mb-0 py-2">Annual Fees</h4>
                        <table class="table align-middle">
                            <thead class="bg-light">
                                <th>Fee</th>
                                <th>Price</th>
                                <th>Description</th>
                            </thead>
                            <tr>
                                <td scope="row">Registration</td>
                                <td>$100</td>
                                <td>Accounts must be current for re-enrolling students and registration fee paid by January 31</td>
                            </tr>
                            <tr>
                                <td scope="row">TK/JK Consumables</td>
                                <td>$250</td>
                                <td>Fee includes curriculum, emergency kit, yearbook, and craft supplies.</td>
                            </tr>
                            <tr>
                                <td scope="row">K-8 Consumables</td>
                                <td>$325</td>
                                <td>Fee includes textbooks, emergency supplies, yearbook, and online resources. Maximum consumable fee per family is $850</td>
                            </tr>
                        </table>

                    <h4 class="text-center bg-primary mb-0 text-white py-2">New Student Fees</h4>
                    <table class="table text-center">
                        <thead class="bg-light">
                            <th>Fee</th>
                            <th>Price</th>
                            <th>Description</th>
                        </thead>
                        <tr>
                            <td scope="row">Registration</td>
                            <td>$100</td>
                            <td>Due with application</td>
                        </tr>
                        <tr>
                            <td scope="row">Academic Assessment</td>
                            <td>$50</td>
                            <td>Due with application</td>
                        </tr>
                    </table>
                    <h4 class="text-center text-white bg-primary mb-0 py-2">Other Fees</h4>
                    <table class="table text-center">
                        <thead class="bg-light">
                            <th>Fee</th>
                            <th>Price</th>
                            <th>Description</th>
                        </thead>
                        <tr>
                            <td scope="row">Athletic</td>
                            <td>$150</td>
                            <td>Per sport played</td>
                        </tr>
                        <tr>
                            <td scope="row">Tutoring</td>
                            <td>$40</td>
                            <td>Per hour</td>
                        </tr>
                        <tr>
                            <td scope="row">Field Trip</td>
                            <td>variable</td>
                            <td>Per trip</td>
                        </tr>
                        <tr>
                            <td scope="row">Emergency Lunch</td>
                            <td>$6</td>
                            <td>Per lunch</td>
                        </tr>
                        <tr>
                            <td scope="row">Bounced Checks</td>
                            <td>$25</td>
                            <td>Per check</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <h4 class="text-center bg-primary text-white mb-0 py-2">Daycare Fees</h4>
                    <table class="table">
                        <thead class="bg-light">
                            <tr>
                                <th scope="">Type</th>
                                <th scope="">Description</th>
                                <th scope="">Price</th>
                                <th scope="">Billed</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Full Time Daycare</td>
                            <td> During School Year (August - May)</td>
                            <td>$200</td>
                            <td>Monthly</td>
                        </tr>
                        <tr>
                            <td>FTDC Family Plan (2) </td>
                            <td>Two child discount during school year</td>
                            <td>$350</td>
                            <td>Monthly</td>
                        </tr>
                        <tr>
                            <td>FTDC Family Plan (3+)</td>
                            <td>Three or more children discount during school year</td>
                            <td>$425</td>
                            <td>Monthly</td>
                        </tr>
                        <tr>
                            <td>Full Time Daycare</td>
                            <td> Summer Months K-8</td>
                            <td>$700</td>
                            <td>Monthly</td>
                        </tr>
                        <tr>
                            <td>Summer Celebration</td>
                            <td> Incoming Kindergarteners</td>
                            <td>$800</td>
                            <td>Monthly</td>
                        </tr>
                        <tr>
                            <td>Summer Celebration</td>
                            <td>Hourly 9-12 am</td>
                            <td>$10</td>
                            <td>Hourly</td>
                        </tr>
                        <tr>
                            <td>Joyful Beginnings</td>
                            <td>Preschool</td>
                            <td>$850</td>
                            <td>Monthly</td>
                        </tr>
                        <tr>
                            <td>Hourly Daycare</td>
                            <td>For students not enrolled in FTDC</td>
                            <td>$8</td>
                            <td>Hourly</td>
                        </tr>
                        <tr>
                            <td>After Hours Daycare</td>
                            <td>After 6:30 pm closing time (late pick-up)</td>
                            <td>$1</td>
                            <td>Minute</td>
                        </tr>
                    </table>
                    <p class="text-center">*Daycare is open 7:00AM - 8:00AM and 3:30PM-6:00PM. See school <a href="/campus#calendar">calendar</a> for closures.</p>
                </div>
            </div>
        </section>

    <section id="visit" class="py-5 bg-light">
        <div class="container my-5">
            <h2 class="text-center display-3">Schedule Tour</h2>
            <hr class="section-hr mb-5">

            <h3 class="text-center display-5">email <a href="mailto:lisam@tbs.org">lisam@tbs.org</a> for tour inquiries</h3>
            <!-- <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="mailto:mattp@tbs.org" enctype="text/plain">
                        <div class="mb-3">
                          <label for="name" class="form-label">Name</label>
                          <div class="row">
                              <div class="col-md-6">
                                <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="first" required>
                              </div>
                              <div class="col-md-6">
                                <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="last" required>
                              </div>
                          </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="tel" class="form-control" id="phone" placeholder="(925) 685-9169"> 
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="tbs@gmail.org"> 
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="how-select" class="form-label">How Did You Hear About Us?</label>
                                    <select class="form-select" name="howHear" id="how-select">
                                        <option value="referral">Referral</option>
                                        <option value="flyer">Flyer</option>
                                        <option value="facebook">Facebook</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="refName" class="form-label">Referral Name</label>
                                    <input type="text" class="form-control" id="refName" placeholder="johnny appleseed"> 
                                </div>
                            </div>
                        </div>
                        <div id="gradeInterest" class="mb-3">
                            <label class="mb-2" for="gradesOfInterest">Grades of Interest (Check All That Apply)</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-1 form-check">
                                        <input type="checkbox" class="form-check-input" id="tk">
                                        <label class="form-check-label" for="tk">Transitional Kindergarten</label>
                                    </div>
                                    <div class="mb-1 form-check">
                                        <input type="checkbox" class="form-check-input" id="k">
                                        <label class="form-check-label" for="k">Kindergarten</label>
                                    </div>
                                    <div class="mb-1 form-check">
                                        <input type="checkbox" class="form-check-input" id="1stGrade">
                                        <label class="form-check-label" for="1stGrade">1st Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="2ndGrade">
                                        <label class="form-check-label" for="2ndGrade">2nd Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="3rdGrade">
                                        <label class="form-check-label" for="3rdGrade">3rd Grade</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="4thGrade">
                                        <label class="form-check-label" for="4thGrade">4th Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="5thGrade">
                                        <label class="form-check-label" for="5thGrade">5th Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="6thGrade">
                                        <label class="form-check-label" for="6thGrade">6th Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="7thGrade">
                                        <label class="form-check-label" for="7thGrade">7th Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="8thGrade">
                                        <label class="form-check-label" for="8thGrade">8th Grade</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark text-white">Submit</button>
                        </div>
                      </form>
                </div>
            </div> -->
        </div>
    </section>




    <!-- <section id="process" class="py-5">
        <div class="container">
            <h2 class="text-center display-3">Enrollment Process</h2>
            <hr class="section-hr mb-5">
        </div>
    </section> -->




<%- include('partials/footer.ejs') %> 