<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 

    <section id="admissionsShowcase">
        <h1 class="display-1 text-center">Admissions</h1>
        <h5 class="display-6 text-center">Enrollment for 2022-23 opens [DATE]</h3>
    </section>

    <ul class="nav nav-pills bg-info d-flex justify-content-around py-2 px-5 d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-link btn btn-danger border bg-white rounded-pill" aria-current="page" href="#visit">Schedule Visit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-danger border bg-white rounded-pill" href="#charges">Tuition & Fees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-danger border bg-white rounded-pill" href="#process">Enrollment Process</a>
        </li>
    </ul>


    <section id="visit" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center display-3">Schedule A Tour</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form>
                        <div class="mb-3">
                          <label for="name" class="form-label">Name</label>
                          <div class="row">
                              <div class="col-md-6">
                                <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="first">
                              </div>
                              <div class="col-md-6">
                                <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="last">
                              </div>
                          </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="tel" class="form-control" id="phone" placeholder="(925) 685-9169"> 
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="tbs@gmail.org"> 
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="how-select" class="form-label">How Did You Hear About Us?</label>
                                    <select class="form-select" name="howHear" id="how-select">
                                        <option value="referral">Referral</option>
                                        <option value="flyer">Flyer</option>
                                        <option value="facebook">Facebook</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="refName" class="form-label">Referral Name</label>
                                    <input type="text" class="form-control" id="refName" placeholder="johnny appleseed"> 
                                </div>
                            </div>
                        </div>
                        <div id="gradeInterest" class="mb-3">
                            <label class="mb-2" for="gradesOfInterest">Grades of Interest (Check All That Apply)</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-1 form-check">
                                        <input type="checkbox" class="form-check-input" id="tk">
                                        <label class="form-check-label" for="tk">Transitional Kindergarten</label>
                                    </div>
                                    <div class="mb-1 form-check">
                                        <input type="checkbox" class="form-check-input" id="k">
                                        <label class="form-check-label" for="k">Kindergarten</label>
                                    </div>
                                    <div class="mb-1 form-check">
                                        <input type="checkbox" class="form-check-input" id="1stGrade">
                                        <label class="form-check-label" for="1stGrade">1st Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="2ndGrade">
                                        <label class="form-check-label" for="2ndGrade">2nd Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="3rdGrade">
                                        <label class="form-check-label" for="3rdGrade">3rd Grade</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="4thGrade">
                                        <label class="form-check-label" for="4thGrade">4th Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="5thGrade">
                                        <label class="form-check-label" for="5thGrade">5th Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="6thGrade">
                                        <label class="form-check-label" for="6thGrade">6th Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="7thGrade">
                                        <label class="form-check-label" for="7thGrade">7th Grade</label>
                                    </div>
                                    <div class="mb1 form-check">
                                        <input type="checkbox" class="form-check-input" id="8thGrade">
                                        <label class="form-check-label" for="8thGrade">8th Grade</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary text-white">Book</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </section>

    <section id="charges" class="py-5">
        <h2 class="text-center display-3">Tuition & Fees</h2>
        <div class="container">
            <p class="text-center">The school is funded by means of tution as well as the genrous gifts and volunteer services of the surrounding community.</p>
            <p class="text-center"><b>Classroom placement is scured upon payment of the consumable fee and first tuition installment.</b></p>
            <h3 class="text-center display-6">2021-2022 Tuition</h3>
            <table class="table table-bordered border-secondary">
                <thead class="bg-primary text-white">
                    <tr class="text-center">
                        <th scope="">Child #</th>
                        <th scope="">Annual Payment Plan</th>
                        <th scope="">PIF Tuition Discount</th>
                        <th scope="">Monthly Installments</th>
                    </tr>
                </thead>
                <tr class="bg-light">
                    <td colspan="3">
                        Junior Kindergarten & Transitional Kindergarten
                    </td>
                    <td class="text-center">10 Payments 8/1 - 5/1</td>
                </tr>
                <tr class="text-center">
                    <td>1st Child</td>
                    <td>$7250</td>
                    <td>$7100</td>
                    <td>$725</td>
                </tr>
                <tr class="text-center">
                    <td>2nd Child</td>
                    <td>$6700</td>
                    <td>$6550</td>
                    <td>$670</td>
                </tr>
                <tr class="text-center">
                    <td>3rd Child</td>
                    <td>$6700</td>
                    <td>$6550</td>
                    <td>$670</td>
                </tr>
                <tr class="bg-light">
                    <td colspan="4">
                        Kindergarten - Fifth Grade
                    </td>
                </tr>
                <tr class="text-center">
                    <td>1st Child</td>
                    <td>$6850</td>
                    <td>$6700</td>
                    <td>$685</td>
                </tr>
                <tr class="text-center">
                    <td>2nd Child</td>
                    <td>$6300</td>
                    <td>$6150</td>
                    <td>$630</td>
                </tr>
                <tr class="text-center">
                    <td>3rd Child</td>
                    <td>$6300</td>
                    <td>$6150</td>
                    <td>$630</td>
                </tr>
                <tr class="bg-light">
                    <td colspan="4">
                        Sixth - Eighth Grade
                    </td>
                </tr>
                <tr class="text-center">
                    <td>1st Child</td>
                    <td>$7300</td>
                    <td>$7150</td>
                    <td>$730</td>
                </tr>
                <tr class="text-center">
                    <td>2nd Child</td>
                    <td>$6750</td>
                    <td>$6600</td>
                    <td>$675</td>
                </tr>
                <tr class="text-center">
                    <td>3rd Child</td>
                    <td>$6750</td>
                    <td>$6600</td>
                    <td>$675</td>
                </tr>
            </table>

            <div class="my-5" id="fees">
                <div id="annual" class="my-5">
                    <h4>ANNUAL FEES</h4>
                    <hr>
                    <dl class="row">
                        <dt class="col-sm-2">Registration</dt>
                        <dt class="col-sm-2 text-center">$100</dt>
                        <dd class="col-sm-8"> Accounts must be current for re-enrolling students and registration fee paid by January 31</dd>
                      
                        <dt class="col-sm-2">TK/JK Consumables</dt>
                        <dt class="col-sm-2  text-center">$250</dt>
                        <dd class="col-sm-8">Fee include curriculum, emergency kit, yearbook, and craft supplies.</dd>
                      
                        <dt class="col-sm-2">K-8 Consumables</dt>
                        <dt class="col-sm-2  text-center">$325</dt>
                        <dd class="col-sm-8">Fee includes textbooks, emergency supplies, yearbook, and online resources. Maximum consumable fee per family is $850</dd>
                    </dl>
                </div>
                <div id="otherFees" class="my-5">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>NEW STUDENT FEES</h4>
                            <hr>
                            <dl class="row">
                                <dt class="col-sm-5">Registration</dt>
                                <dt class="col-sm-2">$100</dt>
                                <dd class="col-sm-5">Due With Application</dd>
                              
                                <dt class="col-sm-5">Academic Assessment</dt>
                                <dt class="col-sm-2">$50</dt>
                                <dd class="col-sm-5">Due with application</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <h4>OTHER FEES</h4>
                            <hr>
                            <dl class="row">
                                <dt class="col-sm-4">Athletic Fee</dt>
                                <dt class="col-sm-2">$150</dt>
                                <dd class="col-sm-6">per sport played</dd>
                              
                                <dt class="col-sm-4">Tutoring</dt>
                                <dt class="col-sm-2">$40</dt>
                                <dd class="col-sm-6">per hour</dd>
                              
                                <dt class="col-sm-4">Field Trip Fee</dt>
                                <dt class="col-sm-2">?</dt>
                                <dd class="col-sm-6">per trip</dd>

                                <dt class="col-sm-4">Emergency Lunch</dt>
                                <dt class="col-sm-2">$6</dt>
                                <dd class="col-sm-6">per lunch</dd>

                                <dt class="col-sm-4">Bounced Check Fee</dt>
                                <dt class="col-sm-2">$25</dt>
                                <dd class="col-sm-6">per check</dd>
                            </dl>



                        </div>
                    </div>
                </div>
                <div id="daycare">
                    <h4>DAYCARE</h4>
                    <hr>
                    <p><em> Daycare for JK through 8th Grade is open 6:30 - 8:00 a.m before school and 3:30 - 6:30 p.m. after school. See <a href="">calendar </a>for days of operation.</em></p>
                    <table class="table table-bordered border-secondary">
                        <thead class="bg-primary text-white">
                            <tr class="text-center">
                                <th scope="">Type</th>
                                <th scope="">Description</th>
                                <th scope="">Price</th>
                                <th scope="">Billed</th>
                            </tr>
                        </thead>
                        <tr class="text-center">
                            <td>Full Time Daycare</td>
                            <td> During School Year (August - May)</td>
                            <td>$200</td>
                            <td>Monthly</td>
                        </tr>
                        <tr class="text-center">
                            <td>FTDC Family Plan (2) </td>
                            <td>Two child discount during school year</td>
                            <td>$350</td>
                            <td>Monthly</td>
                        </tr>
                        <tr class="text-center">
                            <td>FTDC Family Plan (3+)</td>
                            <td>Three or more children discount during school year</td>
                            <td>$425</td>
                            <td>Monthly</td>
                        </tr>
                        <tr class="text-center">
                            <td>Full Time Daycare</td>
                            <td> Summer Months K-8</td>
                            <td>$700</td>
                            <td>Monthly</td>
                        </tr>
                        <tr class="text-center">
                            <td>Summer Celebration</td>
                            <td> Incoming Kindergarteners</td>
                            <td>$800</td>
                            <td>Monthly</td>
                        </tr>
                        <tr class="text-center">
                            <td>Summer Celebration</td>
                            <td>Hourly 9-12 am</td>
                            <td>$10</td>
                            <td>Hourly</td>
                        </tr>
                        <tr class="text-center">
                            <td>Joyful Beginnings</td>
                            <td>Preschool</td>
                            <td>$850</td>
                            <td>Monthly</td>
                        </tr>
                        <tr class="text-center">
                            <td>Hourly Daycare</td>
                            <td>For students not enrolled in FTDC</td>
                            <td>$8</td>
                            <td>Hourly</td>
                        </tr>
                        <tr class="text-center">
                            <td>After Hours Daycare</td>
                            <td>After 6:30 pm closing time (late pick-up)</td>
                            <td>$1</td>
                            <td>Minute</td>
                        </tr>
                    </table>
                </div>
                <div id="otherFees">
                </div>
            </div>
        </div>
    </section>

    <section id="process" class="py-5 bg-warning">
        <div class="container">
            <h2 class="text-center display-3">Enrollment Process</h2>
        </div>
    </section>

<%- include('partials/footer.ejs') %> 