<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 


<section id="campusShowcase" class="d-flex py-5 text-white align-items-center justify-content-center">
  <div id="campusOverlay"></div>
  <div id="campusHeader">
      <h1 class="display-1 showHead">CAMPUS</h1>
  </div>
</section>

<ul id="pageNav" class="nav nav-pills bg-info d-flex justify-content-around py-2 px-5 d-none d-md-flex">
    <li class="nav-item mx-4">
      <a class="btn rounded-pill" aria-current="page" href="#calendar">Calendar</a>
    </li>
    <li class="nav-item mx-4">
      <a class="btn rounded-pill" href="#athletics">Athletics</a>
    </li>
    <li class="nav-item mx-4">
      <a class="btn rounded-pill" href="#daycare">Daycare</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" href="#outreach">Outreach</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" href="#safety">Safety</a>
    </li>
</ul>

<section id="calendar" class="py-5">
  <div class="container mb-5">
    <h2 class="display-4 text-center mb-3">Calendar</h2>
    <hr class="section-hr mb-3">
    <h3 class="text-center mb-3">2022-2023</h3>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a href="/images/pdfs/Calendar-22-23.pdf" class="text-dark" style="text-decoration: none">
          <i class="fas fa-calendar-alt fa-7x mb-3"></i>
          <br>
          <div class="mb-3 row justify-content-center">
              <button class="btn btn-outline-dark border border-4 border-dark"><strong>PDF</strong></button>
          </div>
      </a>
      </div>
    </div>

    
  </div>
</section>

<section id="athletics" class="py-5 bg-light">
  <div class="container my-5">
      <h2 class="text-center display-4 ">Athletics</h2>
      <hr class="section-hr mb-3">

      <p class="lead text-center mt-5">The focus behind the athletic program at Tabernacle is to instill Christ-centered character traits within the lives of our student athletes. While the program includes training to enhance the ability of the student and education to develop a better understanding of sports, at the end of each day, we strive to glorify Him in all that we do.</p>
      <div class="row d-none d-md-flex my-5">
        <div class="col-md-2 offset-1">
            <img src="images/campus/tigerFootball.jpg" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-md-2">
            <img src="images/campus/tigerBaseball.png" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-md-2">
            <img src="images/campus/tigerBasketball.png" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-md-2">
            <img src="images/campus/tigerSoccer.png" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-md-2">
            <img src="images/campus/tigerVolleyball.png" class="img-fluid rounded-circle" alt="">
        </div>
      </div>
      <div class="row justify-content-around text-center">
          <div class="col-lg-6 my-5">
              <h4 class="text-center display-6">Sports Programs</h4>
              <p class="my-5">Tabernacle offers sports programs for boys and girls in junior high. Tryout information, practice days and the league schedule can be found on our sports calendar.The Tigers are part of the Bay Area Christian School Athletic League. For more information on BACSAL visit <a href="bascal.org">bacsal.org</a>.</p>
                <table class="table table-bordered border-2 mt-5 bg-white">
                  <thead class="bg-primary text-white">
                    <th>Quarter</th>
                    <th>Boys</th>
                    <th>Girls</th>
                  </thead>
                  <tr>
                    <td>1ST</td>
                    <td>Flag Football</td>
                    <td>Softball</td>
                  </tr>
                  <tr>
                    <td>2ND</td>
                    <td>Basketball</td>
                    <td>Basketball</td>
                  </tr>
                  <tr>
                    <td>3RD</td>
                    <td>Volleyball</td>
                    <td>Soccer</td>
                  </tr>
                  <tr>
                    <td>4TH</td>
                    <td>Soccer</td>
                    <td>Volleyball</td>
                  </tr>
                </table>
                <p>* Third and Fourth quarter sport offerings swap every other year</p>
                <div class="mt-5">
                  <h4 class="text-center display-6">Physical Education</h4>
                  <img src="images/campus/physicalEd.jpg" class="img-fluid my-5 rounded" alt="">
        
                  <p>Tabernacle provides Physical Education daily to Kindergarten through Eighth grade students. Our program gets students moving while introducing them to different sports and other physical activities. Special events include the Punt, Pass, and Kick competition and Track and Field Day.</p>
                </div>
          </div>
          <div class="col-lg-5 my-5">
            <table class="table table-bordered bg-white border-light mb-5">
              <thead>
                <tr class="bg-primary text-white">
                  <th colspan="4"><h5 class="text-center mt-1">2022 Boys Soccer</h5></th>
                </tr>
                <thead class="bg-primary text-white">
                  <th>Date</th>
                  <th>Opponent</th>
                  <th>Location</th>
                  <th>Time</th>
                </thead>
              </thead>
              <tbody>
                <tr>
                  <td>3/29</td>
                  <td>Cornerstone</td>
                  <td>Antioch Youth Sports Complex</td>
                  <td>3:00pm</td>
                </tr>
                <tr>
                  <td>3/31</td>
                  <td>Kings Valley</td>
                  <td>Kings Valley</td>
                  <td>3:30pm</td>
                </tr>
                <tr>
                  <td>4/5</td>
                  <td>Prince of Peace</td>
                  <td>Central Park Sports Complex Field #7, Fremont</td>
                  <td>3:30pm</td>
                </tr>
                <tr>
                  <td>4/12</td>
                  <td>Bay Christian</td>
                  <td>Central Park, Pittsburgh</td>
                  <td>3:30pm</td>
                </tr>
                <tr>
                  <td>4/14</td>
                  <td>Cornerstone</td>
                  <td>Antioch Youth Sports Complex</td>
                  <td>3:00pm</td>
                </tr>
                <tr>
                  <td>5/2</td>
                  <td>Cornerstone</td>
                  <td>Antioch Youth Sports Complex</td>
                  <td>3:00pm</td>
                </tr>
                <tr>
                  <td>5/3</td>
                  <td>Redwood Christian</td>
                  <td>Redwood Christian MS/HS</td>
                  <td>3:30pm</td>
                </tr>
                <tr>
                  <td>5/4</td>
                  <td>Kings Valley</td>
                  <td>Kings Valley</td>
                  <td>3:30pm</td>
                </tr>
                <tr>
                  <td>5/5</td>
                  <td>Bay Christian</td>
                  <td>TBD</td>
                  <td>TBD</td>
                </tr>
                <tr>
                  <td>5/10</td>
                  <td colspan="3" class="text-center">Playoffs Start</td>
                </tr>
                <tr>
                  <td>5/14</td>
                  <td class="text-center" colspan="3">Tournament</td>
                </tr>
              </tbody>
            </table>

            <table class="table table-bordered bg-white">
              <thead>
                <tr class="bg-primary text-white">
                  <td colspan="4"><h5 class="text-center mt-1">2022 Girls Volleyball</h5></td>
                </tr>
                <tr class="bg-primary text-white">
                  <th>Date</th>
                  <th>Opponent</th>
                  <th>Location</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>3/31</td>
                  <td>Kings Valley</td>
                  <td>Ultimate Fieldhouse</td>
                  <td>3:30pm</td>
                </tr>
                <tr>
                  <td>4/1</td>
                  <td>Kings Valley</td>
                  <td>Clayton Community Gym</td>
                  <td>3:30pm</td>
                </tr>
                <tr>
                  <td>4/5</td>
                  <td>Valley Christian Center</td>
                  <td>Valley Christian Campus, Dublin</td>
                  <td>3:30pm</td>
                </tr>
                <tr>
                  <td>4/12</td>
                  <td>Bay Christian</td>
                  <td>New Hope Church, Concord</td>
                  <td>3:30pm</td>
                </tr>
                <tr>
                  <td>4/14</td>
                  <td>Cornerstone</td>
                  <td>Cornerstone</td>
                  <td>4:00pm</td>
                </tr>
                <tr>
                  <td>5/2</td>
                  <td>Cornerstone</td>
                  <td>Cornerstone</td>
                  <td>4:00pm</td>
                </tr>
                <tr>
                  <td>5/4</td>
                  <td>Valley Christian</td>
                  <td>Valley Christian Center</td>
                  <td>3:30pm</td>
                </tr>
                <tr>
                  <td>5/5</td>
                  <td>Bay Christian</td>
                  <td>Ultimate Fieldhouse</td>
                  <td>3:30pm</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</section>


<section id="daycare" class="py-5">
    <div class="container my-5">
        <h2 class="display-4 text-center">Daycare</h2>
        <hr class="section-hr mb-4">
        <p class="lead mb-5">Tabernacle daycare is available to any enrolled student age 3 years 9 months to a graduated eighth grader through August after graduation. Our program is child centered. The caring and compassionate staff build a family like atmosphere in which your children will thrive. Relationships among families, children and staff are the heart of the program. We welcome you to visit Tabernacle School and see first hand the dedication and commitment our staff has for your children and your family. Many of our daycare workers are former students returning to their Tabernacle roots.</p>
        <div class="row justify-content-around">
            <div class="col-md-4">
                <h4 class="text-center mb-3">Director of Daycare</h4>
                <img src="/images/campus/daycareDirector.jpg" class="img-fluid center-cropped rounded-circle mx-auto d-block mb-3" alt="">
                <h5 class="text-center">Alex Buckley</h5>
                <p class="text-center">A former student who is now the director of Tabernacle Daycare operations.</p>
            </div>
            <div class="col-md-4 align-items-center my-5 py-5">
                <h4 class="text-center mb-3">Hours of Operation</h4>
                <p class="text-center mb-3">K-8TH 6:45 AM - 6:00 PM </p>
                <p class="text-center mb-3">JK 7:00 AM - 6:00 PM </p>
                <p class ="text-center mb-3">Monday - Friday</p>
            </div>
            <div class="row justify-content-center my-5">
              <div class="col-auto">
                <h4 class="text-center mb-3">Daycare Rates (2021-2022)</h4>
                  <p class="text-center">Hourly Drop-In Charges – $8.00 (Drop in daycare will not be available due to the Coronavirus).
                    Full-Time Daycare Summer Rate Kindergarten (going into first through 8th grades) (FTDC) – $700.00 per month
                    School Year Full-Time Daycare – $200.00 (6:45 am – 8:00 am, 3:15 pm – 6:00 pm plus non-school non-holiday days)
                  </p>
              </div>
            </div>
</section>



<section id="outreach" class="bg-light py-5">
  <h2 class="text-center display-4 mt-5">Outreach</h2>
  <hr class="section-hr mb-5">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-4 mb-3">
              <a href="http://gsconcord.com/outreach-ministries/friends-feeding-friends/">
                <h3 class="p-2 rounded-pill border border-3 border-dark">Friends Feeding Friends</h3>
                <img src="images/campus/friendsFeeding.jpg" class="img-fluid center-cropped rounded-circle my-4 border border-5 border-dark" alt="">
              </a>
              <p class="lead">An outreach ministry that serves the homeless and low income people in our community in loving memory of Sarah Deniston.</p>
          </div>
          <div class="col-md-4 mb-3">
              <a href="https://www.foodbankccs.org/give-help/host-a-drive.html">
                <h3 class="p-2 rounded-pill border border-3 border-dark">Thanksgiving Food Drive</h3>
                <img src="images/campus/thanksgiving.jpg" class="img-fluid center-cropped rounded-circle my-4 border border-5 border-dark" alt="">
              </a>
              <p class="lead">Tabernacle partners with the Food Bank of Contra Costa and Solano during November to collect healthy and nonperishable foods.</p>
          </div>
          <div class="col-md-4 mb-3">
              <a href="https://www.samaritanspurse.org/what-we-do/operation-christmas-child/">
                <h3 class="p-2 rounded-pill border border-3 border-dark">Operation Christmas Child</h3>
                <img src="images/campus/operationChristmas.jpg" class="img-fluid center-cropped rounded-circle my-4 border border-5 border-dark" alt="">
              </a>
              <p class="lead">Partnering with Samaritan’s Purse, Tabernacle families pack shoeboxes to show God’s love in a tangible way to children in need around the world.</p>
          </div>
      </div>
  </div>
</section>




<section id="safety" class="py-5">
  <div class="container my-5">
      <h2 class="display-4 text-center">Safety</h2>
      <hr class="section-hr mb-4">
      <div class="row align-items-center justify-content-around">
          <div class="col-md-5">
              <div class="col d-grid p-2">
                  <a href="images/pdfs/ReopeningPlan2021.docx.pdf" class="btn btn-warning btn-lg">Reopening Plan</a>
              </div>
              <div class="col d-grid p-2">
                  <a class="btn btn-warning btn-lg" href="images/pdfs/screeningProcedures.pdf">Screening Procedures</a>
              </div>
              <div class="col d-grid p-2">
                  <a class="btn btn-warning btn-lg" href="images/pdfs/selfAssessmentForm.pdf">Self-Assessment Form</a>
              </div>
              <div class="col d-grid p-2">
                  <a class="btn btn-warning btn-lg" href="images/pdfs/staffWaiverForm.pdf">Staff Waiver Form</a>
              </div>
              <div class="col d-grid p-2">
                  <a class="btn btn-warning btn-lg" href="images/pdfs/parentWaiverForm.pdf">Parent Waiver Form</a>
              </div>
          </div>
          <div class="col-md-5">
              <img src="images/campus/covid.jpg" class="img-fluid" alt="">
          </div>
      </div>
  </div>
</section>


<script src="/public/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


<%- include('partials/footer.ejs') %> 