<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 


<section id="campusShowcase" class="py-5">
    <h1 class="display-1 text-center">CAMPUS</h1>
</section>

<ul id="pageNav" class="nav nav-pills bg-info d-flex justify-content-around py-2 px-5 d-none d-md-flex">
    <li class="nav-item mx-4">
      <a class="btn rounded-pill" aria-current="page" href="#calendar">Calendar</a>
    </li>
    <li class="nav-item mx-4">
      <a class="btn rounded-pill" href="#daycare">Daycare</a>
    </li>
    <li class="nav-item mx-4">
      <a class="btn rounded-pill" href="#athletics">Athletics</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" href="#outreach">Outreach</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" href="#safety">Safety</a>
    </li>
</ul>

<section id="calendar" class="py-5 bg-secondary text-white">
  <div class="">
    <h2 class="display-4 text-center">Calendar</h2>
    <hr class="section-hr mb-4">
    <h5 class="text-center"><%= new Date(); %></h5>
      <div class="container d-flex justify-content-center mb-5">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&showTitle=0&showNav=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&showDate=0&src=bWF0dHBAdGJzLm9yZw&src=dGFiZXJuYWNsZS5zY2hvb2wxQGdtYWlsLmNvbQ&color=%237986CB&color=%23F09300" style="border:solid 10px; border-bottom-color: red; border-top-color: blue; border-right-color: yellow; border-left-color: green" width="1000" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
  </div>
</section>

<section id="athletics" class="py-5">
  <div class="container">
      <h2 class="text-center display-4 ">Athletics</h2>
      <hr class="section-hr mb-3">
      <div class="row d-none d-md-flex my-5">
          <div class="col-md-2 offset-1">
              <img src="images/tigerFootball.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-2">
              <img src="images/tigerBaseball.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-2">
              <img src="images/tigerBasketball.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-2">
              <img src="images/tigerSoccer.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-2">
              <img src="images/tigerVolleyball.png" class="img-fluid" alt="">
          </div>
      </div>
      <p class="lead">The focus behind the athletic program at Tabernacle is to instill Christ-centered character traits within the lives of our student athletes. While the program includes training to enhance the ability of the student and education to develop a better understanding of sports, at the end of each day, we strive to glorify Him in all that we do.</p>
      <p class="text-center">[full size video here]</p>
      <div class="row text-center">
          <div class="col-md-6 my-5">
              <h4 class="text-center display-6 mb-3">Physical Education</h4>
              <p>Tabernacle provides Physical Education daily to Kindergarten through Eighth grade students. Our program gets students moving while introducing them to different sports and other physical activities. Special events include the Punt, Pass, and Kick competition and Track and Field Day.</p>
              <img src="images/physicalEd.jpg" class="img-fluid mx-auto d-block mt-5" alt="">
          </div>
          <div class="col-md-6 my-5">
              <h4 class="text-center display-6 mb-3">Sports Programs</h4>
              <p>Tabernacle offers sports programs for boys and girls in junior high. Tryout information, practice days and the league schedule can be found on our sports calendar.The Tigers are part of the Bay Area Christian School Athletic League. For more information on BACSAL visit <a href="bascal.org">bacsal.org</a>.</p>

                <table class="table table-bordered border border-dark border-2 mt-5">
                  <thead class="bg-primary text-white">
                    <th>Quarter</th>
                    <th>Boys</th>
                    <th>Girls</th>
                  </thead>
                  <tr>
                    <th scope="row" class="bg-light">First</th>
                    <td>Flag Football</td>
                    <td>Softball</td>
                  </tr>
                  <tr>
                    <th scope="row" class="bg-light">Second</th>
                    <td>Basketball</td>
                    <td>Basketball</td>
                  </tr>
                  <tr>
                    <th scope="row" class="bg-light">Third</th>
                    <td>Volleyball</td>
                    <td>Soccer</td>
                  </tr>
                  <tr>
                    <th scope="row" class="bg-light">Fourth</th>
                    <td>Soccer</td>
                    <td>Volleyball</td>
                  </tr>
                </table>
                <p>* Third and Fourth quarter sport offerings swap every other year</p>
          </div>
      </div>
  </div>
</section>


<section id="daycare" class="bg-light py-5">
    <div class="container">
        <h2 class="display-4 text-center">Daycare</h2>
        <hr class="section-hr mb-4">
        <h4 class="text-center mb-3">Hours of Operation : 6:30 AM - 6:30 PM Monday - Friday : Closed on Holidays</h4>
        <p class="lead">Tabernacle daycare is available to any enrolled student age 3 years 9 months to a graduated eighth grader through August after graduation. Our program is child centered. The caring and compassionate staff build a family like atmosphere in which your children will thrive. Relationships among families, children and staff are the heart of the program. We welcome you to visit Tabernacle School and see first hand the dedication and commitment our staff has for your children and your family. Many of our daycare workers are former students returning to their Tabernacle roots.</p>
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-center mb-3">Director of Daycare</h4>
                <img src="/images/daycareDirector.jpg" class="img-fluid center-cropped rounded mx-auto d-block mb-3" alt="">
                <h5 class="text-center">Alex Buckley</h5>
                <p class="text-center">A former student who is now the director of Tabernacle Daycare operations.</p>
            </div>
            <div class="col-md-8">
                <h4 class="text-center mb-3">Additional Information</h4>
                <div class="accordion accordion-flush text-dark" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Drop-In Daycare (2020)
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          Changes in our Daycare Program are underway due to the Coronavirus. For the summer of 2020 daycare will be open only to full-time students as the law permits. There will be no daycare drop-in offered. We are currently only accepting school families of essential workers at a 12:1 ratio. (1:10 for preschool)
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          School Days (2020 - 2021)
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          It is unknown at this time what our school year daycare program will be. Tabernacle will be as active as the law permits. We are working on ideas and will present our 2020 program as soon as we know the laws and requirements.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Daycare Rates (2021-2022)
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          Hourly Drop-In Charges – $8.00 (Drop in daycare will not be available due to the Coronavirus).
                          Full-Time Daycare Summer Rate Kindergarten (going into first through 8th grades) (FTDC) – $700.00 per month
                          School Year Full-Time Daycare – $200.00 (6:30 am – 8:00 am, 3:15 pm – 6:30 pm plus non-school non-holiday days)
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<section id="safety" class="py-5">
    <div class="container">
        <h2 class="display-4 text-center">Safety</h2>
        <hr class="section-hr mb-4">
        <div class="row align-items-center justify-content-around">
            <div class="col-md-5">
                <div class="col d-grid p-2">
                    <a href="pdfs/ReopeningPlan2021.pdf" class="btn btn-warning btn-lg">Reopening Plan</a>
                </div>
                <div class="col d-grid p-2">
                    <a class="btn btn-warning btn-lg" href="pdfs/screeningProcedures.pdf">Screening Procedures</a>
                </div>
                <div class="col d-grid p-2">
                    <a class="btn btn-warning btn-lg" href="pdfs/selfAssessmentForm.pdf">Self-Assessment Form</a>
                </div>
                <div class="col d-grid p-2">
                    <a class="btn btn-warning btn-lg" href="pdfs/staffWaiverForm.pdf">Staff Waiver Form</a>
                </div>
                <div class="col d-grid p-2">
                    <a class="btn btn-warning btn-lg" href="pdfs/parentWaiverForm.pdf">Parent Waiver Form</a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="images/covid.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>



<section id="outreach" class="bg-light py-5">
  <h2 class="text-center display-4">Outreach</h2>
  <hr class="section-hr mb-5">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-4 mb-3">
              <h3 class="">Friends Feeding Friends</h3>
              <a href="http://gsconcord.com/outreach-ministries/friends-feeding-friends/">
                <img src="images/friendsFeeding.jpg" class="img-fluid center-cropped rounded-circle my-4 border border-5 border-dark" alt="">
              </a>
              <p class="lead">An outreach ministry that serves the homeless and low income people in our community in loving memory of Sarah Deniston.</p>
          </div>
          <div class="col-md-4 mb-3">
              <h3>Thanksgiving Food Drive</h3>
              <a href="https://www.foodbankccs.org/give-help/host-a-drive.html">
                <img src="images/thanksgiving.jpg" class="img-fluid center-cropped rounded-circle my-4 border border-5 border-dark" alt="">
              </a>
              <p class="lead">Tabernacle partners with the Food Bank of Contra Costa and Solano during November to collect healthy and nonperishable foods.</p>
          </div>
          <div class="col-md-4 mb-3">
              <h3>Operation Christmas Child</h3>
              <a href="https://www.samaritanspurse.org/what-we-do/operation-christmas-child/">
                <img src="images/operationChristmas.jpg" class="img-fluid center-cropped rounded-circle my-4 border border-5 border-dark" alt="">
              </a>
              <p class="lead">Partnering with Samaritan’s Purse, Tabernacle families pack shoeboxes to show God’s love in a tangible way to children in need around the world.</p>
          </div>
      </div>
  </div>
</section>

<script src="/public/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


<%- include('partials/footer.ejs') %> 