<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 


<section id="contactShowcase" class="py-5 bg-light showHead">
    <h1 class="display-1 text-center">CONTACT INFO</h1>
</section>

<section id="contactInfo" class="py-5 bg-dark">
    <div class="container">
        <div class="row align-items-center py-5 text-white border border-5 border-white bg-primary my-5">
            <div class="col-md-4 d-flex justify-content-center">
                <p class="lead text-center">
                    <strong>ADDRESS</strong>
                    <br>
                    Tabernacle school
                    <br>
                    4380 Concord Blvd
                    <br>
                    Concord, CA 94521
                </p>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <p class="lead text-center">
                    <b>PHONE</b> 
                    <br>
                    (925) 685-9169
                    <br>
                    <b>FAX</b>
                    <br>
                    (925) 685-9176
                    <br>
                    <b>EMAIL</b>
                    <br>
                    <a href="mailto:info@tbs.org" class="link-light">info@tbs.org</a>

                </p>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <p class="lead text-center">
                    <b>HOURS</b> 
                    <br>
                    6:30AM-6:30PM
                    <br>
                    <b>DAYS</b>
                    <br>
                    Monday - Friday
                </p>
            </div>
        </div>
        <h5 class="text-center display-5 text-white mb-3">Support Staff</h5>
        <div class="row bg-white p-4 rounded my-5">
                <div class="col-md-3 text-center">
                    <h5 class="text-center">Rebeca Shreve</h5>
                    <span class="text-muted">Administrator</span>
                    <div class="d-flex justify-content-center">
                        <img src="images/faculty/rebecaShreve.jpg" class="img-fluid d-flex rounded-circle" alt="">
                    </div>
                    <a href="mailto:Rebeccas@tbs.org" class="email-link">Rebeccas@tbs.org</a>
                    <br>
                    <a href="facultyProfiles/rebecaShreve" class="about-link">About Me</a>
                </div>
                <div class="col-md-3 text-center">
                  <h5 class="text-center">Patti Chan</h5>
                  <span class="text-muted">Finance Manager</span>
                  <div class="d-flex justify-content-center">
                      <img src="images/faculty/pattiChan.jpg" class="img-fluid d-flex rounded-circle" alt="">
                  </div>
                  <a href="mailto:Pattic@tbs.org" class="email-link">Pattic@tbs.org</a>
                  <br>
                  <a href="facultyProfiles/pattiChan" class="about-link">About Me</a>
              </div>
              <div class="col-md-3 text-center">
                  <h5 class="text-center">Lisa Mazzoncini</h5>
                  <span class="text-muted">Registrar & Office Manager</span>
                  <div class="d-flex justify-content-center">
                      <img src="images/faculty/lisaMazzoncini.jpg" class="img-fluid d-flex rounded-circle" alt="">
                  </div>
                  <a href="mailto:Lisam@tbs.org" class="email-link">Lisam@tbs.org</a>
                  <br>
                  <a href="facultyProfiles/lisaMazzoncini" class="about-link">About Me</a>
              </div>
              <div class="col-md-3 text-center">
                  <h5 class="text-center">Laurie Pease</h5>
                  <span class="text-muted">Student Services Coordinator</span>
                  <div class="d-flex justify-content-center">
                      <img src="images/faculty/lauriePease.jpg" class="img-fluid d-flex rounded-circle" alt="">
                  </div>
                  <a href="mailto:Lauriep@tbs.org" class="email-link">Lauriep@tbs.org</a>
                  <br>
                  <a href="facultyProfiles/lauriePease" class="about-link">About Me</a>
              </div>
            </div>
        <h5 class="display-5 text-center text-white mb-3">Administration</h5>
            <div class="row bg-white rounded p-4 justify-content-around my-5">
                <div class="col-md-4 text-center">
                        <h5 class="text-center">Vern Taylor</h5>
                        <span class="text-muted">Principal</span>
                        <div class="d-flex justify-content-center">
                            <img src="images/faculty/vernTaylor.jpg" class="img-fluid d-flex rounded-circle" alt="">
                        </div>
                        <a href="mailto:Vernt@tbs.org" class="email-link">Vernt@tbs.org</a>
                        <br>
                        <a href="facultyProfiles/vernTaylor" class="about-link">About Me</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h5 class="text-center">Theresa Kukla</h5>
                        <span class="text-muted">Vice Principal</span>
                        <div class="d-flex justify-content-center">
                            <img src="images/faculty/theresaKukla.jpg" class="img-fluid d-flex rounded-circle" alt="">
                        </div>
                        <a href="mailto:Theresak@tbs.org" class="email-link">Theresak@tbs.org</a>
                        <br>
                        <a href="facultyProfiles/theresaKukla" class="about-link">About Me</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h5 class="text-center">Dave Pereira</h5>
                        <span class="text-muted">Director of Finance & Technology</span>
                        <div class="d-flex justify-content-center">
                            <img src="images/faculty/davePereira.jpg" class="img-fluid d-flex rounded-circle" alt="">
                        </div>
                        <a href="mailto:Davep@tbs.org" class="email-link">Davep@tbs.org</a>
                        <br>
                        <a href="facultyProfiles/davePereira" class="about-link">About Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <section id="contactForm" class="bg-light py-5">
    <div class="container">
        <p class="lead text-center my-5">Let’s talk! Don’t hesitate to reach out with the contact information below, or send a message using the form.</p>

        <form action="" class="p-5 bg-white rounded">
            <h5 class="display-6 text-center">Send Us A Message</h5>
            <div class="row align-items-end mb-3">
                <div class="col-md-4">
                    <label for="name"><strong>NAME</strong></label>
                    <input type="text" class="form-control" placeholder="First">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Last">
                </div>
                <div class="col-md-4">
                    <label for="email"><strong>EMAIL</strong></label>
                    <input type="textarea" class="form-control" placeholder="yourEmail@gmail.com">
                </div>
            </div>
            <div class="row mb-3">
                <label for="message"><strong>MESSAGE</strong></label>
                <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-secondary btn-lg">Send Message</button>
            </div>
        </form>
        
    </div>
</section> -->


<%- include('partials/footer.ejs') %> 