<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 


<section id="employmentShowcase" class="py-5">
    <h1 class="display-1 text-center">EMPLOYMENT</h1>
</section>

<section class="py-5 bg-light">
    <div class="container">
        <p class="lead text-center">Thank you for your interest in serving at Tabernacle School!</p>
        <p class="text-center">
            If you share our vision, we are currently accepting applications.  Please download an application, and begin pursuing a position with us.  Return your application along with a cover letter, resume, copies of your letters of recommendation and any transcripts or certifications.
        </p>
        <div class="row justify-content-center my-5">
            <div class="col-md-4">
                <button class="btn btn-outline-dark btn-lg border border-4 border-dark"><strong>Employee & Teacher Application</strong></button>
            </div>
        </div>
        <h4>Required Employment Application Materials</h4>
        <ol>
            <li>Complete employment application. Resumes can not be substituted for a completed application.</li>
            <li>Current Resume</li>
            <li>Copy of College Transcripts (For Faculty Positions)</li>
            <li>Three letters of reference</li>
        </ol>
        <h4>Spiritual Requirements</h4>
        <p>Must be a professing believer of Jesus Christ and attend a Christ-centered church.</p>
        <h4>Equal Opportunity Employer</h4>
        <p>
            Tabernacle School is an equal opportunity employer, dedicated to a policy of non-discrimination in employment on any basis including age, sex, color, race, creed, national origin, marital status, political belief or disability. Federal law prohibits the employment of unauthorized aliens. All persons hired must submit satisfactory proof of employment authorization and identity within three (3) days of being hired. Failure to submit such proof within the required time shall result in immediate employment termination.
        </p>
    </div>
</section>


<%- include('partials/footer.ejs') %> 