<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 

<section id="familyShowcase" class="py-5">
    <div class="container">

        
        <svg viewBox="0 0 600 150">
            <!-- Symbol-->
            <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="50%" dy=".35em">TS FAMILY</text>
            </symbol>
            <!-- Duplicate symbols-->
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
        </svg>

    </div>
</section>

<ul id="pageNav" class="nav nav-pills bg-info d-flex justify-content-center py-2 d-none d-md-flex">
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" aria-current="page" href="#forms">Forms</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" aria-current="page" href="#information">Information</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" href="#tigerLife">Tiger Life</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" aria-current="page" href="#portals">Portals</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" href="#giving">Giving</a>
    </li>
</ul>

<section id="forms" class="py-5">
    <div class="container">
        <h2 class="display-3 text-center">Forms & Agreements</h2>
        <hr class="section-hr mb-3">
        <div class="row py-5 text-center justify-content-around">
            <div class="col-md-2">
                <i class="fas fa-laptop-code fa-7x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="/familyDashboard/forms/techAgreement" class="btn btn-outline-dark border border-4 border-dark"><strong>Technology</strong></a>
                </div>
            </div>
            <div class="col-md-2">
                <i class="fas fa-bicycle fa-7x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="/familyDashboard/forms/bicycleAgree" class="btn btn-outline-dark border border-4 border-dark"><strong>Bicycle or Walk</strong></a>
                </div>
            </div>
            <div class="col-md-2">
                <i class="fas fa-car-side fa-7x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="/familyDashboard/forms/driverForm" class="btn btn-outline-dark border border-4 border-dark"><strong>Vehicle Driver</strong></a>
                </div>
            </div>
            <div class="col-md-2">
                <i class="fas fa-clinic-medical fa-7x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="pdfs/AuthorizationforMedication.pdf" class="btn btn-outline-dark border border-4 border-dark"><strong>Medication</strong></a>
                </div>
            </div>
            <div class="col-md-2">
                <i class="fas fa-basketball-ball fa-7x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="pdfs/sportsMedicalForm.pdf" class="btn btn-outline-dark border border-4 border-dark"><strong>Sports Physical</strong></a>
                </div>
            </div>
        </div>
    </div>
</section>






<section id="schoolInfo" class="bg-info py-5">
    <div class="container">
        <h2 class="display-3 text-center text-white">Information</h2>
        <hr class="section-hr mb-3">
        <div class="row py-5 text-center">
            <div class="col-md-3">
                <i class="fas fa-book fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="pdfs/schoolHandbook22.pdf" class="btn btn-outline-dark border border-4 border-dark"><strong>School Handbook</strong></a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-user-friends fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="/familyDashboard/info/orientationInfo" class="btn btn-outline-dark border border-4 border-dark"><strong>Parent Orientation</strong></a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-money-check fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="/admissions#charges" class="btn btn-outline-dark border border-4 border-dark"><strong>Tuition</strong></a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-question-circle fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="/familyDashboard/info/factsHelp" class="btn btn-outline-dark border border-4 border-dark"><strong>FACTS (Renweb) Help</strong></a>
                </div>
            </div>
        </div>
        <div class="row py-5 text-center">
            <div class="col-md-3">
                <i class="fas fa-parachute-box fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="/familyDashboard/info/supplyList" class="btn btn-outline-dark border border-4 border-dark"><strong>Supply List</strong></a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-user-tie fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="/familyDashboard/info/uniformGuidelines" class="btn btn-outline-dark border border-4 border-dark"><strong>Uniform Guidlines</strong></a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-exclamation-triangle fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="/familyDashboard/info/jrHighDiscipline" class="btn btn-outline-dark border border-4 border-dark"><strong>Middle School Discipline</strong></a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-calendar-alt fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="pdfs/Calendar-21-22.pdf" class="btn btn-outline-dark border border-4 border-dark"><strong>Calendar PDF</strong></a>
                </div>
            </div>
        </div>
    </div>
</section>




<section id="tigerLife" class="py-5 bg-secondary text-white">
    <div class="container">
        <h2 class="display-2 text-center">Tiger Life</h2>
        <hr class="section-hr mb-3">
        <div class="row my-5 justify-content-around">
            <div class="col-md-3">
                <h3 class=" text-center">Weekly Newsletter</h3>
                <div class="">
                    <a href="familyDashboard/newsletter">
                        <img src="images/weeklyNewsletter.jpg" class="img-fluid center-cropped rounded-circle border border-5 border-white"  alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="text-center">Awards</h3>
                <div class="">
                    <a href="familyDashboard/awards">
                        <img src="images/jrHighAwardLogo.png" class="img-fluid center-cropped rounded-circle border border-5 border-white"  alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="text-center">Orientation Video</h3>
                <div class="">
                    <a href="familyDashboard/orientationVideo">
                        <img src="images/parentOrientationLogo.jpeg" class="img-fluid center-cropped rounded-circle border border-5 border-white"  alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="portals" class="py-5 bg-dark text-white">
    <div class="container">
        <h2 class="display-3 text-center">School Portals</h2>
        <hr class="section-hr mb-5">
        <div class="row text-center align-items-center">
            <div class="col-md-4">
                <a href="https://tabernacleca.ignitiaschools.com/owsoo/login/auth">
                    <img src="images/ignitia.png" class="img-fluid border border-5 p-3 bg-white w-75 border-secondary" alt="">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.choicelunch.com/">
                    <img src="images/choiceLunch.jpeg" class="img-fluid rounded border border-5 p-3 bg-white border-secondary" alt="">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://logins2.renweb.com/logins/ParentsWeb-Login.aspx">
                    <img src="images/facts.png" class="img-fluid border rounded border-5 p-3 bg-white border-secondary" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<section id="giving" class="py-5">
    <div class="container">
        <h2 class="display-4 text-center">Giving</h2>
        <hr class="section-hr mb-3">
            <div id="amazonSmile">
                <div class="d-flex justify-content-center">
                    <a href="https://smile.amazon.com">
                        <img src="images/amazonSmile.png" class="img-fluid mb-5" alt="">
                    </a>
                </div>
                <p>AmazonSmile is a program that donates 0.5% of your eligible purchases on Amazon to a charity of your choice. All you need to do is start your shopping at <a href="https://smile.amazon.com">smile.amazon.com</a>. The donation will be made at no extra cost to you and you can choose from nearly one million public charitable organizations.</p>
                <h5>Explanation</h5>
                <p><a href="https://smile.amazon.com">AmazonSmile</a> is a website operated by Amazon with the same products, prices, and shopping features as Amazon.com. The difference is that when you shop on AmazonSmile, the AmazonSmile Foundation will donate 0.5% of the purchase price of eligible products to the charitable organization of your choice. Please choose Tabernacle Christian School in Concord, CA.</p>
                <h5>How To Start Using AmazonSmile Today!</h5>
                <p>Sign in to <a href="https://smile.amazon.com">smile.amazon.com</a> on your desktop or mobile phone browser. Search for Tabernacle Christian School and make sure to choose the one in Concord, CA!</p>
                <h5>AmazonSmile With Amazon App</h5>
                <ol>
                    <li>Download or update to the latest version of the Amazon Shopping app on your phone. You can find it in the <a href="https://apps.apple.com">App Store</a> for iOS or <a href="https://play.google.com">Google Play</a> for Android.</li>
                    <li>Open the app and find ’Settings’ in the main menu (☰). Tap on ‘AmazonSmile’ and follow the on-screen instructions to turn on AmazonSmile on your phone.</li>
                </ol>
            </div>
            </div>
        </div>
    </div>
</section>


<section id="footer" class="bg-light">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    Tabernacle school
                    <br>
                    4380 Concord Blvd
                    <br>
                    Concord, CA 94521
                </p>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    <b>Phone:</b> (925) 685-9169
                    <br>
                    <b>Email:</b> <a href="mailto:info@tbs.org">info@tbs.org</a>

                </p>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    <b>Hours:</b> 6:30AM-6:30PM
                    <br>
                    <b>Days:</b> Monday - Friday
                </p>
            </div>
        </div>
    </div>
</section>

<section id="webDeveloper" class="bg-dark py-1">
    <div class="container text-center text-white mt-3">
        <p>Website by <a href="">Matthew Pereira</a></p>
    </div>
</section>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>