<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 

<section id="familyShowcase">
    <div class="container">
        <h1 class="display-1 text-center">Family Dashboard</h1>
    </div>
</section>

<ul class="nav nav-pills bg-info d-flex justify-content-around py-2 px-5 d-none d-md-flex">
    <li class="nav-item">
        <a class="nav-link btn btn-danger border bg-white rounded-pill" href="">Tiger Life</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-danger border bg-white rounded-pill" aria-current="page" href="">Portals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-danger border bg-white rounded-pill" aria-current="page" href="">School Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-danger border bg-white rounded-pill" href="">Giving</a>
    </li>
</ul>

<section id="tigerLife" class="py-5 bg-warning">
    <div class="container">
        <h2 class="display-2 text-center">Tiger Life</h2>
        <hr class="section-hr mb-3">
        <div class="row my-5">
            <div class="col-md-4 justify-content-center">
                <h3 class=" text-center">Weekly Newsletter</h3>
                <div class="d-flex justify-content-center">
                    <a href="">
                        <img src="images/weeklyNewsletter.jpg" class="img-fluid center-cropped rounded-circle border border-5 border-dark"  alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Student Photos</h3>
                <div class="d-flex justify-content-center">
                    <a href="">
                        <img src="images/studentPhotoLogo.jpg" class="img-fluid center-cropped rounded-circle border border-5 border-dark" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Tiger Athletics</h3>
                <div class="d-flex justify-content-center">
                    <a href="">
                        <img src="images/tigerAthleticsLogo.jpg" class="img-fluid center-cropped rounded-circle border border-5 border-dark"  alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4">
                <h3 class="text-center">Summer Daycare</h3>
                <div class="d-flex justify-content-center">
                    <a href="">
                        <img src="images/summerDCLogo.png" class="img-fluid center-cropped rounded-circle border border-5 border-dark"  alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-4 justify-content-center">
                <h3 class="text-center">Spelling Bee 2020</h3>
                <div class="d-flex justify-content-center">
                    <a href="">
                        <img src="images/spellingBeeLogo.jpg" class="img-fluid center-cropped rounded-circle border border-5 border-dark"  alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">STEM Fair</h3>
                <div class="d-flex justify-content-center">
                    <a href="">
                        <img src="images/stemLogo.png" class="img-fluid center-cropped rounded-circle border border-5 border-dark"  alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4 justify-content-center">
                <h3 class="text-center">Junior High Awards</h3>
                <div class="d-flex justify-content-center">
                    <a href="">
                        <img src="images/jrHighAwardLogo.png" class="img-fluid center-cropped rounded-circle border border-5 border-dark"  alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Parent Orientation</h3>
                <div class="d-flex justify-content-center">
                    <a href="">
                        <img src="images/parentOrientationLogo.jpg" class="img-fluid center-cropped rounded-circle border border-5 border-dark"  alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portals" class="py-5">
    <div class="container">
        <h2 class="display-3 text-center">Login Portals</h2>
        <hr class="section-hr mb-5">
        <div class="row text-center">
            <div class="col-md-4">
                <a href="https://tabernacleca.ignitiaschools.com/owsoo/login/auth" class="btn btn-lg btn-danger mb-4">Ignitia</a>
                <img src="images/ignitia.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-4">
                <a href="https://www.choicelunch.com/" class="btn btn-lg btn-danger mb-4">Choice Lunch</a>
                <br>
                <img src="images/choiceLunch.jpeg" class="img-fluid mb-5 rounded" alt="">
            </div>
            <div class="col-md-4">
                <a href="https://logins2.renweb.com/logins/ParentsWeb-Login.aspx" class="btn btn-lg btn-danger mb-4">Facts/Renweb</a>
                <img src="images/facts.png" class="img-fluid mb-5" alt="">
            </div>
        </div>
    </div>
</section>


<section id="currentInfo" class="bg-info py-5">
    <div class="container">
        <h2 class="display-3 text-center text-white">School Information</h2>
        <hr class="section-hr mb-3">
        <div class="row py-5 text-center">
            <div class="col-md-3">
                <i class="fas fa-book fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="pdfs/schoolHandbook22.pdf" class="btn btn-warning">School Handbook</a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-user-friends fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="" class="btn btn-warning">Parent Orientation</a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-money-check fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="/admissions" class="btn btn-warning">Tuition</a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-question-circle fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="" class="btn btn-warning">FACTS (Renweb) Help</a>
                </div>
            </div>
        </div>
        <div class="row py-5 text-center">
            <div class="col-md-3">
                <i class="fas fa-parachute-box fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="" class="btn btn-warning">Supply List</a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-user-tie fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="" class="btn btn-warning">Uniform Guidlines</a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-exclamation-triangle fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="" class="btn btn-warning">JR High Discipline Policy</a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-calendar-alt fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="pdfs/Calendar-21-22.pdf" class="btn btn-warning">Calendar PDF</a>
                </div>
            </div>
        </div>
        <div class="row py-5 text-center">
            <div class="col-md-3">
                <i class="fas fa-clinic-medical fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="pdfs/AuthorizationforMedication.pdf" class="btn btn-warning">Medication Authorization Form</a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-laptop-code fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="" class="btn btn-warning">Technology Agreement</a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-car-side fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="" class="btn btn-warning">Vehicle Driver Form</a>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-basketball-ball fa-10x mb-3"></i>
                <br>
                <div class="d-grid">
                    <a href="" class="btn btn-warning">Sports Medical Approval Form</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="charity" class="py-5">
    <div class="container">
        <h2 class="display-4 text-center">Giving</h2>
        <hr class="section-hr mb-3">
            <div id="amazonSmile">
                <div class="d-flex justify-content-center">
                    <a href="smile.amazon.com">
                        <img src="images/amazonSmile.png" class="img-fluid mb-5" alt="">
                    </a>
                </div>
                <p>AmazonSmile is a program that donates 0.5% of your eligible purchases on Amazon to a charity of your choice. All you need to do is start your shopping at <a href="https://smile.amazon.com">smile.amazon.com</a>. The donation will be made at no extra cost to you and you can choose from nearly one million public charitable organizations.</p>
                <h5>Explanation</h5>
                <p><a href="https://smile.amazon.com">AmazonSmile</a> is a website operated by Amazon with the same products, prices, and shopping features as Amazon.com. The difference is that when you shop on AmazonSmile, the AmazonSmile Foundation will donate 0.5% of the purchase price of eligible products to the charitable organization of your choice. Please choose Tabernacle Christian School in Concord, CA.</p>
                <h5>How To Start Using AmazonSmile Today!</h5>
                <p>Sign in to <a href="https://smile.amazon.com">smile.amazon.com</a> on your desktop or mobile phone browser. Search for Tabernacle Christian School and make sure to choose the one in Concord, CA!</p>
                <h5>AmazonSmile With Amazon App</h5>
                <ol>
                    <li>Download or update to the latest version of the Amazon Shopping app on your phone. You can find it in the <a href="https://apps.apple.com">App Store</a> for iOS or <a href="https://play.google.com">Google Play</a> for Android.</li>
                    <li>Open the app and find ’Settings’ in the main menu (☰). Tap on ‘AmazonSmile’ and follow the on-screen instructions to turn on AmazonSmile on your phone.</li>
                </ol>
            </div>
            </div>
        </div>
    </div>
</section>


<section id="footer" class="bg-light">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    Tabernacle school
                    <br>
                    4380 Concord Blvd
                    <br>
                    Concord, CA 94521
                </p>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    <b>Phone:</b> (925) 685-9169
                    <br>
                    <b>Email:</b> <a href="mailto:info@tbs.org">info@tbs.org</a>

                </p>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    <b>Hours:</b> 6:30AM-6:30PM
                    <br>
                    <b>Days:</b> Monday - Friday
                </p>
            </div>
        </div>
    </div>
</section>

<section id="webDeveloper" class="bg-dark py-1">
    <div class="container text-center text-white mt-3">
        <p>Website by <a href="">Matthew Pereira</a></p>
    </div>
</section>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>