<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 

    <section id="homeShowcase">
        <div id="showcaseCarouselIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-4">
                        <img src="images/home/home1.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <img src="images/home/homeShowcase4.jpg" class="img-fluid d-none d-md-flex" alt="...">
                    </div>
                    <div class="d-none d-lg-flex col-lg-4">
                        <img src="images/home/homeShowcase8.jpg" class="img-fluid d-none d-md-flex" alt="...">
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-4">
                        <img src="images/home/homeShowcase5.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <img src="images/home/homeShowcase6.jpg" class="img-fluid d-none d-md-flex" alt="...">
                    </div>
                    <div class="d-none d-lg-flex col-lg-4">
                        <img src="images/home/homeShowcase7.jpg" class="img-fluid" alt="...">
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-4">
                        <img src="images/home/home2.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <img src="images/home/home3.jpg" class="img-fluid d-none d-md-flex" alt="...">
                    </div>
                    <div class="d-none d-lg-flex col-lg-4">
                        <img src="images/home/homeShowCase9.jpg" class="img-fluid d-none d-md-flex" alt="...">
                    </div>
                  </div>
              </div>
            </div>
          </div>
    </section>



    <section id="core" class="py-5 d-flex align-items-center">
        <div class="container">
            <div id="coreCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner text-center">
                    <div class="col-8 offset-2">
                        <div class="carousel-item active">
                            <h2>MISSION</h2>
                            <p class="lead">Teaching in all areas of life, the Truth, as centered in the Lord Jesus of the Bible.</p>
                        </div>
                        <div class="carousel-item">
                            <h2>VISION</h2>
                            <p class="lead">We love children and want to see them grow up and become all that they can be. We will work hard to provide the kind of education and learning environment that will help them to blossom as unique individuals created in the image of God. We partner with parents in developing well-prepared children with the character and vision to meet their world with confidence.</p>
                        </div>
                        <div class="carousel-item">
                            <h2>PHILOSOPHY</h2>
                            <p class="lead">Tabernacle School firmly believes that all children are gifted, and that our school’s responsibility is to help students discover and develop the unique abilities with which God has gifted them. At the end of each quarter we set aside time to recognize students for their individual talents and character traits.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="open-house" class="bg-dark">
        <div class="container py-5">
            <h2 class="d-none d-md-block text-center text-white display-5"><b>JOGATHON 2022</b></h2>
            <h2 class="d-md-none text-center text-white display-5"><b>OPEN HOUSE</b></h2>
            <div class="row justify-content-center">
                <div class="col-3">
                    <hr class="text-white">
                </div>
            </div>
            <h3 class="text-center text-white mb-5">Friday April 8th, 2022</h3>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <a href="images/TSFiestathon.jpg" class="btn btn-lg btn-outline-light">More Info</a>
                </div>
            </div>
        </div>
    </section>

    
    

    <section id="educationLevels" class="bg-success py-5 text-white">
        <div class="container text-center my-5">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <a href="/academics#preschool">
                        <h4 class="display-6 my-4 rounded-pill border border-3 border-white">Preschool</h4>
                    </a>
                    <p class="lead">Tiny Tigers Preschool provides a warm, nurturing, family atmosphere that is conducive to learning at an early age.  Our current program accepts children that are 4 years in age by September 1st. Our preschool program has been providing and promoting high quality early childhood education since 1971.</p>
                </div>
                <div class="col-md-4">
                    <a href="/academics#elementary">
                        <h4 class="display-6 my-4 rounded-pill border border-3 border-white">Elementary</h4>
                    </a>
                    <p class="lead">At Tabernacle, we provide an elementary education that prepares children to think clearly, act responsibly, and live ethically. Our programs and curriculum give students a competitive edge in an increasingly complex society as they discover their unique giftedness.</p>

                </div>
                <div class="col-md-4">
                    <a href="/academics#middleSchool">
                        <h4 class="display-6 my-4 rounded-pill border border-3 border-white">Middle School</h4>
                    </a>
                    <p class="lead">At Tabernacle Middle School, we help our students navigate the early teen years and prepare to excel in high school and beyond. Throughout the middle school years, our students are challenged academically and grow in confidence as they explore their interests. </p>
                </div>
            </div>
        </div>
    </section>

    <section id="personalStories" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center display-4">Parent Testimonials</h2>
            <hr class="section-hr mb-5">

            <figure class="text-center mb-5">
                <blockquote class="blockquote">
                  <p>“I couldn’t say enough great things about Tabernacle’s preschool program. I appreciate them so much and wish I could have them be my daughter’s teachers forever. They are the most loving, smart, kind hearted, caring teachers I have ever met. We are so blessed to have them in our kids lives! They are the very best.”</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Preschool parent, 2019
                </figcaption>
            </figure>
              <figure class="text-center mb-5">
                <blockquote class="blockquote">
                  <p>“My child’s third grade teacher is incredible! She is caring, encouraging and supportive, while still holding high expectations to ensure the students are ready for 4th grade and beyond. With any question or concerns that I have had throughout the year, she is timely in her response with a wealth of knowledge and resources. Her help class has been such a lifesaver to my son, giving him the additional practice and encouragement on those more challenging concepts throughout the year. I have seen my son grow into a more confident learner and this is a huge thank you to his teacher and the safe learning environment she creates in her classroom.”</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Third grade parent, 2019
                </figcaption>
              </figure>
              <figure class="text-center mb-5">
                <blockquote class="blockquote">
                  <p>“We feel blessed that two of our three children have attended Tabernacle. Knowing that the teachers care, that they can be themselves without a ‘direct worldly attack’, and that there are opportunities in leadership, sports, and a Christian walk are worth the sacrifices we make as parents for them to attend here. We appreciate all the Tabernacle offers their students, families, and staff.”</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Middle school parent, 2016
                </figcaption>
              </figure>
        </div>
    </section>

    <section id="accreditation" class="py-5">
        <div class="container">
            <h2 class="text-center display-4 mt-5 mb-3">Accreditation</h2>
            <hr class="section-hr mb-5">
            <div class="row py-5">
                <div class="col-lg-8">
                    <h5>ASSOCIATION OF CHRISTIAN SCHOOLS INTERNATIONAL</h5>
                    <p>Tabernacle School is accredited by the Association of Christian Schools International (ACSI). ACSI endeavors to "strengthen Christian schools and equip Christian educators worldwide as they prepare students academically and inspire them to become devoted followers of Jesus Christ."</p>
                </div>
                <div class="col-lg-4 mb-3">
                    <img class="img-fluid" src="images/home/acsi.png" alt="">
                </div>
            </div>
            <div class="row py-5">
                <div class="col-lg-8">
                    <h5>WESTERN ASSOCIATION OF SCHOOLS AND COLLEGES</h5>
                    <p>Tabernacle School is also accredited by the Western Association of Schools and Colleges (WASC). WASC fosters "excellence in elementary, secondary, adult and postsecondary institutions, and supplementary education programs. The Commission encourages school improvement through a process of continuing evaluation and recognizes institutions through granting accreditation to the schools that meet an acceptable level of quality in accordance with the established criteria." </p>
                </div>
                <div class="col-lg-4 mb-3 d-flex justify-content-center">
                    <img class="img-fluid w-50" src="images/home/wasc.jpeg" alt="">
                </div>
            </div>
        </div>
    </section>

<%- include('partials/footer.ejs') %> 