<%- include('partials/head.ejs') %> 

<%- include('partials/navbars.ejs') %> 

    <section id="showcase">
        <div id="showcaseCarouselIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#showcaseCarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#showcaseCarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#showcaseCarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/home1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/home2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/home3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
    </section>

    <section id="core" class="py-5 d-flex align-items-center">
        <div class="container">
            <div id="coreCarouselControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner text-center">
                    <div class="col-8 offset-2">
                        <div class="carousel-item active">
                            <h2>OUR MISSION</h2>
                            <p class="lead">Teaching in all areas of life, the Truth, as centered in the Lord Jesus of the Bible.</p>
                        </div>
                        <div class="carousel-item">
                            <h2>OUR VISION</h2>
                            <p class="lead">We love children and want to see them grow up and become all that they can be. We will work hard to provide the kind of education and learning environment that will help them to blossom as unique individuals created in the image of God. We partner with parents in developing well-prepared children with the character and vision to meet their world with confidence.</p>
                        </div>
                        <div class="carousel-item">
                            <h2>OUR PHILOSOPHY</h2>
                            <p class="lead">Tabernacle School firmly believes that all children are gifted, and that our school’s responsibility is to help students discover and develop the unique abilities with which God has gifted them. At the end of each quarter we set aside time to recognize students for their individual talents and character traits.</p>
                        </div>
                        </div>
                    </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#coreCarouselControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#coreCarouselControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>

    <section id="educationLevels" class="bg-success pt-5">
        <div class="container text-center text-white">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h4><u>Preschool</u></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quae blanditiis accusantium optio libero consequuntur doloribus modi repudiandae incidunt voluptatibus ut magnam vitae, earum quia aut quasi! Nam, magni impedit?</p>
                    <button class="btn btn-lg btn-outline-light">Learn More</button>
                </div>
                <div class="col-md-4 mb-5">
                    <h4><u>Elementary</u></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quae blanditiis accusantium optio libero consequuntur doloribus modi repudiandae incidunt voluptatibus ut magnam vitae, earum quia aut quasi! Nam, magni impedit?</p>
                    <button class="btn btn-lg btn-outline-light">Learn More</button>
                </div>
                <div class="col-md-4 mb-5">
                    <h4><u>Junior High</u></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quae blanditiis accusantium optio libero consequuntur doloribus modi repudiandae incidunt voluptatibus ut magnam vitae, earum quia aut quasi! Nam, magni impedit?</p>
                    <button class="btn btn-lg btn-outline-light">Learn More</button>
                </div>
            </div>
        </div>
    </section>

    <section id="personalStories" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center display-4">Personal Stories</h2>
            <hr class="section-hr mb-4">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-fluid" src="images/personal1.jpeg" alt="">
                        </div>
                        <div class="col-lg-4">
                            <img class="img-fluid" src="images/personal2.jpeg" alt="">
                        </div>
                        <div class="col-lg-4">
                            <img class="img-fluid" src="images/personal3.jpeg" alt="">
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-fluid" src="images/personal4.jpeg" alt="">
                        </div>
                        <div class="col-lg-4">
                            <img class="img-fluid" src="images/personal5.jpeg" alt="">
                        </div>
                        <div class="col-lg-4">
                            <img class="img-fluid" src="images/personal6.jpeg" alt="">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

    <section id="accreditation">
        <div class="container">
            <h2 class="text-center display-4 my-3">Accreditation</h2>
            <hr class="section-hr">
            <div class="row py-3">
                <div class="col-lg-8">
                    <h5>ASSOCIATION OF CHRISTIAN SCHOOLS INTERNATIONAL</h5>
                    <p>Tabernacle School is accredited by the Association of Christian Schools International (ACSI). ACSI endeavors to "strengthen Christian schools and equip Christian educators worldwide as they prepare students academically and inspire them to become devoted followers of Jesus Christ."</p>
                </div>
                <div class="col-lg-4 mb-3">
                    <img class="img-fluid" src="images/acsi.png" alt="">
                </div>
            </div>
            <div class="row py-3">
                <div class="col-lg-8">
                    <h5>WESTERN ASSOCIATION OF SCHOOLS AND COLLEGES</h5>
                    <p>Tabernacle School is also accredited by the Western Association of Schools and Colleges (WASC). WASC fosters "excellence in elementary, secondary, adult and postsecondary institutions, and supplementary education programs. The Commission encourages school improvement through a process of continuing evaluation and recognizes institutions through granting accreditation to the schools that meet an acceptable level of quality in accordance with the established criteria." </p>
                </div>
                <div class="col-lg-4 mb-3 d-flex justify-content-center">
                    <img class="img-fluid w-50" src="images/wasc.jpeg" alt="">
                </div>
            </div>
        </div>
    </section>




<%- include('partials/footer.ejs') %> 