<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="familyShowcase" class="py-5 bg-dark text-white">
    <div class="container">
        <h1 class="text-center display-1 showHead">TS FAMILY</h1>
    </div>
</section>

<ul id="pageNav" class="nav nav-pills bg-info d-flex justify-content-center py-2 d-none d-md-flex">
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" aria-current="page" href="#forms">Forms</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" aria-current="page" href="#information">Information</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" href="#tigerLife">Tiger Life</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" aria-current="page" href="#portals">Portals</a>
    </li>
    <li class="nav-item mx-4">
        <a class="btn rounded-pill" href="#giving">Giving</a>
    </li>
</ul>

<section id="forms" class="py-5">
    <div class="container">
        <h2 class="display-3 text-center">Forms & Agreements</h2>
        <hr class="section-hr mb-3">
        <div class="row py-5 text-center justify-content-around">
            <div class="col-md-2">
                <a href="forms/techAgreement">
                    <i class="fas fa-laptop-code fa-7x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn border border-4 border-dark"><strong>Technology</strong></button>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="forms/bicycleAgree">
                    <i class="fas fa-bicycle fa-7x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark border border-4 border-dark"><strong>Bicycle or Walk</strong></button>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="forms/driverForm">
                    <i class="fas fa-car-side fa-7x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark border border-4 border-dark"><strong>Vehicle Driver</strong></button>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/images/pdfs/AuthorizationforMedication.pdf">
                    <i class="fas fa-clinic-medical fa-7x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark border border-4 border-dark"><strong>Medication</strong></button>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/images/pdfs/sportsMedicalForm.pdf">
                    <i class="fas fa-basketball-ball fa-7x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark border border-4 border-dark"><strong>Sports Physical</strong></button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section id="schoolInfo" class="bg-light py-5">
    <div class="container">
        <h2 class="display-3 text-center">Information</h2>
        <hr class="section-hr mb-5">
        <div class="row text-center justify-content-around mb-md-5">
            <div class="col-md-2">
                <a href="/images/pdfs/schoolHandbook22.pdf">
                    <i class="fas fa-book fa-10x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn border border-4 border-dark"><strong>School Handbook</strong></button>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="info/parentOrientation">
                    <i class="fas fa-user-friends fa-10x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn border border-4 border-dark"><strong>Parent Orientation</strong></button>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/admissions#charges">
                    <i class="fas fa-money-check fa-10x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark border border-4 border-dark"><strong>Tuition</strong></button>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="info/factsHelp">
                    <i class="fas fa-question-circle fa-10x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark border border-4 border-dark"><strong>FACTS Help</strong></button>
                    </div>
                </a>
            </div>
        </div>
        <div class="row text-center justify-content-around mb-5">
            <div class="col-md-2">
                <a href="info/supplyList">
                    <i class="fas fa-parachute-box fa-10x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark border border-4 border-dark"><strong>Supply List</strong></button>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="info/uniformGuidelines">
                    <i class="fas fa-user-tie fa-10x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark border border-4 border-dark"><strong>Uniform Guidlines</strong></button>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="info/jrHighDiscipline">
                    <i class="fas fa-exclamation-triangle fa-10x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark border border-4 border-dark"><strong>Jr High Discipline</strong></button>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/images/pdfs/Calendar-21-22.pdf">
                    <i class="fas fa-calendar-alt fa-10x mb-3"></i>
                    <br>
                    <div class="d-grid mb-3">
                        <button class="btn btn-outline-dark border border-4 border-dark"><strong>Calendar PDF</strong></button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>




<section id="tigerLife" class="py-5 text-center">
    <div class="container">
        <h2 class="display-2 ">Tiger Life</h2>
        <hr class="section-hr mb-5">
        <div class="row justify-content-around">
            <div class="col-md-3 mb-5">
                <a href="tigerLife/newsletter">
                    <h3 class="p-2 rounded-pill mb-4">Weekly Newsletter</h3>
                    <img src="/images/family/weeklyNewsletter.jpg" class="img-fluid center-cropped rounded-circle"  alt="">
                </a>
            </div>
            <div class="col-md-3 mb-5">
                <a href="tigerLife/awards">
                    <h3 class="p-2 rounded-pill mb-4">Awards</h3>
                    <img src="/images/family/jrHighAwardLogo.png" class="img-fluid center-cropped rounded-circle"  alt="">
                </a>
            </div>
            <div class="col-md-3">
                <a href="tigerLife/orientationVideo">
                    <h3 class="p-2 rounded-pill mb-4">Orientation Video</h3>
                    <img src="/images/family/parentOrientationLogo.jpeg" class="img-fluid center-cropped rounded-circle"  alt="">
                </a>
            </div>
        </div>
    </div>
</section>



<section id="portals" class="py-5 bg-light">
    <div class="container">
        <h2 class="display-2 text-center">School Portals</h2>
        <hr class="section-hr mb-5">
        <div class="row text-center align-items-center justify-content-around">
            <div class="col-md-3 mb-3">
                <a href="https://tabernacleca.ignitiaschools.com/owsoo/login/auth">
                    <img src="/images/academics/ignitia.png" class="img-fluid bg-white p-3 center-cropped rounded-circle mb-3" alt="">
                    <h3 class="p-2 rounded-pill border border-3 border-dark mb-4">Ignitia</h3>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="https://www.choicelunch.com/">
                    <img src="/images/family/choiceLunch.jpeg" class="img-fluid center-cropped rounded-circle mb-3" alt="">
                    <h3 class="p-2 rounded-pill border border-3 border-dark mb-4">Choice Lunch</h3>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="https://logins2.renweb.com/logins/ParentsWeb-Login.aspx">
                    <img src="/images/family/facts.png" class="img-fluid center-cropped rounded-circle mb-3" alt="">
                    <h3 class="p-2 rounded-pill border border-3 border-dark mb-4">Facts</h3>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="giving" class="py-5">
    <div class="container">
        <h2 class="display-2 text-center">Giving</h2>
        <hr class="section-hr mb-3">
            <div id="amazonSmile">
                <div class="d-flex justify-content-center">
                    <a href="https://smile.amazon.com">
                        <img src="/images/family/amazonSmile.png" class="img-fluid mb-5" alt="">
                    </a>
                </div>
                <p>AmazonSmile is a program that donates 0.5% of your eligible purchases on Amazon to a charity of your choice. All you need to do is start your shopping at <a href="https://smile.amazon.com">smile.amazon.com</a>. The donation will be made at no extra cost to you and you can choose from nearly one million public charitable organizations.</p>
                <h5>Explanation</h5>
                <p><a href="https://smile.amazon.com">AmazonSmile</a> is a website operated by Amazon with the same products, prices, and shopping features as Amazon.com. The difference is that when you shop on AmazonSmile, the AmazonSmile Foundation will donate 0.5% of the purchase price of eligible products to the charitable organization of your choice. Please choose Tabernacle Christian School in Concord, CA.</p>
                <h5>How To Start Using AmazonSmile Today!</h5>
                <p>Sign in to <a href="https://smile.amazon.com">smile.amazon.com</a> on your desktop or mobile phone browser. Search for Tabernacle Christian School and make sure to choose the one in Concord, CA!</p>
                <h5>AmazonSmile With Amazon App</h5>
                <ol>
                    <li>Download or update to the latest version of the Amazon Shopping app on your phone. You can find it in the <a href="https://apps.apple.com">App Store</a> for iOS or <a href="https://play.google.com">Google Play</a> for Android.</li>
                    <li>Open the app and find ’Settings’ in the main menu (☰). Tap on ‘AmazonSmile’ and follow the on-screen instructions to turn on AmazonSmile on your phone.</li>
                </ol>
            </div>
            </div>
        </div>
    </div>
</section>


<section id="footer" class="bg-light">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    Tabernacle school
                    <br>
                    4380 Concord Blvd
                    <br>
                    Concord, CA 94521
                </p>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    <b>Phone:</b> (925) 685-9169
                    <br>
                    <b>Email:</b> <a href="mailto:info@tbs.org">info@tbs.org</a>

                </p>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <p>
                    <b>Hours:</b> 6:30AM-6:30PM
                    <br>
                    <b>Days:</b> Monday - Friday
                </p>
            </div>
        </div>
    </div>
</section>

<section id="webDeveloper" class="bg-dark py-1">
    <div class="container text-center text-white mt-3">
        <p>Website by <a href="">Matthew Pereira</a></p>
    </div>
</section>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>