<%- include('../../partials/head.ejs') %> 

<%- include('../../partials/navbars.ejs') %> 

<section id="newsletterShowcase" class="py-5">
    <h1 class="display-2 text-center">Parent Orientation Information</h1>
</section>

<section class="py-5 bg-light text-center">

    <div class="container">
        <h5 class="display-6 mb-3">Parent Orientation Schedule 2021-2022</h5>
        <p class="lead py-3">We are excited to have you back on campus for the 2021-2022 school year.  We are still under state restrictions and will only be able to allow one person per family to attend parent orientation.  No children on campus on parent orientation day please.</p>
        
        <h5>Monday, August 9th, 2021</h5>
    
            <table class="table table-bordered bg-white">
                <thead>
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Grades</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">10:00 AM</th>
                    <td>KINDERGARTEN and TK</td>
                  </tr>
                  <tr>
                    <th scope="row">11:00 AM</th>
                    <td>FIRST AND SECOND GRADE</td>
                  </tr>
                  <tr>
                    <th scope="row">1:00 PM</th>
                    <td colspan="2">THIRD, FOURTH, AND FIFTH GRADE</td>
    
                  </tr>
                  <tr>
                    <th scope="row">2:00 PM</th>
                    <td colspan="2">JK, SIXTH, SEVENTH AND EIGHTH GRADE</td>
                  </tr>
                </tbody>
              </table>
        <p>*Meet in student classrooms</p>
    </div>

</section>

<%- include('../../partials/footer.ejs') %> 