<%- include('../../partials/head.ejs') %> 

<%- include('../../partials/navbars.ejs') %> 

<section id="newsletterShowcase" class="py-5">
    <h1 class="display-2 text-center">Supply List</h1>
</section>

<section class="py-5 bg-light">
    <h2 class="display-4 text-center">coming soon...</h2>
</section>

<%- include('../../partials/footer.ejs') %> 