<%- include('../../partials/head.ejs') %> 

<%- include('../../partials/navbars.ejs') %> 

<section id="newsletterShowcase" class="py-5 bg-light">
    <h1 class="display-2 text-center">Supply Lists</h1>
</section>

<section class="py-5">
    <h2 class="display-4 text-center py-4">2021-2022</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-center mb-3"><u>TK - 5th Grade</u></h5>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Transitional Kindergarten
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Backbpack - Full size with Change of uniform clothing included</li>
                                <li><strong>Small</strong> plastic pencil box</li>
                                <li>One two-pocket folder</li>
                                <li>Washable Markers - 10 pack</li>
                                <li><strong>Do Not Bring: pencils, sharpeners, glue sticks or scissors</strong></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Kindergarten
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Backbpack - Full size with Change of uniform clothing included</li>
                                <li><strong>Small</strong> pencil box</li>
                                <li>Glue sticks</li>
                                <li>Two pocket folders</li>
                                <li>Washable markers</li>
                                <li>1 set water color paint palette</li>
                                <li><strong>Do Not Bring: pencils, sharpeners, or scissors</strong></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          First Grade
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Small pencil box</li>
                                <li>1 set of watercolors</li>
                                <li>12" wooden ruler - with centimeters and inches</li>
                                <li>Backpack - no binders</li>
                                <li>Standard pink erasors (2)</li>
                                <li>#2 pencils, sharpened</li>
                                <li>1 folder with pockets</li>
                                <li>Washable markers</li>
                                <li><strong>Do not bring pencil sharpeners</strong></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                          <button class="accordion-button collapsed bg-success text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            Second Grade
                          </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                              <ul>
                                <li>Eraser</li>
                                <li>12" Ruler - with centimeters and inches</li>
                                <li>Crayons</li>
                                <li>Markers</li>
                                <li>2 plastic, 2 pocket folders</li>
                                <li>Backpack</li>
                                <li>Small pencil box or zippered pouch</li>
                                <li>Sharpened #2 pencils</li>
                                <li>2 glue sticks</li>
                                <li>Thin line dry erase markers</li>
                                <li><strong>Do not bring binders</strong></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                          <button class="accordion-button collapsed bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Third Grade
                          </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                              <ul>
                                <li>Pencil box clearly labeled</li>
                                <li>#2 pencils</li>
                                <li>Glue sticks</li>
                                <li>Scissors</li>
                                <li>Red pen</li>
                                <li>Large eraser</li>
                                <li>Colored pencils</li>
                                <li>12" ruler - with centimeters and inches</li>
                                <li>2 folders with pockets</li>
                                <li>3 prong plastic pocket folers (4)</li>
                                <li>Binder paper - wide ruled - 8.5 x 11</li>
                                <li>Composition type notebooks (2)</li>
                                <li>Small backpack to fit on hook</li>
                                <li>Fine point dry erase markers</li>
                              </ul>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                          <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Fourth Grade
                          </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>Crayons</li>
                                <li>Markers</li>
                                <li>Colored pencisl to stay at school</li>
                                <li>Red, black, and blue pens</li>
                                <li>Glue sticks</li>
                                <li>Scissors</li>
                                <li>Homework folders (2)</li>
                                <li>Composition type notebooks (2)</li>
                                <li>3x5 cards (100)</li>
                                <li>Ruler - with centimeters and inches</li>
                                <li>Hand held pencil sharpener</li>
                                <li>Small hand held calculator</li>
                                <li>#2 pencils</li>
                                <li>Highlighters</li>
                            </ul>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                          <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSix">
                            Fifth Grade
                          </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>Pink erasers</li>
                                <li>Pens blue/black (3)</li>
                                <li>Red pens (3)</li>
                                <li>#2 pencils (large supply) <strong>NO MECHANICAL PENCILS</strong></li>
                                <li>Loose-leaf binder paper college ruled <strong>NO SPIRAL</strong></li>
                                <li>Colored pencils (set of 24)</li>
                                <li>Pencil pouch - <strong>NO BOX</strong></li>
                                <li>Scissors - intermediate</li>
                                <li>Dry erase markers</li>
                                <li>Dry marker eraser or sock</li>
                                <li>Binder - 2 inch with front pocket</li>
                                <li>Hard bound Websters New World College Dictionary</li>
                                <li>Large glue stick (1)</li>
                                <li>Bottle of tacky glue</li>
                                <li>Pocket folder (1)</li>
                                <li>Gel pens (optional)</li>
                                <li>Highlighters</li>
                                <li>Domposition notebook - college ruled</li>
                                <li>White out tape</li>
                            </ul>
                          </div>
                        </div>
                    </div>

                  </div>
            </div>
            <div class="col-md-6">
                <h5 class="text-center py-4"><u>Middle School</u></h5>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          SIXTH GRADE
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          SEVENTH GRADE
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          EIGHTH GRADE
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>

<%- include('../../partials/footer.ejs') %> 