<%- include('../../partials/head.ejs') %> 

<%- include('../../partials/navbars.ejs') %> 

<section id="newsletterShowcase" class="py-5">
    <h1 class="display-2 text-center">Uniform Guidelines</h1>
</section>

<section class="py-5 bg-dark text-center" id="dressCode">
    <div class="container">
        <div class="text-white">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <img src="/images/dressCode.jpg" class="img-fluid mb-5 rounded border border-5 border-white" alt="">
                </div>
            </div>
            <p class="lead">
                Student appearance and attention to grooming are important factors in a safe, focused learning environment.  Standards such as dress codes play a large part in preparing students for a future in the broader world beyond Tabernacle School. Each student’s appearance should reflect a positive, appropriate image of themselves and their school. 
            </p>
            <p class="lead">
                Administrators, faculty, and staff have the final decision when enforcing student dress and grooming standards during school and all school-related activities. Both parents and students should take the time to become familiar with Tabernacle’s policies and standards.  The sites below have images and descriptions of the uniform options described and approved by Tabernacle. 
            </p>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 bg-white py-3 border border-rounded border-primary border-5">
                <h5 class="mb-3"><strong><u>Reccommended Uniform Vendors:</u></strong></h5>
                <p>Land’s End School Uniforms <a href="http://www.landsend.com/school">landsend.com/school</a></p>
                <p>French Toast School Uniforms <a href="http://www.frenchtoast.com">frenchtoast.com</a></p>
                <p>Tabernacle School Tiger Wear <a href="http://www.tabernacle.school/tigerWear">tabernacle.school/tigerWear</a></p>
            </div>
        </div>
        

        <table class="table border border-dark table-bordered bg-white my-5">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="bg-primary text-white">Polo Tops & Cotton Dress Shirts</th>
              </tr>
            </thead>
            <thead class="bg-light">
                <tr>
                  <th scope="col">Category</th>
                  <th scope="col">Description</th>
                  <th scope="col">Colors</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <th scope="row" class="px-5">Polo</th>
                <td>Long sleeve or short sleeve button collar, Interlock Fabric, Classic Mesh or Dry-Fit Polo with banded sleeves. </td>
                <td>Solid Color – Dark Navy – Hunter Green – Black – Light Pink – True Red – Royal Blue – White – Heather Gray – Light Blue.</td>
              </tr>
              <tr>
                <th scope="row">Dress Shirts</th>
                <td>Short or long sleeves, button-up collar.</td>
                <td>white</td>
              </tr>
              <tr>
                <th scope="row">Fit</th>
                <td colspan="2">Appropriate Size</td>
              </tr>
              <tr>
                <th scope="row">Required</th>
                <td colspan="2">Shirts tucked in and belted for slacks and shorts. Tops tucked in for skirts.</td>
              </tr>
            </tbody>
          </table>


          <table class="table border border-dark table-bordered bg-white my-5">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="bg-primary text-white">Skirts, Jumpers, & Knit Dresses</th>
              </tr>
            </thead>
            <thead class="bg-light">
                <tr>
                  <th scope="col">Category</th>
                  <th scope="col">Description</th>
                  <th scope="col">Colors</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <th scope="row">Knit Polo Dresses</th>
                <td>Polo-style knit dress.</td>
                <td>Solid Color – Dark Navy – Hunter Green – Black – Light Pink – True Red – Royal Blue – White – Heather Gray – Light Blue.</td>
              </tr>
              <tr>
                <th scope="row">Skirts & Jumpers</th>
                <td>Poly/cotton blend pleated skirt or jumper</td>
                <td>Khaki, Dark Navy or Land’s End Clear Blue Plaid.</td>
              </tr>
              <tr>
                <th scope="row">Fit</th>
                <td colspan="2">Waistband resting at natural waist. Hem resting at top of knees around entire skirt.</td>
              </tr>
            </tbody>
          </table>

          <table class="table border border-dark table-bordered bg-white my-5">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="bg-primary text-white">Belts</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Style</th>
                    <td>Plain flat or braided leather style.</td>
                </tr>
                <tr>
                    <th scope="row">Colors</th>
                    <td>Solid, black, brown</td>
                </tr>
            </tbody>
          </table>

          <table class="table border border-dark table-bordered bg-white my-5">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="bg-primary text-white">Footwear</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">Shoes</th>
                  <td>Plain flat or athletic shoes – supportive arch, bottom-tread, ankle height. Girl’s athletic-style Mary Janes. <strong><u>NO LIGHT- UP SHOES</strong></u></td>
                </tr>
              <tr>
                <th scope="row" class="px-5">Socks</th>
                <td>Quarter-cut ankle socks.  Girls may wear solid colored knee-highs or tights, as well. <strong><u>NO LEGGINGS</u></strong></td>
              </tr>
            </tbody>
          </table>

          <table class="table border-dark table-bordered bg-white my-5">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="bg-primary text-white">Slacks & Shorts</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row" class="px-4">Pants</th>
                  <td>Plain Poly/Cotton blend, pleated or flat front.  Side and back slash pockets, front zipper or elastic waist.</td>
                </tr>
              <tr>
                <th scope="row">Colors</th>
                <td>Khaki, Navy or Black.</td>
              </tr>
              <tr>
                <th scope="row">Fit</th>
                <td>Waistband resting at natural waist.  Hem resting at top of knees for shorts.</td>
              </tr>
            </tbody>
          </table>

          <table class="table border-dark table-bordered bg-white my-5">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="bg-primary text-white">Outerwear</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">Style</th>
                  <td>Coat, Sweatshirts, Sweaters, Vests, Scarves, Gloves and Hats or Headbands.</td>
                </tr>
              <tr>
                <th scope="row" class="px-5">Colors</th>
                <td>One Solid color or patterned.  NO LOGOS OR IMAGES other than Tabernacle School Tiger Wear.</td>
              </tr>
              <tr>
                <th scope="row" class="px-5">Fit</th>
                <td>Appropriate fit</td>
              </tr>
            </tbody>
          </table>

          <table class="table border-dark table-bordered bg-white my-5">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="bg-primary text-white">Hair, Make-Up, & Body Art</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">Girl's Hair</th>
                  <td>Hair is to be clean, trimmed, brushed and neat.</td>
                </tr>
              <tr>
                <th scope="row" class="px-5">Boy's Hair</th>
                <td>Hair is to be worn in a short, neat style.  Trimmed above eyebrows, ears and top of shirt collar.</td>
              </tr>
              <tr>
                <th scope="row" class="px-5">Not Allowed</th>
                <td>Extreme hairstyles or unnatural dyes, cut-in images, designs or shaving. Body piercings (other than ears), tattoos (real or temporary), heavy face or eye make-up, writing/drawing on the body.</td>
              </tr>
            </tbody>
          </table>

          <table class="table border-dark table-bordered bg-white my-5">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="bg-primary text-white">Chapel & Awards Assembly Dress Code</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">Girls</th>
                  <td>Khaki slacks, shorts, skirt or jumper with Dark Navy polo. Shirt tucked in to skirt.  Shirt tucked in and belted with shorts or slacks</td>
                </tr>
                <tr>
                    <th scope="row" class="px-5">Boys</th>
                    <td>Khaki slacks or shorts with Dark Navy polo shirt. Tucked in and belted.</td>
                </tr>
            </tbody>
          </table>
          
          <table class="table border-dark table-bordered bg-white my-5">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="bg-primary text-white">Free Dress Day Guidelines</th>
              </tr>
            </thead>
            <thead class="bg-light">
                <tr>
                  <th scope="col">Category</th>
                  <th scope="col">Style</th>
                  <th scope="col">Fit</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                  <th scope="row">Pants & Shorts</th>
                  <td>Khaki slacks, shorts, skirt or jumper with Dark Navy polo. Shirt tucked in to skirt.  Shirt tucked in and belted with shorts or slacks</td>
                  <td>Appropriate</td>
                </tr>
                <tr>
                    <th scope="row" class="px-5">Tops</th>
                    <td>Covered shoulders/backs. No violent, controversial or negative images or messages</td>
                    <td>Appropriate</td>
                </tr>
                <tr>
                    <th scope="row" class="px-5">Skirts & Dresses</th>
                    <td>Hem must rest at top of knee all the way around, bike shorts must be worn underneath skirts, jumpers, dresses.</td>
                    <td>Appropriate</td>
                </tr>
                <tr>
                    <th scope="row" class="px-5">Footwear</th>
                    <td>Authentic style athletic sneakers designed for sport activities.   Athletic-style Mary Janes for girls.</td>
                    <td>Appropriate</td>
                </tr>
                <tr>
                    <th scope="row" class="px-5">Theme Days</th>
                    <td>Students participating in Theme Days must wear clothing that reflects the theme.</td>
                    <td>Appropriate</td>
                </tr>
            </tbody>
          </table>


    </div>

</section>

<%- include('../../partials/footer.ejs') %> 