<%- include('../../partials/head.ejs') %> 

<%- include('../../partials/navbars.ejs') %> 

<section id="newsletterShowcase" class="py-5">
    <h1 class="display-2 text-center showHead">PARENT ORIENTATION</h1>
</section>

<section class="py-5 bg-light text-center">

    <div class="container">
        <h5 class="display-6 my-5">Parent Orientation Schedule 2022-2023</h5>
        <p class="lead my-5">We are excited to have you back on campus for the 2022-2023 school year.  No children on campus on parent orientation day please. Meetings will take place in the appropriate student classrooms.</p>
        
        <h5 class="mb-3">Monday, August 8, 2022</h5>
    
            <table class="table table-bordered bg-white">
                <thead>
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Grades</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">10:00 AM</th>
                    <td>KINDERGARTEN and TK</td>
                  </tr>
                  <tr>
                    <th scope="row">11:00 AM</th>
                    <td>FIRST AND SECOND GRADE</td>
                  </tr>
                  <tr>
                    <th scope="row">1:00 PM</th>
                    <td colspan="2">THIRD, FOURTH, AND FIFTH GRADE</td>
    
                  </tr>
                  <tr>
                    <th scope="row">2:00 PM</th>
                    <td colspan="2">SIXTH, SEVENTH AND EIGHTH GRADE</td>
                  </tr>
                </tbody>
              </table>
        <p>*Jr. Knd and 3's meetings require signup with Betty.</p>
    </div>

</section>

<%- include('../../partials/footer.ejs') %> 