<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Andy Prior</h1>
    <h3 class="display-6 text-center text-primary">Middle School Science Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/andyPrior/andyMain.jpg" class="img-fluid border border-5 border-white center-cropped" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    Hello, My name is Andrew (Andy) Prior.  This is my 14th year teaching at Tabernacle school. I have been teaching for twenty-seven years.  I am a  graduate of California State University Sacramento with a degree in Liberal Studies.  I have a California state teaching credential from National University. I live with my wife in Pittsburg California.  My wife Cecilia and I have two children. Joe is a teacher.  Aly is a graduate of Cal Poly Pomona and works as a veterinary technician in Los Angeles. I come from a family of teachers.  Both of my grandparents were teachers as well as my mother, uncle and sister.  My life verse is Matthew 6:33 “But seek first the Kingdom of God and His righteousness, and all these things will be added to you.”
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-7">
            <img src="/images/faculty/andyPrior/andy1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/andyPrior/andy3.jpg" class="img-fluid mb-1" alt="">
        </div>
        <div class="col-md-5">
            <img src="/images/faculty/andyPrior/andy4.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/andyPrior/andy2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/andyPrior/andy5.jpg" class="img-fluid mb-1" alt="">
        </div>
    </div>
</div>
</section>


<%- include('../partials/footer.ejs') %> 