<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Emily Scouten</h1>
    <h3 class="display-6 text-center text-primary">First Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/emilyScouten/emilyMain.jpg" class="img-fluid border border-5 border-white center-cropped" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I am so excited to be starting my third year here at Tabernacle. I attended Tabernacle from four years old to fourteen years old. I graduated from Berean Christian High School in 2010. I received my BA at Notre Dame de Namur University. In 2009 I started working in the daycare program and from there went on to be a substitute teacher and the Jr. High drama teacher.
                </p>
                <p class="lead">
                    A native to Pittsburg California, I love studying history and am an avid Soccer and Oakland A’s fan.
                </p>
                <p class="lead">
                    Learning is essential to growing and I love teaching K-2.  I have enjoyed watching all of these children grow in both education and in the Holy Spirit.  My favorite Verse is 1 Peter 2:9 “But you are a chosen people, a royal priesthood, a holy nation, God’s special possession, that you may declare the praises of him who called you out of darkness and into his wonderful light.”
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/emilyScouten/emily1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/emilyScouten/emily5.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/emilyScouten/emily4.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/emilyScouten/emily3.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/emilyScouten/emily2.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/emilyScouten/emily7.jpg" class="img-fluid my-1" alt="">   
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 