<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Jason Stone</h1>
    <h3 class="display-6 text-center text-primary">Fourth Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/jasonStone/jasonMain.jpg" class="img-fluid border border-5 border-white center-cropped" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    My name is Jason Stone.  I was born and raised in Sacramento, CA, received my BA in Communication Studies from Sacramento State, and moved into the Bay Area in 2000.  I have a passion for playing competitive golf and distance running (1999 Boston Marathon Finisher). My wife of 13 years, Katrina, is a Tabernacle graduate and our two daughters are current students.  I enjoyed being a stay-at-home parent during the early years of my children’s lives prior to accepting a full time teaching position. I am excited that God has guided me to the Tabernacle family and I look forward to contributing to the success of its students. Jesus answered, “I am the way and the truth and the life.  No one comes to the Father except through me.” John 14:6
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/jasonStone/jason1.png" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/jasonStone/jason3.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/jasonStone/jason2.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/jasonStone/jason4.png" class="img-fluid mb-1" alt="">
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 