<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Judy Burmeister</h1>
    <h3 class="display-6 text-center text-primary">Band Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/judyBurmeister/judyMain.jpg" class="img-fluid border border-5 border-white center-cropped" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I’m known as Mrs. Bee around campus.  I have been married to my wonderful husband for 40 years!  I have two beautiful and gifted daughters and a handsome grandson.  I have a Bachelor of Music degree from San Francisco State.  I enjoy playing the fiddle and conducting the CUMC Community Orchestra in Concord.
                </p>
                <p class="lead">
                    God has brought me to Tabernacle with the talents He has given me to educate His children in Music, Band and Violin.  This is my 29th year at this wonderful school!  It has been my pleasure and honor to work here with these wonderful Tabernacle teachers, administrators and of course your children.  I pray for you and your family that you have a blessed year, here at Tabernacle!
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/judyBurmeister/judy1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/judyBurmeister/judy4.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/judyBurmeister/judy3.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/judyBurmeister/judy7.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/judyBurmeister/judy9.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/judyBurmeister/judy2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/judyBurmeister/judy5.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/judyBurmeister/judy6.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/judyBurmeister/judy8.jpg" class="img-fluid my-1" alt="">

        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 