<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Kristen McDermott</h1>
    <h3 class="display-6 text-center text-primary">Library & Life Skills Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/kristenMcDermott/kristenMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    Tabernacle holds a very special place in my heart. I attended Tabernacle as a student from kindergarten to eighth grade, worked as a daycare worker for many years, and this is currently my ninth year as a teacher! I received my degree in Liberal Studies with an emphasis in Special Education from Azusa Pacific University. I worked in the LA school district after college but felt the Lord calling me back to the Bay Area to teach at Tabernacle. I taught first grade for seven years, assisted with PE last year, and am taking on a new role as an elective teacher this year. I am excited to teach a Library elective for elementary students and a Life Skills elective for Jr. Highers.  I feel so blessed to teach at a school where I can help instill the importance of education all while helping students reach their God-given potential!
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-7">
            <img src="/images/faculty/kristenMcDermott/kristen1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/kristenMcDermott/kristen3.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/kristenMcDermott/kristen4.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-5">
            <img src="/images/faculty/kristenMcDermott/kristen2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/kristenMcDermott/kristen5.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/kristenMcDermott/kristen6.jpg" class="img-fluid my-1" alt="">
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 