<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Lina Foltz</h1>
    <h3 class="display-6 text-center text-primary">Kindergarten Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/linaFoltz/linaMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    This will be my third year at Tabernacle. My first year here, I had the joy of teaching Jr. Kindergarten. This will be my second year of teaching kindergarten. I’ve had the privilege of working with some amazing teachers, and supervisors throughout my teaching career. Previously, I worked with kindergarteners for 19 years at Christian Center School before it became Legacy Christian School. 14 of those years I spent as lead Kindergarten teacher so it is safe to say kindergarten has always been my passion, with God always guiding my path along the way. I count it a blessing to be a part of your child’s education and help them to grow not just academically but spiritually.
                </p>
                <p class="lead">
                    This year my husband will be celebrating our 34th anniversary. We have been blessed with two beautiful and awesome daughters. We enjoy camping, enjoying God’s wonderful creation, and spending time with family and friends.
                </p>
                <p class="lead">
                    One of my favorite Bible verses is Philippians 4:13 ” I can do all things through Christ who strengthens me.”I count it an honor to be a part of Tabernacle.
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-7">
            <img src="/images/faculty/linaFoltz/lina4.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/linaFoltz/lina2.jpg" class="img-fluid my-1" alt="">  
        </div>
        <div class="col-md-5">
            <img src="/images/faculty/linaFoltz/lina3.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/linaFoltz/lina1.jpg" class="img-fluid my-1" alt="">  
        </div>
    </div>
</div>
</section>


<%- include('../partials/footer.ejs') %> 