<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Margaret Trice</h1>
    <h3 class="display-6 text-center text-primary">Art Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/margaretTrice/margaretMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    My name is Margaret Trice.  I was born and raised in Pennsylvania.  I am one of 16 children.  We lived on a farm, it was a great way of life.  My mother was a Christian and brought us up in the church. I became a Christian at the age of 7. I rededicated my life to the Lord when I was 16.
                </p>
                <p class="lead">
                    I went to Practical Bible College and then Miami Christian University.  I love to do missions work, and went to Colombia for 2 summers after college to work among the people there. I got married when I was in my twenties and have one grown daughter.  I also have 2 grandsons. 
                </p>
                <p class="lead">
                    I have been teaching for 32 years. I am now teaching art. My main interests are art, music, and literature.  I also love to teach the students about God and how to have a lasting relationship with Him.
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/margaretTrice/margaret1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/margaretTrice/margaret4.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/margaretTrice/margaret5.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/margaretTrice/margaret2.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/margaretTrice/margaret3.jpg" class="img-fluid my-1" alt="">
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 