<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Rachelle Longtin</h1>
    <h3 class="display-6 text-center text-primary">Second Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/rachelleLongtin/rachelleMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    My name is Rachelle Longtin. This is my 19th year of teaching and my 5th year here at Tabernacle. I have taught kindergarten, preschool, and am excited about my second year in second grade. I have been married to my husband for 18 years and we have two daughters ages 13 and 6. In my free time I enjoy spending time with my family, hiking, fishing, and being outdoors! You can often find me watching, listening, or being at the Giants game rooting on the San Francisco Giants!
                </p>
                <p class="lead">
                    After all these years I still love teaching this age group. They constantly bring a smile to my face. It is truly amazing to see the different gifts God gives each child. It is my joy to watch them grow and use these gifts!
                </p>
                <p class="lead">
                    One of my favorite verse is Psalm 62:1-2 “My soul finds rest in God alone; my salvation comes from him. He alone is my rock and my salvation; He is my fortress I will never be shaken.”
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-12">
            <img src="/images/faculty/rachelleLongtin/rachelle1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/rachelleLongtin/rachell2.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/rachelleLongtin/rachelle3.jpg" class="img-fluid my-1" alt="">
        </div>
    </div>
</div>
</section>


<%- include('../partials/footer.ejs') %> 