<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Steve Souza</h1>
    <h3 class="display-6 text-center text-primary">Middle School Math Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/steveSouza/steveMain.jpg" class="img-fluid border border-5 border-white center-cropped" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I graduated from The Masters’ University in 1975.  (Los Angeles Baptist College back then) I have been married to my wife, Sarah, for 39 years. We have three children, Nic, Heather, and Megan. Nic is married and lives in Brentwood. They have two children, Alice (9) and Gavin (6). Heather is married and lives in Fairfield. Megan is a stay- at- home mom.  She has two children, Cambry (8) attends Tabernacle and Levi (2). This is my 44th year of teaching, two years at Berean Christian and the rest of the time here at Tabernacle. My life passage is Psalm 121.
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/steveSouza/steve1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/steveSouza/steve3.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty/steveSouza/steve7.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/steveSouza/steve2.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/steveSouza/steve6.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/steveSouza/steve4.jpg" class="img-fluid my-1" alt="">
        </div>
    </div>
</div>
</section>


<%- include('../partials/footer.ejs') %> 