<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Terra Jean McFadden</h1>
    <h3 class="display-6 text-center text-primary">First Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/terraJean.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    I am a passionate educator who is eager to assist all learners grow and advance! I believe that every student has God-given gifts and talents and I am committed to helping each of my students grow in them. 
                </p>
                <p class="lead">
                    I went to California State University East Bay and earned my B.A. in Liberal Studies and obtained my teaching credential. I continued my education at Grand Canyon University where I got an M.A. in Curriculum and Instruction.
                </p>
                <p class="lead">
                    I live with my husband Johnny in Walnut Creek and love leading worship at church with my husband, hiking, going to the beach, and movie nights with friends! 
                </p>
            </div>
        </div>
</section>

<!-- <section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/charinaMoore/charina1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/charinaMoore/charina2.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/charinaMoore/charina3.jpg" class="img-fluid my-1" alt="">
            <img src="/images/faculty//charinaMoore/charina5.jpg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/charinaMoore/charina4.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/charinaMoore/charina6.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/charinaMoore/charina8.jpg" class="img-fluid my-1" alt="">   
        </div>
    </div>
</div>
</section> -->



<%- include('../partials/footer.ejs') %> 