<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Todd Keough</h1>
    <h3 class="display-6 text-center text-primary">Middle School Bible Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5 d-flex justify-content-center">
                <img src="/images/faculty/toddKeough/toddMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    My name is Todd Keough. I have been a teacher for 29 years and an ordained minister for 24 years. I am very excited to be back at Tabernacle teaching Bible, and Science. I graduated from Azusa Pacific University where I majored in Theology, Science and Art. I was a lifeguard in Southern California and continue to get to the beach anytime possible. 
                </p>
                <p class="lead">
                    I have been involved in Christian Education 22 years. Including 4 years at Western Christian School in West Covina, Tabernacle Christian School in Concord for 4 years with the beloved Margaret Bridges, 10 years at Faith Christian High school in Yuba City Ca, and have returned to Tabernacle for the last 4 years with the Honorable and notorious Mr. Taylor.  I also was involved in teaching in the Public schools for the 7 years in the Marysville School district.
                </p>
                <p class="lead">
                    I am married to a beautiful and loving wife named Debbie, who is also on staff here at Tabernacle. You will see her loving and teaching in our JK classroom.  We have 4 beautiful children together and are both overwhelmed with the goodness and grace of our Lord for giving us the opportunity to work in such a blessed school. 
                </p>
                <p class="lead">
                    My heart and calling is and has always been to love, guard, teach, and lead the youth to a deeper understanding of who Jesus is, and how to fulfill their own calling to become who God has destined them to be.  I take this calling very seriously, and promise to lead with integrity, honor, sacrifice, and due diligence that God expects of me. 
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/toddKeough/todd1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/toddKeough/todd3.png" class="img-fluid my-1" alt="">
            <img src="/images/faculty/toddKeough/todd4.jpeg" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-6">
            <img src="/images/faculty/toddKeough/Todd2.png" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/toddKeough/todd5.jpg" class="img-fluid my-1" alt=""> 
            <img src="/images/faculty/toddKeough/todd6.jpeg" class="img-fluid my-1" alt="">  
        </div>
    </div>
</div>
</section>


<%- include('../partials/footer.ejs') %> 