<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 

<section id="charinaHeader" class="py-5 bg-light">
    <h1 class="display-1 text-center">Tracy Herrera</h1>
    <h3 class="display-6 text-center text-primary">Second Grade Teacher</h3>
    <hr class="section-hr my-3">
</section>

<section class="my-5">
    <div class="container">
        <div class="row d-flex align-items-center mb-3 bg-dark text-white rounded p-4">
            <div class="col-md-5">
                <img src="/images/faculty/tracyHerrera/tracyMain.jpg" class="img-fluid border border-5 border-white" alt="">
            </div>
            <div class="col-md-7">
                <p class="lead">
                    Tabernacle is such a great place to work and I have had the privilege of working here since 2013, but I started my career in education in 2001. Since then, I have had the privilege of working with students with special needs as well as a general education teacher.  It is incredible to be at Tabernacle where my passion for children’s ministry and teaching can be used at the same time.  I love to listen to my class sing out their love for Jesus and have the ability to weave Biblical principals throughout our day. My college education began at California Christian College where I met my husband of 19 years and later transferred to Patten University where I earned my BA in Liberal Studies and continued credentialing coursework.  When I’m not in the classroom, I enjoy adventures with my husband, and spending time with friends and family as well as our two dogs, Ducky and Daisy.
                </p>
            </div>
        </div>
</section>

<section class="">
    <div class="row g-2">
        <div class="col-md-6">
            <img src="/images/faculty/tracyHerrera/tracy1.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/tracyHerrera/tracy2.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/tracyHerrera/tracy3.jpg" class="img-fluid my-1" alt="">

        </div>
        <div class="col-md-6">
            <img src="/images/faculty/tracyHerrera/tracy5.jpg" class="img-fluid mb-1" alt="">
            <img src="/images/faculty/tracyHerrera/tracy6.jpg" class="img-fluid my-1" alt="">  
            <img src="/images/faculty/tracyHerrera/tracy4.jpg" class="img-fluid my-1" alt="">   
        </div>
    </div>
</div>
</section>



<%- include('../partials/footer.ejs') %> 