<%- include('../../partials/head.ejs') %> 

<%- include('../../partials/navbars.ejs') %> 

<section id="newsletterShowcase" class="py-5">
    <h1 class="display-2 text-center">Technology Agreement</h1>
</section>

<section class="py-5 bg-light" id="techAgreement">
    <div class="container">
    <h3 class="display-6 text-center">Tabernacle Technology Use Agreement - Student Use</h3>
    <p>
        Tabernacle School’s technology resources (All desktops, laptops, ipads, and portable technology devices including phones, local and network service and connectivity, and email) enable staff members to access and exchange information quickly and efficiently with other staff members, parents, students, and educational resources. When used properly, we believe these resources greatly enhance the school’s productivity and provide unlimited resources for education.
    </p>
    <p>
        This policy applies to all technology resources that are allowed on our campus, that are used by staff, students, parents, or visitors. This policy applies to all activities using any of the school’s accounts, subscriptions, or other technology services, such as voice mail, email, text messaging, that are conducted from any location on or off campus.
    </p>
    <p>
        The Tabernacle technology network encompasses all technology resources that are interconnected inside our firewall. All computer resources that are used to access the school’s network effectively become part of the Tabernacle electronic network and are therefore subject to the terms and conditions within this agreement.
    </p>

    <h3 class="display-6 text-center">Acceptable Uses</h3>
    <p>
        The computer network at Tabernacle has been configured to allow Internet access for educational purposes. These purposes may include teacher-led discovery, student research activities, and individual technology train-ing. Access to the Internet is filtered on-site to minimize the risk of students encountering disruptive content from inappropriate web sites.
    </p>
    <p>
        Tabernacle School uses a separate network for the students. The student network uses a whitelist of websites that allows student access only to the educational websites that Tabernacle School adds to the list. The staff network has a filter but does not restrict access to search engines, and is not an acceptable network for student use. All of our student devices are restricted to the student network.
    </p>
    <h6>The following uses apply to nework usage</h6>
    <ol>
        <li>Students may access whitelist websites that the school has opened for student use.</li>
        <li>Students may use tech resources only when they have a specific assignment requiring their use or explicit permission from a teacher or librarian to do so.</li>
        <li>Student use of the Internet is contingent upon parental permission in the form of a signed copy of this Use Agreement Policy.</li>
        <li>Students are expected to adhere to the following Internet safety guidelines listed below. Parents, please discuss these rules with your child before signing this document.</li>
    </ol>
    <h6>These guidelines are required on all school devices</h6>
    <ol>
        <li>Never give out your last name, address, or phone number, and do not exchange pictures or any other personal information with strangers or casual acquaintances.</li>
        <li>here are many imposters on the Internet - people pretending to be someone they are not. Never agree to meet in person with anyone with whom you may have had online contact.</li>
        <li>Notify an adult immediately if you receive a message that may be inappropriate, or if you encounter any material that violates this Use Agreement Policy, or if you are unsure.</li>
        <li>Your parents should instruct you if there is additional material that they think would be inappropriate for you to access. Tabernacle expects you to respect your parents’ guidance in all matters.</li>
    </ol>

    <h3 class="display-6 text-center">Unacceptable Uses</h3>
    <p>Tabernacle’s tech resources should not be used for personal gain or the advancement of individual views. Students who wish to express personal opinions on local computers or on the Internet are encourage to obtain a personal account with your parents consent with a commercial Internet service provider to access the Internet without the use of Tabernacle’s resources.</p>
    <p>Solicitation for any non-school business or activities using the school’s resources is strictly prohibited regard-less of the network or device used.</p>
    <p>It is prohibited to mask your identity or indicate that someone else is using your email or login account. You should never access any tech resource by using another student’s name or password.</p>
    <p>Sending, saving, or viewing offensive material is prohibited. Messages stored and/or transmitted by computer, email, text, or phone must not contain content that may reasonably be considered offensive to any student or staff member. Offensive material includes, but is not limited to, sexual comments, jokes or images, racial slurs, gender-specific comments, or any comments, jokes or images that would offend someone on the basis of his or her race, color, gender, creed, sex, age, national origin or ancestry, physical or mental disability, veteran status, marital status, medical condition, sexual orientation, as well as any other category protected by federal, state, or local laws. Any use of Tabernacle’s tech resources to harass or discriminate is unlawful and strictly prohibited by Tabernacle. Violators will be subject to discipline.</p>
    <p>Access and use of Tabernacle’s computer systems should be only for school use, as directed by a teacher or staff member. Access to web pages, files, or any other non-school related items will not be tolerated. Students are not allowed to use any computer system unless authorized by a teacher or staff member.</p>
    <p>You should not copy and distribute copyrighted materials (e.g., software, database files, documenta-tion, articles, graphics, etc.) by any means unless it has been confirmed from appropriate sources that Tabernacle has the right to copy or distribute the material. Failure to observe a copyright may result in disciplinary action by Tabernacle as well as legal action by the copyright owner.</p>
    <p>•Internet/Web access is never entirely secure. •Students may only access computers and ipads during teacher supervised time. Technology should never be accessed without the teacher’s knowledge.•Student personal devices must be stored in their backpacks or lockers and are to be turned off. Tabernacle School will not be liable for lost, missing or damaged personal devices.•Students are not allowed to install software or adjust settings on any of the school’s electronic equipment (ipads, printers, computers, etc.)•Tabernacle School will not be liable for potentially lost, missing, corrupt, or deleted files, for any reason.</p>

    <h3>Student Responsibilities</h3>
    <p>Each student is responsible for the content of all text, audio, or images that he/she places on or sends over Tabernacle’s network resources. Students may only access files or programs that they have permission to use. Violations of any guidelines in this policy may result in disciplinary action up to and including dismissal from Tabernacle. In addition, Tabernacle may advise appropriate legal officials of any violations.Tabernacle is not responsible for any personal data or equipment.</p>

    <form action="" class="bg-white p-5">
        <div class="my-3">
            <h6 class="display-6 text-center">Technology Agreement and Acceptable Use Policy</h6>
            <div class="row mb-3 align-items-end">
                <div class="col-md-4">
                    <label for="studentName" class="form-label"><strong>Student Name:</strong></label>
                    <input type="text" placeholder="First" class="form-control" id="studentFirst">
                </div>
                <div class="col-md-4">
                    <input type="text" placeholder="Last" class="form-control" id="studentLast">
                </div>
                <div class="col-md-4">
                    <label for="date" class="form-label"><strong>Date:</strong></label>
                    <input type="date" class="form-control" id="studentDate">
                </div>
            </div>
    
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="studentCheckbox">
                <label class="form-check-label" for="studentCheckbox">I have read and understand the Acceptable Use Policy and will follow the guidelines outlined above.</label>
            </div>
    
            <label for="studentSig"><strong>Middle School Student Signature</strong></label>
            <div class="row">
                <div class="d-none d-md-block col-md-12">
                     <canvas id="sig-canvas" width="1000"></canvas>
                 </div>
            </div>
            <div class="form-text">All middle school students are required to sign this document stating they have read and understand the Acceptable Use Policy.</div>
        </div>
        
        <div class="mt-5">
            <h6 class="display-6 text-center">ACCEPTABLE INTERNET USE AND PERMISSION TO PUBLISH AGREEMENT</h6>
            <p>STUDENT AGREEMENT - Parents, please explain the terms of Tabernacle School’s Acceptable Technology Use Policy with your child(ren).</p>
            <p>PARENTS/GUARDIAN AGREEMENT/CONSENT - By enrolling my child at Tabernacle School, I/we agree to the following:</p>
            <ol>
                <li>As the parent or legal guardian of the above student, I have read, understand and agree that my child(ren) shall comply with the terms of Tabernacle School’s Acceptable Internet Use Policy for the student’s access to Tabernacle School’s computer network and the Internet. I am therefore signing this Agreement and agree to indemnify and hold harmless Tabernacle School against all claims, damages, losses and costs, of whatever kind, that may result from my child’s (ren’s) use of his or her access to such networks or his or her violation of the foregoing policy.</li>
                <li>I also authorize and give full consent to Tabernacle School to publish projects completed by my student while enrolled at Tabernacle School on the Tabernacle’s website. This material will only be used for activities related to Tabernacle School. No phone numbers, home addresses, screen names, email addresses, or other identifying information will be published in any form.</li>
                <li>Permission to Publish, I hereby authorize and give full consent to Tabernacle to publish and copyright all photographs in which my child or the likeness of my child appears while enrolled as a student in any and all programs of Tabernacle School. I grant permission to Tabernacle to crop photographs of my child at their discretion. I further agree that Tabernacle may transfer or use these photographs in school brochures, newsletters, advertising, posters, displays, slide shows, videotapes, catalogs, CD-ROMs, and like publications, literature, or materials without limitations or reservations.</li>
            </ol>
            <p>I am the parent or the legal guardian of the above-named minor and hereby approve the foregoing and consent to the use of photograph, name, and published project to the pursuant terms mentioned above. I affirm that I have the legal right to issue such consent</p>
            <div class="row">
                <div class="col-md-6">
                    <label for="parentName" class="form-label"><strong>Parent/Guardian Name:</strong></label>
                        <input type="text" placeholder="First" class="form-control mb-3" id="parentFirst">
                        <input type="text" placeholder="Last" class="form-control mb-3" id="parentSecond">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label"><strong>Email:</strong></label>
                    <input type="email" class="form-control">
                    <label for="date" class="form-label"><strong>Date:</strong></label>
                    <input type="date" class="form-control">
                </div>
            </div>

            <label for="parentSig"><strong>Parent/Guardian Signature</strong></label>
            <div class="row mb-3">
                <div class="d-none d-md-block col-md-12 border border-2 rounded">
                     <canvas id="sig-canvas2" width="1000"></canvas>
                 </div>
            </div>

            <h6 class="form-label"><strong>Photography Waiver</strong></h6>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="photoWaiver">
                <label class="form-check-label" for="photoWaiver">I do not want my child’s photo to be used for advertising. (School brochures, newsletters, web-site, or other publications that are used to advertise the school to the public.) This does not include yearbook or Tabernacle Family only publications</label>
            </div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-secondary btn-lg"><strong>Submit</strong></button>
        </div>


    </form>

    </div>
</section>


<script src="/scripts/studentSig.js"></script>
<script src="/scripts/parentSig.js"></script>




<%- include('../../partials/footer.ejs') %> 