<%- include('../partials/head.ejs') %> 

<%- include('../partials/navbars.ejs') %> 


<section id="newsletterShowcase" class="py-5">
    <h1 class="display-2 text-center">Tuesday Newsletter</h1>
</section>

<section id="newsletterBody" class="bg-light py-5">
    <div class="container">
        <p class="lead pb-5 text-center">
            Tabernacle School produces a weekly newsletter on Tuesdays titled, “Tuesday Newsletter”.  This is our primary means of communicating important information with our families.  In addition, each homeroom teacher communicates their class room activities, information, and important quizzes/tests through a newsletter they produce sent home via email. 
        </p>
        <div class="row justify-content-center">
            <div class="col-10">
                <div id="list-example" class="list-group text-center">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">December 7, 2021</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">November 30, 2021</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">November 16, 2021<a>
                </div>
            </div>
            <div class="col-10 bg-white">
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0" style="position: relative; overflow-y:scroll; height: 800px;">
                    <div class="container">
                    <h4 id="list-item-1" class="text-center py-5">Tuesday, December 7, 2021</h4>
                        <h6><em><strong>Angel Bins</strong></em></h6>
                        <p>
                            Tabernacle School is once again partnering with Friends Feeding Friends and Angel Bins. Angel
                            Bins is a ministry that collects athletic shoes for the needy. Donations of gently used or new
                            athletic shoes are greatly appreciated. No soiled shoes or shoes with holes should be
                            offered. They accept children’s, teens, and adult size shoes. The shoes will be refurbished and
                            given to those in need here in the USA and around the world. Our goal is to fill 10 boxes with
                            50 pairs in each—that is 500 pairs of shoes! The collection will begin December 6 and end on
                            December 31. Shoes can be dropped off on the porch outside of the front office. Please feel to
                            contact the shoe drive coordinator, Dara Merritt, with any questions or concerns at
                            <a href="mailto:dmerrit68@gmail.com">dmerritt68@gmail.com</a>.
                        </p>
                        <h6><em><strong>Teacher and Staff Gifts</strong></em></h6>
                        <p>
                            The holidays are here! This year the best way to appreciate your teacher is through <a href="www.micsway.com">www.micsway.com</a>. You can find a personal profile for our staff on this awesome site and send
                            a note/gift card to those you wish.
                        </p>
                        <h6><em><strong>Christmas Holiday</strong></em></h6>
                        <p>
                            Our Christmas vacation will begin on Monday, December 20 and continue through December
                            31.<u>School will reconvene on Monday, January 3.</u>
                        </p>
                        <p>
                            <strong><em>Daycare will be CLOSED on the following days: Friday, December 24 and Friday, December
                                31. Daycare is available to all students who need it.</em></strong>
                        </p>
                        <p>
                            Choice Lunch <strong><u>will not</u></strong> provide lunch service during the Christmas break. <strong><em>You will need to provide a lunch for your child each day.</em></strong>
                        </p>
                        <h6><em><strong>Classroom Parties</strong></em></h6>
                        <p>Just a reminder, please not send in nut products for classroom parties. </p>
                        <h6><em><strong>Christmas Shopping—Amazon Prime</strong></em></h6>
                        <p>Please consider using Amazon Smile for your Christmas shopping purchases. By identifying Tabernacle School, a portion of your purchase is given to the school. </p>

                    <h4 id="list-item-2" class="text-center py-5">Tuesday, November 30, 2021</h4>
                        <h6><em><strong>Thanksgiving Food Drive & Operation Christmas Child</strong></em></h6>
                        <p>
                            Thank you for your generous donations to the Food Bank of Contra Costa and Solano
                            Counties. Because of you, Tabernacle School was able to donate an 836 pounds of food that
                            equates to 697 meals for our neighbors struggling to make ends meet.
                        </p>
                        <p>
                            We also donated 127 shoeboxes to Samaritan’s Purse’s Operation Christmas Child
                            ministry. What an awesome blessing to so many children around the world.
                        </p>
                        <h6><em><strong>Angel Bins</strong></em></h6>
                        <p>
                            Tabernacle School is once again partnering with Friends Feeding Friends and Angel Bins. Angel
                            Bins is a ministry that collects athletic shoes for the needy. Donations of gently used or new
                            athletic shoes are greatly appreciated. No soiled shoes or shoes with holes should be
                            offered. They accept children’s, teens, and adult size shoes. The shoes will be refurbished and
                            given to those in need here in the USA and around the world. Our goal is to fill 10 boxes with
                            50 pairs in each—that is 500 pairs of shoes! The collection will begin December 6 and end on
                            December 31. Shoes can be dropped off on the porch outside of the front office. Please feel to
                            contact the shoe drive coordinator, Dara Merritt, with any questions or concerns at
                            <a href="mailto:dmerrit68@gmail.com">dmerritt68@gmail.com</a>.
                        </p>
                        <h6><em><strong>Teacher and Staff Gifts</strong></em></h6>
                        <p>
                            The holidays are here! This year the best way to appreciate your teacher is through <a href="www.micsway.com">www.micsway.com</a>. You can find a personal profile for our staff on this awesome site and send
                            a note/gift card to those you wish.
                        </p>
                        <h6><em><strong>Christmas Holiday</strong></em></h6>
                        <p>
                            Our Christmas vacation will begin on Monday, December 20 and continue through December
                            31.<u>School will reconvene on Monday, January 3.</u>
                        </p>
                        <p>
                            <strong><em>Daycare will be CLOSED on the following days: Friday, December 24 and Friday, December
                                31. Daycare is available to all students who need it.</em></strong>
                        </p>
                        <p>
                            Choice Lunch <strong><u>will not</u></strong> provide lunch service during the Christmas break. <strong><em>You will need to provide a lunch for your child each day.</em></strong>
                        </p>
                        <h6><em><strong>Classroom Parties</strong></em></h6>
                        <p>Just a reminder, please not send in nut products for classroom parties. </p>
                        <h6><em><strong>Christmas Shopping—Amazon Prime</strong></em></h6>
                        <p>Please consider using Amazon Smile for your Christmas shopping purchases. By identifying Tabernacle School, a portion of your purchase is given to the school. </p>

                    <h4 id="list-item-3" class="text-center py-5">Tuesday, November 16, 2021</h4>
                        <h6><em><strong>Operation Christmas Child</strong></em></h6>
                        <p>
                            Samaritan’s Purse Operation Christmas Child shoeboxes will be picked up this Thursday,
                            November 18.
                        </p>
                        <h6><em><strong>Choice Lunch</strong></em></h6>
                        <p>
                            In honor of the Thanksgiving holiday, school will be closed on Monday, November 22 through Friday, November 26. Daycare is open and available to all students who need it on Monday, November 22 through Wednesday, November 24 only. Due to COVID-19 restrictions, students will remain on campus. Choice Lunch will not have service available this week. You will have to provide lunch for your child.
                        </p>
                        <h6><em><strong>Christmas Shopping-Amazon Prime</strong></em></h6>
                        <p>
                            Please consider using Amazon Smile for your Christmas shopping purchases. By identifying Tabernacle School, a portion of your purchase is given to the school. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<%- include('../partials/footer.ejs') %> 